<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="images" class="months-carousel">
  <button NguCarouselPrev class="carousel_btn_left"><img src="assets/images/calendar/chevron-left.svg" alt=""></button>
  <ngu-tile *nguCarouselDef="let item; let j = index" class="month_item_title">
    <div class="month_item">
      <span>{{item}}</span>
    </div>
  </ngu-tile>
  <button NguCarouselNext class="carousel_btn_right" [style.opacity]="myCarousel.isLast ? 0.5:1"><img
    src="assets/images/calendar/chevron-right.svg" alt=""></button>
</ngu-carousel>
