@import "~assets/variables";

.widget {
  margin: 0 auto;
  max-width: 25rem;
  min-width: 17.143rem;
}

.widget-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .widget-item {
    min-height: 5.143rem;
    box-sizing: border-box;
    border-bottom: 1px dashed #adadad;
    background-color: $bg-widget;
    border-radius: 3px;
    overflow: hidden;

    &:last-child {
      border-bottom: none;
    }

    .widget-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-sizing: border-box;
      padding: 6px 0;
      transition: .3s ease;
    }

    .widget-date {
      min-width: 5.357rem;
      margin-right: 5px;
      box-sizing: border-box;
      position: relative;
      text-align: center;
      font-family: "cormorant_infantmedium", serif;
      transition: .3s ease;
    }

    .week {
      color: $dark-grayish-red;
      font-size: 1.286rem;
      line-height: 1.286rem;
    }

    .day {
      font-family: "cormorant_infantmedium", serif;
      //font-family: $main-font_light;
      font-size: 2.143rem;
      color: $white-color;
      line-height: 2.286rem;
    }

    .month {
      color: $dark-grayish-red;
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  .widget-date p {
    margin: 0;
  }

  .widget-about {
    flex-grow: 1;
    text-align: left;

    .btn-success {
      padding: 0 10px;
      margin-right: 10px;
      margin-top: 5px;
    }

    .ticket_p {
      margin: 0;
      font-family: "cormorant_infantmedium", serif;
    }

    .time {
      margin: 5px 0 0;
      font-family: "cormorant_infantmedium", serif;
      //font-family: $main-font;
      font-size: .857rem;
      color: $white-color;
    }
  }

  .widget-about h3.widget-heading {
    font-family: $main-font;
    font-size: 1.286rem;
    color: $white-color;
    margin-bottom: 0;
  }
}

.widget-item .widget-about .type {
  margin: 0;
  font-family: $main-font_light;
  font-size: .857rem;
  color: $white-color;
}

.hover:hover {
  background-color: $hover-color;

  .link {
    cursor: pointer;
  }
}

.hover:hover .widget-date {

  .week {
    color: $white-color;
  }

  .month {
    color: $white-color;
  }
}

.bg-line {
  background: url("~assets/images/play-stick-menu.png") right center no-repeat;
}

.bg-news-code {
  background: url("~/assets/images/news-code.png") 97% center no-repeat, $new-secondary-color;
  //background: url("~assets/images/news-code.png") 97% center no-repeat, $bg-widget;
}

.mrg10px {
  margin-right: 10px !important;
}

.pdr40px {
  padding-right: 40px !important;
}

.no-events-wrap {
  text-align: center;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  margin: auto;
}
