<ng-container *ngIf="slug !== null; else main">
  <div class="widget">
    <ul class="widget-list">
      <li class="widget-item" *ngFor="let item of listEvents">
        <div class="widget-date" dateArr='item.date_time'>
          <p class="week">{{ moment.locale('uk').format('ddd') }}</p>
          <p class="day">{{ item.date_time | date:'dd' }}</p>
          <p class="month">{{ moment.locale('uk').format('LL').match('[\u0400-\u04FF]+[^ \u0440\.]')[0] }}</p>
        </div>
        <div class="widget-about">
          <h3 class="widget-heading">{{ item.performance.title | titlecase }}</h3>
          <p class="time">{{ item.date_time | date:'hh:mm' }}</p>
        </div>
      </li>
    </ul>
  </div>
</ng-container>
<ng-template #main>
  <div class="widget">
    <ul class="widget-list">
      <li class="widget-item hover bg-news-code pdr34px" *ngFor="let item of listEvents" [routerLink]="[ '/performance', item.performance.slug ]">
        <div class="widget-date bg-line mrg10px">
            <p class="week">{{ moment.locale('uk').format('ddd') }}</p>
            <p class="day">{{ item.date_time | date:'dd' }}</p>
            <p class="month">{{ moment.locale('uk').format('LL').match('[\u0400-\u04FF]+[^ \u0440\.]')[0] }}</p>
          </div>
          <div class="widget-about txt-left">
            <h3 class="widget-heading">{{ item.performance.title | titlecase }}</h3>
            <p class="type">{{ item.performance.type }}</p>
          </div>
      </li>
    </ul>
  </div>
</ng-template>
