<a class="news-item" routerLink="../news/{{item.slug}}">
  <div class="image">
    <img *ngIf="item.mainPicture && item.mainPicture.post_main; else elseImg" [src]="item.mainPicture.post_main.url"
         alt="{{ item.title }}">
    <ng-template #elseImg>
      <img [src]="defaultImg">
    </ng-template>
  </div>

  <div class="text">
    <h3>{{ item.title }}</h3>
      <div class="date">{{ item.created_at | date: 'd.MM.yyyy' }}</div>
      <div class="text">{{ item.short_description }}</div>
    </div>
</a>


