.age-limit {
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  display: flex;
  position: absolute;
  color: $white-color;
  align-items: center;
  justify-content: center;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  background-color: $font-color-accent;

  @media (max-width: map-get($grid-breakpoints, lg-min)) {
    width: 36px;
    height: 36px;
    font-size: $font-size-medium-px;
  }

  @media (max-width: map-get($grid-breakpoints, sm-min)) {
    width: 24px;
    height: 24px;
    font-size: $font-size-xx-small;
  }
}
