@import "~assets/styles/variables";


.list-view {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 20px auto 160px;
  padding: 0;
  font-family: $body-font-family;


  &__item {
    margin: 10px 0;
    position: relative;
    background-color: $background-main-color-lighter;
    height: 220px;
  }

  &__date-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__date {
    width: 220px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: $font-weight-semi-bold;
    font-family: $body-font-family;

    &__day {
      color: $background-color-disabled;
      font-size: $font-largest-x;
      line-height: 1;
    }

    &__day-type {
      font-size: $font-size-x-large;
      color: $border-color-accent;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: .5;
    transition: .3s ease;
  }

  &__content {
    flex: 1;
    padding: 0 30px;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      color: $white-color;
      font-size: $font-size-x-large;
      font-weight: $font-weight-semi-bold;
      transition: .3s ease;
    }

    &__type {
      color: $border-color-accent;
      font-size: $font-size-medium;
      font-weight: $font-weight-semi-bold;
    }

    &__info {
      align-items: flex-end;
      color: $white-color;
      display: flex;
      flex-direction: row;
      font-size: $font-size-medium;
      gap: 16px;
      max-height: 90px;

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        &__icon {
          width: 20px;
          height: 24px;
          color: $border-color-accent;
          padding-bottom: 4px;
        }

        &__clock {
          width: 20px;
          height: 20px;
        }

        &__time {
          font-size: $font-size-large;
          font-weight: $font-weight-semi-bold;
          color: $secondary-background-color;
          transition: .3s ease;
        }

        &__text {
          color: $secondary-background-color;
          padding-bottom: 4px;
        }
      }
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    font-size: $font-size-medium;
    font-weight: $font-weight-semi-bold;
    color: $border-color-light;
    border: solid 1px $border-color-light;
    border-radius: 2px;
    padding: 12px 24px;
  }

  &__arrow-right {
    position: absolute;
    right: 34px;
    bottom: 24px;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 24px 34px 24px 56px;
    box-shadow: $typical-box-shadow;
    overflow: hidden;
    color: $white-color;
    cursor: pointer;
    background-color: $background-main-color-lighter;
    transition: .3s ease;
    z-index: 1;
    width: 100%;
    height: 100%;

    &__age-limit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      height: 56px;
      background-color: $background-color-accent;
      z-index: 2;

      & span {
        font-size: 24px;
        font-weight: $font-weight-semi-bold;
        color: $border-color-light;
      }
    }

    &:hover {
      background-color: transparent;

      .list-view {

        &__content__info__item__time {
          color: $white-color;
        }

        &__date__day {
          color: $white-color;
        }

        &__link__age-limit {
          background-color: $background-on-hover !important;
        }

        &__button {
          background-color: rgba(255, 255, 255, .2);
        }
      }
    }
  }
}

