@import "~assets/styles/variables";

.list-view {
  display: grid;
  grid-gap: 24px;
  max-width: 1310px;
  min-height: 600px;
  grid-auto-rows: 230px;
  margin: 20px auto 160px;
  grid-auto-columns: auto;
  font-family: $body-font-family;

  &__block {
    min-height: 230px;
  }

  &__item {
    width: 100%;
    min-height: 230px;
    position: relative;
    background-color: $background-main-color-lighter;
  }

  &__date {
    width: 220px;
    height: 150px;
    display: flex;
    margin: 10px auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: $body-font-family;
    font-weight: $font-weight-semi-bold;

    &__day {
      line-height: 1;
      font-size: $font-largest-x;
      color: $background-color-disabled;
    }

    &__day-type {
      color: $border-color-accent;
      font-size: $font-size-x-large;
    }
  }

  &__img {
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: .3s ease;
  }

  &__content {
    display: flex;
    transition: .3s ease;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      color: $white-color;
      transition: .3s ease;
      font-size: $font-size-x-large;
      font-weight: $font-weight-semi-bold;
    }

    &__type {
      margin-bottom: 24px;
      color: $border-color-accent;
      font-size: $font-size-medium;
      font-weight: $font-weight-semi-bold;
    }

    &__info {
      gap: 0;
      display: flex;
      flex-wrap: wrap;
      white-space: nowrap;
      font-size: $font-size-medium;

      &__item {
        gap: 8px;
        display: flex;
        min-width: 100px;
        max-width: 200px;
        margin-right: 16px;
        flex-direction: row;
        align-items: center;
        text-overflow: ellipsis;

        &__icon {
          width: 20px;
          height: 24px;
          padding-bottom: 4px;
          color: $border-color-accent;
        }

        &__clock {
          width: 20px;
          height: 20px;
        }

        &__time {
          transition: .3s ease;
          font-size: $font-size-large;
          color: $secondary-background-color;
          font-weight: $font-weight-semi-bold;
        }

        &__text {
          padding-bottom: 4px;
          color: $secondary-background-color;
        }
      }
    }
  }

  &__arrow-right {
    right: 34px;
    bottom: 24px;
    position: absolute;
  }

  &__link {
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-gap: 2%;
    display: grid;
    cursor: pointer;
    overflow: hidden;
    min-height: 230px;
    position: relative;
    color: $white-color;
    transition: .3s ease;
    padding: 24px 34px 24px 56px;
    box-shadow: $typical-box-shadow;
    grid-template-columns: 220px auto 200px;
    background-color: $background-main-color-lighter;

    &:hover {
      background-color: transparent;

      .age-limit {
        transition: .3s;
        background-color: $background-on-hover;
      }

      .list-view {

        &__content__info__item__time {
          color: $white-color;
        }

        &__date__day {
          color: $white-color;
        }


        &__button .btn {
          background-color: rgba($white-color, .2);
        }
      }
    }
  }
}


@media (max-width: map-get($grid-breakpoints, xl-min)) {

  .list-view {
    grid-auto-rows: auto;

    &__block__with-date {
      min-height: 380px;
    }

    &__link {
      padding: 24px 34px 24px 82px;
      grid-template-columns: auto 200px;
    }
  }

  .widget-date {
    height: 440px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg-min)) {

  .list-view {

    &__item {
      height: auto;
      min-height: 250px;
    }

    &__block__with-date {
      min-height: 410px;
    }

    &__content {
      min-width: 100px;
    }

    &__content__info__item {
      margin-right: 16px;
      max-width: fit-content;

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__link {
      grid-gap: 0;
      min-height: 250px;
      grid-template-columns: auto;
      padding: 24px 48px 24px 82px;
    }

    &__button {
      margin-top: 16px;
    }

    &__arrow-right {
      right: 28px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm-min)) {

  .list-view {
    grid-gap: 16px;

    &.without-padding {
      padding: 0;
    }

    &__item {
      height: auto;
      min-height: 230px;
    }

    &__block__with-date {
      min-height: 330px;
    }

    &__date {
      height: 100px;
      margin: 0 auto;

      &__day {
        font-size: $font-size-xxx-large;
      }

      &__day-type {
        font-size: $font-size-medium-px;
      }
    }

    &__link {
      min-height: 230px;
      grid-template-rows: 1fr;
      padding: 16px 42px 24px 40px;
    }

    &__content {

      &__title {
        font-size: $font-size-medium-px;
      }

      &__type {
        font-size: $font-size-small;
      }

      &__info {
        white-space: normal;
        font-size: $font-size-small;

        &__item {
          min-width: 56px;
          margin-bottom: 6px;

          &__icon {
            padding: 0;
          }

          &__text {
            padding: 0;
            font-weight: $font-weight-semi-bold;
          }

          &__time {
            font-size: $font-size-small;
          }
        }
      }
    }

    &__arrow-right {
      right: 16px;
      width: 28px;
      bottom: 36px;
      position: absolute;
    }

    &__venue-item {
      align-items: flex-start;
    }
  }
}
