@import "~assets/styles/variables";

h2 {
  font-family: KobzarKS;
  font-size: 72px;
  line-height: 72px;
  color: #b49864;
  padding-top: 80px;
  margin-bottom: 64px;
  text-align: center;
}

.news_container {
  background-color: #0e0c08;
}

.news_wrapper {
  max-width: 1504px;
  margin: 0 auto;
  border-bottom: .5px solid #323232;
}

.pagination {
  width: 300px;
  padding-top: 35px;
  padding-bottom: 117px;
  margin: 0 0 0 auto;
}

