@import "~assets/styles/variables";

:host {
  flex: 1;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 72px, normal);
}

.news_container {
  max-width: $container-width + 64px;
  margin: 0 auto;
  padding: 0 32px 120px;
}

.news_wrapper {
  border-bottom: .5px solid $border-color-lighter;
  margin: 0 5px 35px;
}

:host ::ng-deep .pagination {
  margin: 0 auto;
}


@media (max-width: map-get($grid-breakpoints, sm-max)) {

  h2 {
    margin-top: 20px;
    margin-bottom: 5px;

    @include font($creative-font, $font-size-xx-large, $font-color-accent, $font-weight-normal, 1.5, normal);
  }

  .news_container {
    padding: 32px 16px 120px;
  }
}
