@import "~assets/styles/variables";

h2 {
  font-family: KobzarKS;
  font-size: 72px;
  line-height: 72px;
  color: #b49864;
  padding-top: 80px;
  margin-bottom: 64px;
  text-align: center;
}

.page {
  background-color: #0e0c08;
}

.news_container {
  max-width: 1504px;
  margin: 0 auto;
  padding-bottom: 184px;
}

.news_wrapper {
  border-bottom: .5px solid #323232;
  margin: 0 5px 35px;
}

.pagination_wrapper {
  float: right;
}

ngb-pagination ::ng-deep li:not(.active) a {
  font-family: Montserrat !important;
  font-size: 18px !important;
  line-height: 18px !important;
  background-color: #0e0c08 !important;
  color: #868583 !important;
  border: none;
  width: 40px !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  font-family: Montserrat !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 18px !important;
  background-color: #0e0c08 !important;
  color: #fff !important;
  border-radius: 2px !important;
  border: solid 2px #868583 !important;
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
