@import "../../assets/variables";

::ng-deep .carousel-control-prev .sr-only, ::ng-deep .carousel-control-next .sr-only {
  display: none;
}

::ng-deep .tab-pane {
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 10px;
  text-align: center;
}

::ng-deep .info .nav-link {
  color: $dark-grayish-red;
  border-color: $light-gray;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

::ng-deep .info .nav-tabs, ::ng-deep .info .nav-tabs .nav-link.active {
  border-color: $light-gray;
}

.container {

  .page-title {
    color: $hover-color;
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
  }

  .page-sub-title {
    color: $hover-color;
    font-size: 16px;
    text-align: center;
    margin: 10px 0 25px;
  }

  .preview {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;

    .performance-widget {
      min-width: 240px;
      order: 2;
      box-sizing: border-box;
      margin: 0 10px;
    }

    .performance-poster {
      width: 235px;
      box-sizing: border-box;
      margin: 0 10px;
      text-align: center;
    }

    .slider {
      min-width: 45%;
      overflow: hidden;
      order: 1;
    }
  }
}

.info {
  margin-bottom: 100px;

  .nav-info {
    margin-top: 20px;
    margin-bottom: -2px;
    box-sizing: border-box;

    .nav-item {
      display: inline-block;
      padding: 5px 10px;
      margin: 15px 0 0;
      border: 1px solid $light-gray;
      border-bottom: none;
      background-color: #fff;
      cursor: pointer;
    }

    .hidden-item {
      border-bottom: 1px solid $light-gray;
    }
  }

  .employees-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      border: 1px solid $light-gray;
      margin: 5px;
      border-radius: 5px;
      overflow: hidden;

      .item {
        text-decoration: none;
        width: 225px;
        height: 300px;
        display: inline-block;
        text-align: center;
        cursor: pointer;

        .name {
          color: $primary-color;
          background: #f8f5f5;
        }

        &:hover .name {
          color: $hover-color;
        }

        .photo {
          width: 100%;
          height: 335px;
        }
      }
    }
  }

  .performances {
    padding: 10px;
    text-align: justify;
    border: 1px solid $light-gray;
    border-bottom: none;
  }

  .press {
    padding: 10px;
    text-align: justify;
    border: 1px solid $light-gray;
    border-bottom: none;
  }
}

.hidden {
  display: none;
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .preview, .slider {
    height: 285px;
    overflow: hidden;
  }

  .item {
    width: 215px !important;
  }

  .preview .performance-widget {
    min-width: 240px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .container .preview {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .container .preview .performance-poster {
    width: 40%;
    margin: 0 auto;
  }

  .container .preview .performance-widget {
    width: 240px;
    margin: 10px auto;
  }

  .preview .slider {
    width: 80%;
    margin: 0 auto;
  }


  .item {
    width: 155px !important;
    height: 200px !important;

    img {
      height: 230px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .wrap {
    display: block;
    width: 630px;
    margin: 0 auto;
  }

  .item {
    width: 145px !important;
    height: 165px !important;
  }

  .item img {
    width: 145px !important;
    height: 220px !important;
  }

  .item p, .item span {
    font-size: 15px;
  }

  .container .preview {
    display: inline-block;
  }

  .container .preview .performance-poster {
    margin: 0 auto;
  }

  .container .preview .performance-widget {
    width: 240px;
    text-align: center;
    margin: 10px auto;
  }

  .preview .slider {
    margin: 0 auto;
  }

  ::ng-deep .carousel {
    width: auto;
  }
}

@media (min-width: 425px) and (max-width: 575.98px) {

  .wrap {
    display: block;
    width: 315px;
    margin: 0 auto;
  }

  .employees-list {

    .item {
      width: 145px !important;
      height: 165px !important;
    }

    .item img {
      width: 145px !important;
      height: 220px !important;
    }
  }

  .container .preview {
    display: inline-block;
  }

  .container .preview .performance-poster {
    margin: 0 auto;
  }

  .container .preview .performance-widget {
    margin: 10px auto;
   width: 240px;
    text-align: center;
  }
}

@media (min-width: 375px) and (max-width: 424.98px) {

  .wrap {
    display: block;
    width: 305px;
    margin: 0 auto;
  }

  .employees-list {

    .item {
      width: 140px !important;
      height: 165px !important;
    }

    .item img {
      width: 140px !important;
      height: 210px !important;
    }
  }

  .container .preview {
    display: inline-block;
  }

  .container .preview .performance-poster {
    width: 70%;
    margin: 0 auto;
  }

  .container .preview .performance-widget {
    margin: 10px auto;
    width: 240px;
    text-align: center;
  }

  .preview .slider {
    margin: 0 auto;
  }
}

@media (min-width: 300px) and (max-width: 374.98px) {

  .wrap {
    display: block;
    width: 255px;
    margin: 0 auto;
  }

  .employees-list {

    .item {
      width: 115px !important;
      height: 150px !important;
    }

    .item img {
      width: 115px !important;
      height: 170px !important;
    }
  }

  .container .preview {
    display: inline-block;
  }

  .container .preview .performance-poster {
    width: 70%;
    margin: 0 auto;
  }

  .container .preview .performance-widget {
    margin: 10px auto;
    width: 240px;
    text-align: center;
  }

  .preview .slider {
    margin: 0 auto;
  }
}
