<div class="container">
  <h2 class="page-title">Спектакль</h2>
<!--  title: "Дорога до сонця"
type: "казка" -->
  <section class="preview">
    <div class="performance-poster">
      <div class="future-img">
        <!--mainPicture -->
        <img src="http://api.theatre.pp.ua/uploads/performance/0001/01/thumb_247_performance_big.jpeg">
        Future image
      </div>
    </div>
    <div class="slider">
      <div class="slider1">

        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide *ngFor="let image of images">
            <img [src]="image" >
                 <!--alt="Random slide"     ghb[jlbn -->
          </ng-template>
        </ngb-carousel>

      </div>
    </div>
    <div class="performance-list">
      <div class="future-list">performances widget</div>
    </div>
  </section>

  <section class="info">

    <ngb-tabset>
      <ngb-tab title="Актори">
        <ng-template ngbTabContent>
          <!--  *ngfor  Author array   нужно делать запрос на GET /performances/{slug}/roles.{_format} --->
          <!--  свою модель для актеров надо написать -->
          <div class="item">
            <img src="http://api.theatre.pp.ua/uploads/employee/0001/01/thumb_138_employee_big.jpeg" alt="">
            <a> <!-- переход на страницу про актера -->
              <span>Гидке каченя - Надія  Корбут</span>
            </a>
          </div>
          <!--<div class="item">-->
          <!--<img src="" alt="">-->
          <!--<span>Info about actor</span>-->
          <!--</div>-->
          <!--<div class="item">-->
          <!--<img src="" alt="">-->
          <!--<span>Info about actor</span>-->
          <!--</div>-->
          <!--<div class="item">-->
          <!--<img src="" alt="">-->
          <!--<span>Info about actor</span>-->
          <!--</div>-->
          <!--<div class="item">-->
          <!--<img src="" alt="">-->
          <!--<span>Info about actor</span>-->
          <!--</div>-->
          <!--<div class="item">-->
          <!--<img src="" alt="">-->
          <!--<span>Info about actor</span>-->
          <!--</div>-->
          <!--<div class="item">-->
          <!--<img src="" alt="">-->
          <!--<span>Info about actor</span>-->
          <!--</div>-->
          <!--<div class="item">-->
          <!--<img src="" alt="">-->
          <!--<span>Info about actor</span>-->
          <!--</div>-->

          <!-- если актеров больше 8 то тогда  показывать  (*ngIf)  -->
         <!-- <nav aria-label="Performance navigation" class="performance-pagination">  &lt;!&ndash;Future pagination&ndash;&gt;
          <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
          </nav>-->
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Про спекталь</ng-template>
        <ng-template ngbTabContent>

        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Преса</ng-template>
        <ng-template ngbTabContent>
          Если нет контента есть смысл скрывать (*ngIf)
        </ng-template>
      </ngb-tab>
    </ngb-tabset>



  </section>
</div>
