::ng-deep .carousel-control-prev .sr-only, ::ng-deep .carousel-control-next .sr-only {
  display: none;
}

::ng-deep .tab-pane {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

::ng-deep .nav-link {
  color: #ccc
}

.page-title {
  color: #e54b2b;
  font-size: 24px;
  text-align: center;
  margin: 30px;
}

.preview {
  display: flex;
  justify-content: center;
  max-height: 300px;
  margin-bottom: 20px;

  .performance-poster, .performance-list {
    border: 1px solid #e54b2b;
    height: 250px;
    width: 25%;
    box-sizing: border-box;
    margin: 0 10px;
    text-align: center;
  }

  .slider {
    width: 50%
  }
}

.info {
  margin-bottom: 100px;

  .nav-info {
    margin-top: 20px;
    margin-bottom: -2px;
    box-sizing: border-box;

    .nav-item {
      display: inline-block;
      padding: 5px 40px;
      margin: 15px 0 0;
      border: 1px solid #ccc;
      border-bottom: none;
      background-color: #fff;
      cursor: pointer;
    }

    .hidden-item {
      border-bottom: 1px solid #ccc;
    }
  }

  .item {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    text-align: center;
  }

  .performance-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-top: none;
  }

  .performances {
    padding: 10px;
    text-align: justify;
    border: 1px solid #ccc;
    border-bottom: none;
  }

  .press {
    padding: 10px;
    text-align: justify;
    border: 1px solid #ccc;
    border-bottom: none;
  }
}

.hidden {
  display: none;
}

@media (min-width: 770px) and (max-width: 991.98px) {
  .preview .performance-poster, .preview .performance-list {
    height: 180px;
  }
}

@media (min-width: 100px) and (max-width: 769.98px) {
  .preview {
    display: block;
    max-height: 1000px;
    text-align: center;
  }

  .preview .performance-poster, .preview .performance-list, .preview .slider {
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    width: 100%;
  }

  .preview .slider {
    width: 100%;
    margin: 10px 0;
  }
}
