<div class="container">
  <app-spinner name="performance-page"></app-spinner>
  <h2 class="page-title text-center"> {{ performance?.title }} </h2>
  <h4 class="page-sub-title">{{ performance?.type }}</h4>

  <section class="preview" *ngIf="performance">
    <div class="performance-poster">
      <div class="future-img">
        <img [src]="performance.mainPicture.performance_big.url" [alt]="performance.mainPicture.performance_big.alt"
        [title]="performance.mainPicture.performance_big.properties.title">
      </div>
    </div>

    <app-widget class="performance-widget"></app-widget>

    <div class="slider" *ngIf="performance.gallery">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of performance.gallery">
          <img [src]="image.images.performance_big.url" [alt]="image.images.performance_big.properties.alt"
               [title]="image.images.performance_big.properties.title">
        </ng-template>
      </ngb-carousel>
    </div>
  </section>

  <section class="info">
    <app-seasons class="info__seasons" *ngIf="performance" [performance]="performance"></app-seasons>

    <ngb-tabset>
      <ngb-tab title="Actors" i18n-title="@@actors" *ngIf="roles?.length">
        <ng-template ngbTabContent>
          <div class="wrap">
            <ul class="employees-list">
              <li *ngFor="let role of roles">
                <a class="item" [routerLink]="['', 'persons', role.employee.slug]">
                  <img class="photo"
                       src="{{ role.employee.avatar.employee_big.url }}"
                       alt="{{ role.title }} | {{ role.employee.first_name }} {{ role.employee.last_name }}"
                       [title]="role.employee.avatar.employee_big.properties.title">
                  <div class="name">
                    <span>{{ role.title }} </span>
                    <p>{{ role.employee.first_name }} {{ role.employee.last_name }}</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="performance">
        <ng-template ngbTabTitle i18n="@@performanceDetails">Description</ng-template>
        <ng-template ngbTabContent>
          <div class="post-text" [innerHtml]="performance.description"></div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </section>
</div>
