@import "../../assets/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: $main-font_light;
    font-size: 24px;
    color: $hover-color;
    margin: 20px 0;
  }

  h3 {
    font-family: $main-font_light;
    font-size: 19px;
    margin: 20px 0;
  }

  .persons-list {
    max-width: 636px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .person {
      width: 150px;
      height: 261px;
      border: 1px solid $light-gray;
      background-color: $light-grayish-red;
      font-size: 12px;
      color: $primary-color;
      text-decoration: none;
      font-family: $main-font;
      text-align: center;
      margin: 0 0 6px 9px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        // height: 200px;
      }

      h4 {
        font-size: 18px;
        font-weight: 400;
        padding-top: 5px;
      }
    }

    .person:hover {
      box-shadow: 0 0 1px $transparent-black;
      color: $hover-color;
    }
  }
}


@media screen and (max-width: 768px) {

  .container {
    width: 520px !important;

    h2 {
      margin: 10px 0;
    }

    img {
      width: 420px !important;
    }

    h3 {
      margin: 10px 0;
    }

    .persons-list {
      max-width: 520px !important;

      .person {
        // width: 115px !important;
        height: 240px !important;
        font-size: 10px;

        h4 {
          font-size: 15.5px !important;
        }
        span {
          padding: 0 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {

  .container {
    width: 320px !important;

    .persons-list {
      width: 305px !important;

      .person {
        width: 140px;
        height: 240px !important;

        span {
          font-size: 11px;
        }
      }
    }
  }
}
