@import "../../assets/variables";
@import "../team/team.component.scss";


.persons-list {
  width: auto !important;
  max-width: 636px !important;

  .person {
    width: 150px;
    height: 261px;
    margin: 0 4.5px 6px 4.5px;

    img {
      width: 100%;
      height: auto !important;
    }
    h4 {
      padding: 5px 0 0 0 !important;
    }
  }
}


@media screen and (max-width: 768px) {

  .container {
    width: 520px !important;

    .persons-list {
      width: auto !important;
      max-width: 380px !important;

      .person {
        height: 217px !important;

        img {
          height: auto !important;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {

  .container {
    width: 320px !important;

    .persons-list {
      width: 267px !important;

      .person {
        width: 120px !important;
      }
    }
  }
}
