<button class="u-unstyled-btn d-none d-lg-block">
  <img src="assets/images/wallet@3x.png"
       class="donate-button"
       alt="Donate"
       title="Donate"
       i18n-title="@@donate"
       *ngIf="!donateBlockVisible"
       (click)="donateBlockVisible = !donateBlockVisible">
</button>

<div *ngIf="donateBlockVisible"
     class="donate-block"
     (click)="donateBlockVisible = false">
  <div class="donate-block__information" (click)="$event.stopPropagation()">
    <img src="assets/images/close.svg"
         class="closing-button"
         alt="Close button"
         title="Close"
         i18n-title="@@ngb.alert.close"
         (click)="donateBlockVisible = false">
    <ng-lottie class="theatre_finance_gif"
               [options]="options"
               [styles]="styles"
               width="200px"
               height="200px">
    </ng-lottie>
    <p class="donate-title">Are you ready to help the Theater?</p>
    <div class="donate-requisites">
      <p><b>Р/р</b> UA883052990000026007021609497</p>
      <p><b>ЄДРПОУ</b> 02225915</p>
      <p>АТ КБ «ПРИВАТБАНК»</p>
      <b>МФО</b> 305299<br>
      <a href='/assets/images/QR.pdf' download>

        <!--TODO: the new link for openFile-function needs to be provided. When the updated link is given, uncomment 'click' method and move it into the image tag-->

        <img src="assets/images/qr-code.png"
             class="qr-code"
             alt="QR Code"
             title='Click to open the “Banking Details” file'
             i18n-title="@@bankingDetails">

        <!--(click)="openFile('https://d2m6zqv2ffku71.cloudfront.net/support-theatre.png')"-->

      </a>
    </div>
  </div>
</div>



