@import "~assets/styles/_variables";

.myContainer {
  background-color: $font-color-black;
  padding-top: 10px;
  padding-bottom: 50px;
  min-height: 700px;
}

.epoch-navigation {
  margin-left: 10%;
  margin-top: 20px;
  color: $font-color-primary;
  font-family: $body-font-family;
  width: 310px;
  height: 32px;
  display: flex;
  flex-direction: row;

  h3 {
    font-size: $font-size-small;
  }

  .epoch-navigation-bold {
    font-weight: $font-weight-semi-bold;
    color: $font-color-white;
  }
}

.epochTitle {
  font-size: $font-largest;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $font-color-accent;
  margin-bottom: 60px;
  margin-top: -10px;
  font-family: $creative-font;
}
