@import "~assets/styles/variables";
@import "~assets/styles/utilities";

$white-color: #fff;
$black-color: #000;
$yellow-color: #fff150;
$blue-color: #1f5080;
$green-color: #0e670b;
$sepia-bg: #f4e0c1;
$sepia-color: #80502b;
$inversion-bg: #88c2f7;
$inversion-color: #0f2c57;

:host {
  border-bottom: 1px solid rgba($white-color, .2);
}

.visually-impaired {
  width: 335px;
  height: 1020px;
  margin-top: 300px;
  background-color: $background-color-accent;
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.color-schemes {

  &__text {
    text-align: center;
    margin-bottom: 5px;
    color: $white-color;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    margin: 0 5px;
    width: 30px;
    height: 30px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    color: $white-color;

    &.--black-white,
    &.--white-black,
    &.--yellow-black,
    &.--black-yellow,
    &.--blue-yellow,
    &.--green-white,
    &.--white-green,
    &.--sepia,
    &.--inversion {
      position: relative;

      & > .hover {
        display: none;
        position: absolute;
        z-index: 99;
        top: 2.5rem;
        left: -1rem;
        min-width: 10.714rem;
        max-width: 21.429rem;
        background-color: $secondary-color;
        color: $white-color;
        border-radius: 5px;
      }

      &:hover > .hover {
        display: block;

        &::before {
          display: block;
          content: "";
          position: absolute;
          top: -.286rem;
          left: 1.571rem;
          width: .714rem;
          height: .714rem;
          z-index: -1;
          transform: rotate(135deg);
          background-color: $secondary-color;
        }
      }
    }

    &.--black-white {
      background-color: $black-color;
      color: $white-color;
    }

    &.--white-black {
      background-color: $white-color;
      color: $black-color;
    }

    &.--yellow-black {
      background-color: $black-color;
      color: $yellow-color;
    }

    &.--black-yellow {
      background-color: $yellow-color;
      color: $black-color;
    }

    &.--yellow-blue {
      background-color: $yellow-color;
      color: $blue-color;
    }

    &.--blue-yellow {
      background-color: $blue-color;
      color: $yellow-color;
    }

    &.--green-white {
      background-color: $green-color;
      color: $white-color;
    }

    &.--white-green {
      background-color: $white-color;
      color: $green-color;
    }

    &.--sepia {
      background-color: $sepia-bg;
      color: $sepia-color;
    }

    &.--inversion {
      background-color: $inversion-bg;
      color: $inversion-color;
    }
  }
}

.size-fonts {

  &__text {
    text-align: center;
    margin-bottom: 5px;
    color: $white-color;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    @include box(40, 40);
  }

  &__button {
    @extend .u-unstyled-btn;

    position: relative;
    border: 1px solid $white-color;
    margin: 0 5px;
    color: $white-color;
    min-width: 36px;

    & > .hover-font {
      display: none;
      position: absolute;
      z-index: 99;
      top: 2.5rem;
      left: -14px;
      min-width: 10.714rem;
      max-width: 21.429rem;
      background-color: $secondary-color;
      color: $white-color;
      border-radius: 5px;
    }

    &:hover > .hover-font {
      display: block;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: -.286rem;
        left: 1.571rem;
        width: .714rem;
        height: .714rem;
        z-index: -1;
        transform: rotate(135deg);
        background-color: $secondary-color;
      }
    }

    &:hover {
      background-color: rgba($white-color, .3);
    }
  }
}

.close-disable {

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__button {
    @extend .u-unstyled-btn;

    margin: 0 5px;
    color: $white-color;

    &:hover {
      background-color: rgba($white-color, .3);
    }
  }
}
