@import "~assets/styles/variables";

.map_wrapper {
  max-width: 735px;
  height: 423px;
}

.map {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 480px) minmax(400px, 735px);
  grid-gap: 30px;
  padding-bottom: 100px;
}

.page_title {
  text-align: center;
  padding-top: 32px;
  margin-bottom: 70px;

  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 72px, normal)
}

.info_item {
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.text {
  margin-right: 7px;
  margin-bottom: 18px;

  @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, $line-height-basic, normal)
}

.info {
  @include font($body-font-family, $font-size-medium, $font-color-white, $font-weight-bold, $line-height-basic, normal)
}

