<!-- TODO: breadcrumbs -->


<div class="mContainer">
    <div class="artisitic-navigation">

        <!-- TODO: update after adding secondary parshion  -->
    
        <h3 i18n="@@mainPage">Main page</h3> <h3>&nbsp;/&nbsp;</h3>
        <h3 i18n="@@persons">Persons</h3> <h3>&nbsp;/&nbsp;</h3>
        <h3 class="persons-navigation-bold" i18n="@@artisticComposition">Artistic Composition</h3>
    </div>
    <div class="page-title">
        <h1 i18n="@@artisticComposition" class="page-title-name">Artistic Composition</h1>
    </div>
    <div class="art-core">
        <h2 class="art-core-title" i18n="@@artCore">Art core</h2>
        <!-- <section class="list-item" *ngFor="let person of directorArr">
            <span class="histories__list-text"> 
                <img class="img" src="{{ person.avatar.employee_big.url }}" alt="photo"
                    [title]="person.avatar.employee_big.properties.title">
                <h4>{{ person.first_name }}<br>{{ person.last_name }}</h4>
            </span>
        </section> -->
    </div>
    <div class="art-prod">
        <h2 class="art-prod-title" i18n="@@artProd">Art-production</h2>
        <!-- <section class="list-item" *ngFor="let person of directorArr">
            <span class="histories__list-text">
                <img src="{{ person.avatar.employee_big.url }}" alt="photo"
                    [title]="person.avatar.employee_big.properties.title">
                <h4>{{ person.first_name }}<br>{{ person.last_name }}</h4>
            </span>
        </section> -->
    </div>
    <div class="epoch">
        <h2 class="epoch-title" i18n="@@epoch">Epoch</h2>
        <!-- <section class="list-item" *ngFor="let person of directorArr">
            <span class="histories__list-text">
                <img src="{{ person.avatar.employee_big.url }}" alt="photo"
                    [title]="person.avatar.employee_big.properties.title">
                <h4>{{ person.first_name }}<br>{{ person.last_name }}</h4>
            </span>
        </section> -->
    </div>
</div>