<!-- TODO: breadcrumbs -->


<div class="artistic-persons-container text-center">
  <div><h1 i18n="@@artisticComposition" class="kobzar-title">Artistic Composition</h1></div>

  <div *ngIf="artCoreEmployees.length > 0 || isArtCoreLoading" class="art-core">
    <div class="slider-container">
      <h2 id="art-persons" class="h2" i18n="@@artCore">Art core</h2>
      <app-persons-slider [persons]="artCoreEmployees" [isLoading]="isArtCoreLoading"></app-persons-slider>
      <div class="link-persons">
        <a routerLink="art-core" i18n="@@showMore">Show more</a>
      </div>
    </div>
  </div>

  <div *ngIf="artProductionEmployees.length > 0 || isArtProductionLoading" class="art-production">
    <div class="slider-container">
      <h2 id="art-production-persons" class="h2" i18n="@@artProd">Art-production</h2>
      <app-persons-slider [persons]="artProductionEmployees" [isLoading]="isArtProductionLoading"></app-persons-slider>
      <div class="link-persons">
        <a routerLink="art-production" i18n="@@showMore">Show more</a>
      </div>
    </div>
  </div>

</div>
