@import "~assets/styles/_variables";

:host {
  flex: 1;
}

.artistic-persons-container {
  margin: 82px auto 64px;

  .slider-container {
    max-width: $container-width;
    margin: 0 auto;

    .h2 {
      margin-bottom: 32px;
    }
  }

  .art-core, .art-production {
    margin: 32px 0;
  }

  .art-core {
    padding: 32px 0;
    background-color: $background-main-color-darker;
  }

  .link-persons {
    margin-top: 24px;

    a {
      text-decoration: none;

      @include font($body-font-family, $font-size-medium, $font-color-accent, $font-weight-bold, 1.5);
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg-min)) {
    margin: 32px auto 64px;
  }

  @media (max-width: map-get($grid-breakpoints, sm-min)) {

    .slider-container .h2 {
      margin-bottom: 16px;
    }

    .art-core {
      padding: 24px 0;
    }

    .link-persons {
      margin-top: 16px;

      a {
        @include font($body-font-family, $font-size-xx-small, $font-color-accent, $font-weight-bold, 1.5);
      }
    }
  }
}
