<div class="myContainer">
  <div class="visit-navigation"></div>

  <h2 class="visitTitle" i18n="@@theatreVisit">Visit to the theatre</h2>

</div>

<div class="text-rules">
  <div class="head-center">
    <div class="head-center-text">
      Шановні гості!
    </div>
    <div class="head-center-text">
      Черкаський драматичний театр імені Т.Г. Шевченка запрошує на вистави та з турботою нагадує
    </div>
    <div class="head-center-text">
      <b>ОСНОВНІ ПРАВИЛА ВІДВІДУВАННЯ ТЕАТРУ</b>
    </div>
    <div class="head-center-text">
      <i>Відвідування театру за придбаним квитком або за запрошенням засвідчує згоду глядача дотримуватися правил громадського порядку, протипожежної безпеки й театрального етикету.</i>
    </div>
  </div>
  <div class="ul-rules">
    <ul>
      <li>У театрі суворо забороняється:</li>
      <ul>
        <li>приносити вогненебезпечні, радіоактивні, вибухові чи отруйні речовини, колючі та ріжучі предмети, піротехніку</li>
        <li>паління та запалення тютюнових виробів (включаючи електронні сигарети) на території театру</li>
        <li>проходити з їжею та напоями до глядацької зали. <i>Цукерки краще їсти під час антракту в буфеті</i>.</li>
        <li>відвідувати вистави з тваринами (виняток собаки-поводирі, за наявності підтверджувального документа). Також заборонено проносити в глядацьку залу валізи та інші габаритні предмети, які можуть заважати глядачам</li>
        <li>проводити несанкціонований професійний відео та аудіо запис вистави</li>
      </ul>
      <li>Мобільні телефони, смартфони, ноутбуки, планшети та іншу техніку просимо перевести у віброрежим, беззвучний, fly-mode або вимкнути</li>
      <li>Щодо записів зображень, звуку та фото під час вистави, відвідувач  погоджується з тим, що ця інформація може бути використана без винагороди та обмежень з точки зору у часі, просторі чи кількості</li>
      <li>Нагадуємо, що <i>поновлювати безпосередньо перед візитом до театру парфуми – є поза нормами театрального етикету.</i> Це може спричинити незручності іншим відвідувачам</li>
      <li>Під час вистави необхідно уникати гучних розмов. <i>Дотримання тиші в театрі – головне правило!</i></li>
      <li><i>Проходити на своє місце краще обличчям до відвідувачів.</i></li>
      <li>Глядач має дбайливо ставитися до театральної власності та до інших глядачів.</li>
      <li>Адміністрація театру залишає за собою право відмовити у перегляді вистави глядачам:</li>
      <ul>
        <li>які перебувають у стані алкогольного або наркотичного сп’яніння</li>
        <li>поводять себе агресивно</li>
        <li>вдягнені невідповідно (пляжний чи спортивний одяг, тощо)</li>
      </ul>
      <li>Суворого дрескоду не має (хоча завжди вітається вид Black Tie), але бажано утриматись від «епатажного» одягу та великих капелюшків, які можуть затуляти сцену іншим відвідувачам. Під час вистави пані можуть додати до буденного одягу прикраси, цього за етикетом буде достатньо, а чоловікам скористатись краваткою. Прем'єрний показ вимагає більш вишуканого вбрання.</li>
      <li>Перед початком вистави необхідно здати верхній одяг у гардероб.</li>
      <li><i>За етикетом,  передавати  верхній одяг бажано перегорнувши його на бік гардеробної.</i></li>
    </ul>
    Черкаський драматичний театр імені Т.Г. Шевченка не несе відповідальність за особисті речі, за винятком предметів зданих до гардеробної. Вартість втраченого гардеробного жетона відшкодовує глядач.
    <ul>
      <li>Вхід до театру можливий за 40 хвилин до початку вистави або концерту за наявності дійсного квитка, придбаного в офіційних точках продажу.</li>
      <li>До глядацької зали Вас запросять першим дзвоником.</li>
      <li>Глядачі повинні займати вказані у квитках місця. Пересідати на інше місце заборонено.</li>
      <li>Доступ до сцени, включаючи допоміжні кімнати, гримерні, тощо дозволяється лише за згодою адміністрації, у компанії відповідального співробітника.</li>
      <li>Під час театрального дійства забороняється ходити по залі, стояти в проходах або поруч з дверима, сидіти на сходах, використовувати індивідуальне підсвічування.</li>
      <li>Аплодувати та робити голосні зауваження під час дійства також не варто. Зробіть це наприкінці. Актори зрадіють голосним щирим аплодисментам.</li>
      <li>Кидати квіти на сцену також не варто. Краще піднятись по східцях та передати букет акторові після закінчення вистави, а якщо ви хочете підняти настрій актору чи актрисі перед виставою, то можна перед початком передати квіти чи інший подарунок з запискою адміністраторам, щоб ті віднесли його в гримерну кімнату.</li>
      <li>Запізнившись на виставу, Ви маєте зайняти місце, запропоноване адміністратором. Пересісти на місце, вказане у квитку, можна під час антракту.</li>
      <li>Після закінчення вистави Глядачі повинні залишити залу протягом 20 хвилин.</li>
      <li>Люди, які пересуваються за допомогою інвалідних візків та їх супроводжуючи особи (за потреби), та інші представники маломобільних груп можуть переглядати заходи у спеціально відведених зонах. Бажано попередити про свій візит адміністрацію завчасно.</li>
      <li>Якщо під час заходу потрібна медична допомога відвідувачі мають негайно повідомити про це співробітника театру.</li>
      <li>Забороняється переставляти будь-які предмети без дозволу адміністрації. Особа, яка заподіяла шкоду, несе повну відповідальність за пошкодження об’єкта, а також за несанкціоноване поводження або введення в експлуатацію.</li>
      <li>Якщо ви знайшли чиєсь втрачене майно, будь ласка, передайте його адміністрації.</li>
      <li>Дякуємо за дотримання порад та правил.</li>
      Вони необхідні для уникнення непорозумінь і Вашого комфортного перебування у театрі.
    </ul>
  </div>
  <div class="pandemia-rules">
    <div class="head-center">
      <div class="head-center-text"><b>РЕКОМЕНДАЦІЇ ДО ВІДВІДУВАННЯ ПІД ЧАС ПАНДЕМІЇ</b></div>
      <div class="head-center-text">Шановні гості!</div>
      <div class="head-center-text">Наскільки важливим є мистецтво для театру, так само важливо пам’ятати про безпеку та здоров’я гостей, акторів та співробітників. </div>
      <div class="head-center-text">Тож ми підготували для вас декілька порад, розроблених на підставі постанов Кабінету Міністрів України №211 та №392, а також Тимчасових рекомендацій щодо організації протиепідемічних заходів під час культурно-мистецьких заходів у зв’язку з поширенням COVID-19.</div>
    </div>
    <ol>
      <li>Придбання квитків</li>
      <ul>
        <li>під час COVID-19 радимо купувати квитки на вистави онлайн</li>
        <li>або використовувати безготівкову оплату у касі театру</li>
        <li>при виявленні симптомів хвороби, залишайтесь, будь ласка, вдома</li>
      </ul>
      <li>Вхід до театру</li>
      <ul>
        <li>Зверніть, будь ласка, увагу, при вході до театру проводиться температурний скринінг усіх відвідувачів,  що займе певний час. Тому просимо вас прибути якомога раніше. </li>
        <li>Bідвідування театру можливе лише за наявності захисних масок або респіраторів. Просимо не знімати маски під час вистави.</li>
        <li>Будь ласка, продезінфікуйте руки! Ви можете знайти дозатори на всіх головних входах до театру, а також на вході до глядацької зали.</li>
        <li>Дотримуйтесь мінімальної дистанції 1,5 метри один від одного, а за можливості й більше.</li>
      </ul>
      <li>Перебування в театрі</li>
      <ul>
        <li>Під час перебування в театрі слід перебувати в захисних масках, що щільно закривають рот та ніс</li>
        <li>Обов’язково дотримуйсь респіраторної гігієни та етикету кашлю</li>
        <li>Дотримуйтесь безпечної дистанції 1,5 метри у фоє театру, вбиральнях та біля гардероба, уникаючи скупчення відвідувачів</li>
        <li>Утримуйтесь від дарування квітів на сцені під час COVID-19.</li>
      </ul>
     </ol>
     <div>Найкраща подяка акторам – ваші гучні аплодисменти! Втім, за бажанням, ви можете висловити подяку артистам в якості букету з запискою через адміністратора театру.</div>
  </div>
  <div>Бажаємо приємного відпочинку та безпечного перебування у Черкаському драматичному театрі імені Т.Г. Шевченка!</div>
</div>