.cooperation_wrapper {
  background-color: #0e0c08;
  display: grid;
  justify-content: center;
}

.page_title {
  font-family: KobzarKS;
  font-size: 72px;
  line-height: 72px;
  color: #b49864;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 32px;
}

.description {
  max-width: 992px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 27px;
  margin: 0 auto;
  color: #b6b6b4;
  text-align: center;
}

.section_title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  padding-bottom: 32px;
  padding-top: 80px;
  text-align: center;
}

.docs_section {
  max-width: 1504px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 352px));
  grid-template-rows: repeat(3, 352px);
  grid-gap: 32px;
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 24px 0;
  background-color: #242424;
  text-decoration: none;
}

.card_title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  height: 78px;
  margin-bottom: 25px;
}

.load {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: .36px;
  color: #b49864;
  margin-top: 67px;
}

.icon {
  width: 96px;
  height: 104px;
  align-self: center;
}

.logo_section {
  display: grid;
  max-width: 1504px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  padding-bottom: 104px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo_card {
  height: 216px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  text-decoration: none;
}

.logo {
  width: 225px;
  height: 83px;
  margin-bottom: 30px;
}

.white {
  background-color: #fff;
}

.logo_card:hover {
  cursor: pointer;
}

.popup_wrapper {
  background-color: rgba(14, 12, 8, .9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup_container {
  max-width: 735px;
  height: 440px;
  background-color: #323232;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-top: 7px;
  margin-right: 8px;
}

.popup_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons_container {
  display: flex;
  width: 345px;
  justify-content: space-between;
}

.popup_description {
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: .48px;
  padding-top: 56px;
  padding-bottom: 44px;
  text-align: center;
  margin: 0;
}

.size {
  color: #b6b6b4;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 33px;
}

.download_button {
  padding: 11px 24px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .36px;
  color: #fff;
  background-color: #323232;
  border-radius: 2px;
  border: solid 1px #fff;
}

.load_as {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: .36px;
  color: #b49864;
}
