<!-- TODO: breadcrumbs -->

<div class="creative-persons-container text-center">
  <div><h1 i18n="@@creative" class="kobzar-title">Creative Composition</h1></div>

  <div *ngIf="actorsEmployees.length > 0 || isActorLoading" class="actors">
    <div class="slider-container">
      <h2 id="actor-persons" class="h2" i18n="@@theatreActors">Theater actors</h2>
      <app-persons-slider [persons]="actorsEmployees" [isLoading]="isActorLoading"></app-persons-slider>
      <div class="link-persons">
        <a routerLink="actors" i18n="@@showMore">Show more</a>
      </div>
    </div>
  </div>

  <div *ngIf="balletEmployees.length > 0 || isBalletLoading" class="ballet">
    <div class="slider-container">
      <h2 id="ballet-persons" class="h2" i18n="@@ballet">Ballet</h2>
      <app-persons-slider [persons]="balletEmployees" [isLoading]="isBalletLoading"></app-persons-slider>
      <div class="link-persons">
        <a routerLink="ballet" i18n="@@showMore">Show more</a>
      </div>
    </div>
  </div>

  <div *ngIf="orchestraEmployees.length > 0 || isOrchestraLoading" class="orchestra">
    <div class="slider-container">
      <h2 id="orchestra-persons" class="h2" i18n="@@orchestra">Orchestra</h2>
      <app-persons-slider [persons]="orchestraEmployees" [isLoading]="isOrchestraLoading"></app-persons-slider>
      <div class="link-persons">
        <a routerLink="orchestra" i18n="@@showMore">Show more</a>
      </div>
    </div>
  </div>

</div>
