<div class="visually-impaired">
  <div class="visually-impaired__color-schemas color-schemes">
    <p class="color-schemes__text" i18n="@@color-schemes">Color schemes</p>

    <div class="color-schemes__nav">
      <div class="color-schemes__buttons">
        <button class="color-schemes__button --black-white">
          Aa
        </button>
        <button class="color-schemes__button --white-black">
          Aa
        </button>
      </div>

      <div class="color-schemes__buttons">
        <button class="color-schemes__button --yellow-black">
          Aa
        </button>
        <button class="color-schemes__button --black-yellow">
          Aa
        </button>
      </div>

      <div class="color-schemes__buttons">
        <button class="color-schemes__button --yellow-blue">
          Aa
        </button>
        <button class="color-schemes__button --blue-yellow">
          Aa
        </button>
      </div>

      <div class="color-schemes__buttons">
        <button class="color-schemes__button --white-green">
          Aa
        </button>
        <button class="color-schemes__button --green-white">
          Aa
        </button>
      </div>

      <div class="color-schemes__buttons">
        <button class="color-schemes__button --sepia">
          Aa
        </button>
        <button class="color-schemes__button --inversion">
          Aa
        </button>
      </div>
    </div>
  </div>

  <div class="visually-impaired__size-fonts size-fonts">
    <p class="size-fonts__text" i18n="@@font-size">Font size</p>

    <div class="size-fonts__buttons">
      <button class="size-fonts__button" (click)="reduceFont()">
        -a
      </button>
      <button class="size-fonts__button" (click)="zoomFont()">
        +A
      </button>
    </div>
  </div>

  <div class="visually-impaired__close-disable close-disable">
    <div class="close-disable__nav">
      <div class="close-disable__buttons">
        <button class="close-disable__button" (click)="trigger.next(false)">
          <svg width="24" height="24">
            <use href="assets/images/close-black-18dp.svg#close"></use>
          </svg>
        </button>
        <button class="close-disable__button" (click)="resetSettings()">
          <svg width="24" height="24">
            <use href="assets/images/visibility-black-18dp.svg#visibility-off"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
