@import "~assets/styles/variables";

.visually-impaired {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 1.1rem;

  svg {
    fill: $white-color;
  }
}

.color-schemes {

  &__text {
    text-align: center;
    margin-bottom: 5px;
    color: $white-color;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    appearance: none;
    background: none;
    border: none;
    color: $white-color;

    &.--black-white,
    &.--white-black,
    &.--yellow-black,
    &.--black-yellow,
    &.--blue-yellow,
    &.--green-white,
    &.--white-green,
    &.--sepia,
    &.--inversion {
      position: relative;

      & > .hover {
        display: none;
        position: absolute;
        z-index: 99;
        top: 2.5rem;
        left: -1rem;
        min-width: 10.714rem;
        max-width: 21.429rem;
        background-color: $primary-color;
        color: $white-color;
        border-radius: 5px;
      }

      &:hover > .hover {
        display: block;

        &::before {
          display: block;
          content: "";
          position: absolute;
          top: -.286rem;
          left: 1.571rem;
          width: .714rem;
          height: .714rem;
          z-index: -1;
          transform: rotate(135deg);
          background-color: $primary-color;
        }
      }
    }

    &.--black-white {
      background-color: $black-color;
      color: $white-color;
    }

    &.--white-black {
      background-color: $white-color;
      color: $black-color;
    }

    &.--yellow-black {
      background-color: $black-color;
      color: $yellow-color;
    }

    &.--black-yellow {
      background-color: $yellow-color;
      color: $black-color;
    }

    &.--yellow-blue {
      background-color: $yellow-color;
      color: $blue-color;
    }

    &.--blue-yellow {
      background-color: $blue-color;
      color: $yellow-color;
    }

    &.--green-white {
      background-color: $green-color;
      color: $white-color;
    }

    &.--white-green {
      background-color: $white-color;
      color: $green-color;
    }

    &.--sepia {
      background-color: $sepia-bg;
      color: $sepia-color;
    }

    &.--inversion {
      background-color: $inversion-bg;
      color: $inversion-color;
    }
  }
}

.size-fonts {

  &__text {
    text-align: center;
    margin-bottom: 5px;
    color: $white-color;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  &__button {
    position: relative;
    appearance: none;
    background: none;
    border: 1px solid $white-color;
    margin: 0 5px;
    color: $white-color;
    min-width: 36px;

    & > .hover-font {
      display: none;
      position: absolute;
      z-index: 99;
      top: 2.5rem;
      left: -14px;
      min-width: 10.714rem;
      max-width: 21.429rem;
      background-color: $primary-color;
      color: $white-color;
      border-radius: 5px;
    }

    &:hover > .hover-font {
      display: block;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: -.286rem;
        left: 1.571rem;
        width: .714rem;
        height: .714rem;
        z-index: -1;
        transform: rotate(135deg);
        background-color: $primary-color;
      }
    }

    &:hover {
      background-color: $white-hover-color;
    }
  }
}

.close-disable {

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__button {
    appearance: none;
    background: none;
    border: none;
    margin: 0 5px;
    color: $white-color;

    &:hover {
      background-color: $white-hover-color;
    }
  }
}
