@import "~assets/styles/variables";

:host {
  flex: 1;
}

.container {
  margin: 32px auto;
  text-align: center;
  padding: 0 16px;
}

.text {
  margin: 0;

  @include font($body-font-family, $font-size-medium, $font-color-white, $font-weight-normal, $line-height-basic, normal);

  a {
    text-decoration: underline;
    text-underline-offset: 3px;

    @include font($body-font-family, $font-size-medium, $font-color-white, $font-weight-normal, $line-height-basic, normal);
  }
}

.animation {
  width: 478px;
  height: 288px;
  object-fit: contain;
  margin: 0 auto;
}

@media screen and (max-width: 460px) {

  .animation {
    width: 345px;
    height: 208px;
  }

  .text {
    @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);

    a {
      @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm-min)) {

  .animation {
    width: 288px;
    height: 174px;
  }

  .text {
    max-width: 270px;

    @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);

    a {
      @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);
    }
  }
}
