@import "~assets/styles/variables";

.container {
  margin: 0 auto;
  text-align: center;
  padding: 80px 5px 90px;
}

.title {
  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 1, normal);
}

.text {
  margin: 0;

  @include font($body-font-family, $font-size-medium, $font-color-white, $font-weight-normal, $line-height-basic, normal);

  a {
    text-decoration: underline;
    text-underline-offset: 3px;

    @include font($body-font-family, $font-size-medium, $font-color-white, $font-weight-normal, $line-height-basic, normal);
  }
}

.animation {
  width: 478px;
  height: 288px;
  object-fit: contain;
  margin: 0 auto;
}

@media screen and (max-width: 460px) {

  .animation {
    width: 345px;
    height: 208px;
  }

  .title {
    @include font($creative-font, $font-size-xxx-large, $font-color-accent, $font-weight-normal, 1.11, normal);
  }

  .text {
    @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);

    a {
      @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);
    }
  }
}

@media screen and (max-width: 320px) {

  .animation {
    width: 288px;
    height: 174px;
  }

  .title {
    @include font($creative-font, 36px, $font-color-accent, $font-weight-normal, 1.11, normal);
  }

  .text {
    max-width: 270px;

    @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);

    a {
      @include font($body-font-family, $font-size-small, $font-color-white, $font-weight-normal, $line-height-basic, normal);
    }
  }
}
