<app-spinner name="seasons"></app-spinner>
<div class="seasons">
  <span *ngIf="seasons"><span i18n="@@seasons">Seasons</span>: </span>
  <span
    *ngIf="seasons && !performance"
    class="badge badge-pill badge-primary season-badge"
    [class.active]="ALL_SEASONS == activeSeasonNumber"
    (click)="loadSeason(ALL_SEASONS)"
    i18n="@@allSeasons"
  >All Seasons</span>

  <ng-container *ngIf="seasons && !performance">
    <span
      *ngFor="let season of seasons"
      class="badge badge-pill badge-primary season-badge"
      [class.active]="season.number == activeSeasonNumber"
      (click)="loadSeason(season.number)"
    >{{ season.name }}</span>
  </ng-container>

  <ng-container *ngIf="seasons && performance">
     <span
       *ngFor="let season of filterSeasonsByPerformance(seasons, performance)"
       class="badge badge-pill badge-primary season-badge"
       [routerLink]="['/repertoire']"
       [queryParams]="{season : season.number}"
     >{{ season.name }}</span>
  </ng-container>

  <span
    *ngIf="seasons && !performance"
    class="badge badge-pill badge-primary season-badge"
    [class.active]="ARCHIVE_SEASON == activeSeasonNumber"
    (click)="loadSeason(ARCHIVE_SEASON)"
    i18n="@@archiveSeason"
  >Archive</span>
</div>

<div class="seasons" *ngIf="!performance">
  <ng-container *ngIf="seasons">
    <span i18n="@@audience">Audience</span>
    <span>: </span>
  </ng-container>

  <span
    *ngIf="seasons"
    class="badge badge-pill badge-primary season-badge"
    [class.active]="!EAudience.ALL_AUDIENCE === !activeAudience"
    (click)="filterAudience(EAudience.ALL_AUDIENCE)"
    i18n="@@allAudience"
  >All</span>

  <span
    *ngIf="seasons"
    class="badge badge-pill badge-primary season-badge"
    [class.active]="EAudience.KIDS_AUDIENCE === activeAudience"
    (click)="filterAudience(EAudience.KIDS_AUDIENCE)"
    i18n="@@for_kids"
  >For Kids</span>

  <span
    *ngIf="seasons"
    class="badge badge-pill badge-primary season-badge"
    [class.active]="EAudience.ADULT_AUDIENCE === activeAudience"
    (click)="filterAudience(EAudience.ADULT_AUDIENCE)"
    i18n="@@for_adult"
  >For Adult</span>
</div>
