@import "~assets/styles/variables";

:host {
  display: block;
}

.season-badge {
  margin-right: 3px;
  background-color: $main-color;
  cursor: pointer;
  transition: .3s ease;

  &:hover, &.active {
    background-color: $main-color-darker;
  }

  &.active {
    cursor: default;
  }
}
