<app-spinner name="seasons"></app-spinner>

<span *ngIf="seasons"><span i18n="@@seasons">Seasons</span>: </span>

<span
  *ngIf="seasons"
  class="badge badge-pill badge-primary season-badge"
  [ngClass]="ALL_SEASONS == activeSeasonNumber ? 'active' : ''"
  (click)="loadSeason(ALL_SEASONS)"
  i18n="@@allSeasons">All Seasons</span>

<span
  *ngFor="let season of seasons"
  class="badge badge-pill badge-primary season-badge"
  [ngClass]="season.number == activeSeasonNumber ? 'active' : ''"
  (click)="loadSeason(season.number)">{{ season.name }}</span>

<span
  *ngIf="seasons"
  class="badge badge-pill badge-primary season-badge"
  [ngClass]="ARCHIVE_SEASON == activeSeasonNumber ? 'active' : ''"
  (click)="loadSeason(ARCHIVE_SEASON)"
  i18n="@@archiveSeason">Archive</span>

