@import "../../assets/variables";

.heading {
  margin: 20px 0;
  font-size: $main-font-size;
  text-align: center;
  color: $hover-color;
  font-family: $main-font;
}

.list {
  font-family: $main-font;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .list-item {
    position: relative;
    padding: 20px 22px 0 0;
    flex-basis: 50%;
    border-right: 3px solid $light-grayish-red;

    &:last-child {
      padding-bottom: 20px;
    }

    .histories__list-body_link {
      text-decoration: none;
    }

    .histories__list-body {
      position: relative;
      max-width: 430px;
      border: 1px solid $light-gray;
      border-radius: 2px;
      padding: 12px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
      margin: 0 18px 0 0;

      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        top: 36px;
        right: -10px;
        border: 1px solid $light-gray;
        background-color: $white-color;
        transform: rotate(45deg);
        border-top: 1px solid $light-gray;
        border-left: 1px solid transparent;
        border-right: 1px solid $light-gray;
        border-bottom: 1px solid transparent;
      }

      .histories__list-heading {
        color: $primary-color;
        font-size: 19px;
      }

      .histories__list-main .histories__list-main_text {
        color: $new-secondary-color;
        font-size: 16px;
      }

      .histories__list-main .histories__list-main_img {
        display: block;
        margin: 5px auto;
        max-height: 300px;
      }
    }

    .histories__list-footer {
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: $hover-color;
      top: 42px;
      right: -27px;
    }

    .histories__list-footer .year {
      font-family: "cormorant_infantbold", serif;
      display: block;
      margin-top: 12px;
      font-size: 18px;
      color: $white-color;
      text-align: center;
    }

    &:nth-child(2n) {
      position: relative;
      border-right: none;
      padding: 20px 0 0 22px;

      .histories__list-body {
        float: right;
        transform: translateY(102px);
        margin: 0 0 0 18px;
      }

      .histories__list-body::after {
        left: -10px;
        border: 1px solid $light-gray;
        background-color: $white-color;
        transform: rotate(45deg);
        border-top: 1px solid transparent;
        border-left: 1px solid $light-gray;
        border-right: 1px solid transparent;
        border-bottom: 1px solid $light-gray;
      }

      .histories__list-footer {
        position: absolute;
        top: 144px;
        left: -27px;
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .list {
    padding-left: 24px;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 510px;
    margin: 0 auto;

    .list-item {
      padding: 20px 0 0;
      border-left: 3px solid $light-grayish-red;
      border-right: none;

      .histories__list-body {
        float: right;
        margin: 0 0 0 40px;
      }

      .histories__list-body::after {
        left: -10px;
        border-top: 1px solid transparent;
        border-left: 1px solid $light-gray;
        border-right: 1px solid transparent;
        border-bottom: 1px solid $light-gray;
      }

      .histories__list-footer {
        left: -27px;
      }

      &:nth-child(2n) {
        padding: 20px 0 0;

        .histories__list-body {
          transform: translateY(0);
          margin: 0 0 0 40px;
        }

        .histories__list-footer {
          top: 42px;
        }
      }
    }
  }
}

@media screen and (max-width: 416px) {

  .list .list-item .histories__list-body .histories__list-heading {
    font-size: 16px;
  }
}
