.container-my {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
}

.heading {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
    color: #e54b2b;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
    padding-bottom: 40px;

    .list-item {
        position: relative;
        padding: 20px 0 0 0;
        flex-basis: 50%;
        border-right: 3px solid #eee;

        .histories__list-body {
            position: relative;
            max-width: 430px;
            height: 435px;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 12px;
            box-shadow: 0 1px 6px rgba(0,0,0,0.175);
            margin-right: 16px;
            margin-left: 0px;
            margin: 0 16px 0 0;
            
            &::after {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                top: 36px;
                right: -10px;
                border: 1px solid #d4d4d4;
                background-color: #fff;
                transform: rotate(45deg);
                border-top: 1px solid #d4d4d4;
                border-left: 1px solid transparent;
                border-right: 1px solid #d4d4d4;
                border-bottom: 1px solid transparent; 
            }

            .histories__list-body_link {
                text-decoration: none;
            }

            .histories__list-header {
                .histories__list-header_heading {
                    color: #474b4d;
                    font-size: 18px;
                    font-weight: 900;
                }
            }

            .histories__list-main {
                max-height: 360px;
                overflow: hidden;

                .histories__list-main_text {
                    color: #868b8c;
                    font-size: 14px;
                }

                .histories__list-main_img {
                    display: inline-block;
                    margin: 5px 0;
                    width: 100%;
                    height: 272px;
                }
            }
        }

        .histories__list-footer {
            position: absolute;
            content: "";
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: #df442b;
            top: 42px;
            right: -27px;

            .year {
                display: block;
                margin-top: 10.8px;
                font-size: 18px;
                font-weight: 900;
                color: #fff;
                text-align: center;
            }
            
        }

        &:nth-child(2n) {
            position: relative;
            border-right: none; 

            .histories__list-body {
                float: right;
                transform: translateY(100px);
                margin: 0 0 0 16px;

                &::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 36px;
                    left: -10px;
                    border: 1px solid #d4d4d4;
                    background-color: #fff;
                    transform: rotate(45deg);
                    border-top: 1px solid  transparent;
                    border-left: 1px solid #d4d4d4;
                    border-right: 1px solid transparent;
                    border-bottom: 1px solid #d4d4d4; 
                }
            }

            .histories__list-footer {
                position: absolute;
                top: 144px;
                left: -27px;
            }
        }
    }
}


