@import "~assets/styles/variables";

.wrapped {
  max-width: $container-width;
  padding-bottom: 140px;
  margin: 0 auto;
}

.wrapped__title {
  cursor: default;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  transition: ease .2s;

  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 1, normal);
}

.wrapped__active-nav {
  cursor: default;
  text-align: center;
  transition: ease .2s;

  @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, 1.5, .8);
}

.wrapped__performances {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 30px;
  transition: ease .2s
  //grid-template-rows: 490px;
}

.item__wrapper {
  transition: ease .2s;
  height: 500px;
  width: 350px;
}

.image-performance {
  cursor: pointer;
  height: 500px;
  width: 350px;
  object-fit: cover;
}

.item__container {
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
}

.age-restrictions {
  cursor: default;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-bold;
  text-align: center;
  font-size: $font-size-large;
  color: $font-color-white;
  font-family: $body-font-family;
  background-color: $background-color-accent;
  transition: ease .2s;

  @include container(56px, 56, 0, 0);
}

.pagination__wrapper {
  margin-top: 30px;
  float: right;
}

:host ::ng-deep .pagination__mobile-view {

  .pagination > .page-item > .page-link {
    font-size: $font-size-xx-small;
  }
}

@media (max-width: 1550px) {

  .wrapped__performances {
    grid-gap: 16px;
  }
}

@media (max-width: 1480px) {

  .wrapped {
    max-width: 800px;
    padding: 0 14px 140px;
  }

  .wrapped__performances {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .wrapped {

    &__title {
      margin-bottom: 20px;

      @include font($creative-font, $font-size-xx-large, $font-color-accent, $font-weight-normal, 1, normal);
    }

    &__active-nav {
      @include font($body-font-family, $font-size-large, $font-color-white, $font-weight-semi-bold, 1.5, .8);
    }

    &__performances {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .age-restrictions {
    font-size: $font-size-xx-small;

    @include container(24px, 24, 0, 0);
  }

  .image-performance {
    height: 426px;
    width: 300px;
  }

  .item__wrapper {
    width: auto;
    height: auto;
    min-width: 136px;
    min-height: 192px;
  }
}

@media (max-width: 600px) {

  .image-performance {
    height: 355px;
    width: 250px;
  }
}

@media (max-width: 500px) {

  .image-performance {
    height: 284px;
    width: 200px;
  }
}

@media (max-width: 400px) {

  .image-performance {
    height: 213px;
    width: 150px;
  }
}

@media (max-width: 400px) {

  .image-performance {
    height: 242px;
    width: 170px;
  }
}

@media (max-width: 360px) {

  .image-performance {
    height: 192px;
    width: 136px;
  }
}
