@import "~assets/styles/variables";

.wrapped {
  max-width: $container-width;
  padding-bottom: 140px;
  margin: 0 auto;
}

.wrapped__title {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;

  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 1, normal);
}

.wrapped__active-nav {
  text-align: center;

  @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, 1.5, .8);
}

.wrapped__perfomances {
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item__wraper {
  @include box(350, 500);
}

.image-performance {
  cursor: pointer;

  @include box(350, 500);
}

.item__container {
  position: relative;
  margin: 10px;
}

.age-restrictions {
  position: absolute;
  left: 0;
  font-size: $font-size-large;
  color: $font-color-white;
  background-color: $background-color-accent;

  @include container(56px, 56, 10px 8px 10px 9px, 0);
}

.pagination_wrapper {
  margin-top: 30px;
  float: right;
}
