<app-repertoire-nav-header></app-repertoire-nav-header>

<div class="wrapped">
  <h2 class="wrapped__title" i18n="@@repertoire">Repertoire</h2>

  <app-spinner name="repertoire"></app-spinner>

  <p class="wrapped__active-nav" *ngIf="audience === null && !seasonNumber" i18n="@@allPerformances">All performances</p>
  <p class="wrapped__active-nav" *ngIf="audience=== 'adults'" i18n="@@adults">For adults</p>
  <p class="wrapped__active-nav" *ngIf="audience=== 'kids'" i18n="@@kids">For kids</p>
  <p class="wrapped__active-nav" *ngIf="seasonNumber" i18n="@@archive">Archive</p>

  <div class="wrapped__perfomances">
    <div class="perfomance__item" *ngFor="let item of perfomances | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="item__container" [routerLink]="['', 'performance', item.slug]">
        <img class="image-performance" [src]="item.mainPicture.performance_big.url"
             [alt]="item.mainPicture.performance_small.properties.alt">
        <span class="age-restrictions">{{ item.age_limit }}+</span>
      </div>
    </div>
  </div>

  <ngb-pagination class="pagination d-flex justify-content-end"
    [collectionSize]="collectionSize"
    [(page)]="page"
    [boundaryLinks]="false"
    [rotate]="true"
    [pageSize]="pageSize"
  >
    <ng-template ngbPaginationPrevious>&#8592;</ng-template>
    <ng-template ngbPaginationNext>&#8594;</ng-template>
  </ngb-pagination>

</div>
