<app-repertoire-nav-header></app-repertoire-nav-header>
<div class="container">
  <h2 class="page-title text-center" i18n="@@repertoire">Repertoire</h2>

  <app-spinner name="repertoire"></app-spinner>

  <p *ngIf="audience === null && !seasonNumber" i18n="@@allPerformances">All performances</p>
  <p *ngIf="audience=== 'adults'" i18n="@@adults">For adults</p>
  <p *ngIf="audience=== 'kids'" i18n="@@kids">For kids</p>
  <p *ngIf="seasonNumber" i18n="@@archive">Archive</p>

  <div class="perfomances">
    <div class="perfomance-item" *ngFor="let item of perfomances">
      <div class="image-wraper" [routerLink]="['', 'performance', item.slug]">
        <img class="image" [src]="item.mainPicture.performance_big.url"
             [alt]="item.mainPicture.performance_small.properties.alt" >
      </div>
    </div>
  </div>
</div>
