<svg display="none">
  <symbol id="arrow-left" viewBox="0 0 19 8">
    <path d="M0 4L4 0V3H19V5H4V8L0 4Z" fill="#868583"/>
  </symbol>
  <symbol id="arrow-right" viewBox="0 0 19 8">
    <path d="M19 4l-4-4v3H0v2h15v3l4-4z" fill="#868583"/>
  </symbol>
</svg>

<app-repertoire-nav-header class="d-none d-xl-max-block" (setFirstPage)="setFirstPage($event)"></app-repertoire-nav-header>

<div class="wrapped">
  <h1 class="wrapped__title" i18n="@@repertoire">Repertoire</h1>

  <app-spinner name="repertoire"></app-spinner>

  <p *ngIf="audience === null && !seasonNumber" class="wrapped__active-nav" i18n="@@allPerformances">All
    performances</p>
  <p class="wrapped__active-nav" *ngIf="audience=== 'adults'" i18n="@@adults">For adults</p>
  <p class="wrapped__active-nav" *ngIf="audience=== 'kids'" i18n="@@kids">For kids</p>
  <p class="wrapped__active-nav" *ngIf="seasonNumber" i18n="@@archive">Archive</p>

  <div class="wrapped__performances">
    <div *ngFor="let item of performances | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
         class="item__wrapper">
      <div class="item__container" [routerLink]="['', 'performance', item.slug]">
        <img class="image-performance" [src]="item.mainPicture.performance_big.url"
             [alt]="item.title">
        <span class="age-restrictions">{{ item.age_limit }}+</span>
      </div>
    </div>
  </div>

  <div *ngIf="collectionSize > pageSize" class="pagination__wrapper">
    <ngb-pagination [(page)]="page"
                    (pageChange)="goToPage($event)"
                    [collectionSize]="collectionSize"
                    [pageSize]="pageSize"
                    class="pagination"
                    [class.pagination__mobile-view]="viewMode === views.sm_min"
    >
      <ng-template ngbPaginationPrevious>
        <svg>
          <use xlink:href="#arrow-left"></use>
        </svg>
      </ng-template>
      <ng-template class="arrows" ngbPaginationNext>
        <svg>
          <use xlink:href="#arrow-right"></use>
        </svg>
      </ng-template>
    </ngb-pagination>
  </div>

</div>
