<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 class="page-title">Контакти</h2>
    </div>
  </div>
  <div class="row">
    <section class="col-xs-12 col-sm-12 col-lg-6"> map will be here</section>
    <ul class="col-xs-12 col-sm-12 col-lg-6 contacts-wrapper">
      <li>
        <div class="contact-item-name">Директор, Секретар</div>
        <div class="contact-item-content">
          <div class="contact-phone-img"></div>
          <div class="contact-item">(0472)36-07-20</div>
        </div>
      </li>
      <li>
        <div class="contact-item-name">Адміністратор</div>
        <div class="contact-item-content">
          <div class="contact-phone-img"></div>
          <div class="contact-item">(0472)36-07-18</div>
        </div>
      </li>
      <li>
        <div class="contact-item-name">Каса</div>
        <div class="contact-item-content">
          <div class="contact-phone-img"></div>
          <div class="contact-item">(0472)36-07-21</div>
        </div>
      </li>
      <li>
        <div class="contact-item-name">Eлектронна пошта</div>
        <div class="contact-item-content">
          <div class="contact-mail-img"></div>
          <div class="contact-item"><a href="mailto:theatre.cherkasy@gmail.com">theatre. cherkasy@ gmail.com</a></div>
        </div>
      </li>
      <li>
        <div class="contact-item-name">Звертайтеся за адресою</div>
        <div class="contact-item-content">
          <div class="contact-map-pin-img"></div>
          <div class="contact-item">м. Черкаси, бул. Шевченка, 234</div>
        </div>
      </li>
    </ul>
  </div>
</div>
</body>
