<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 class="page-title">Контакти</h2>
    </div>
  </div>
  <div class="row">
    <iframe class="map col-xs-12 col-sm-12 col-lg-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.251562988534!2d32.05918508347506!3d49.441962219007124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b7e806fe79d%3A0x8962970b2d9c1d7d!2sCherkas%CA%B9kyy+Akademichnyy+Oblasnyy+Ukrayins%CA%B9kyy+Muzychno-Dramatychnyy+Teatr+Imeni+T.+H.+Shevchenka!5e0!3m2!1sru!2sua!4v1553702042151"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    <ul class="col-xs-12 col-sm-12 col-lg-6 contacts-items-wrapper">
      <li>
        <div class="contact-item-name">Директор, Секретар</div>
          <div class="contact-phone-img"></div>
          <div class="contact-item-content">(0472)36-07-20</div>
      </li>
      <li>
        <div class="contact-item-name">Адміністратор</div>
          <div class="contact-phone-img"></div>
          <div class="contact-item-content">(0472)36-07-18</div>
      </li>
      <li>
        <div class="contact-item-name">Каса</div>
          <div class="contact-phone-img"></div>
          <div class="contact-item-content">(0472)36-07-21</div>
      </li>
      <li>
        <div class="contact-item-name">Eлектронна пошта</div>
          <div class="contact-mail-img"></div>
          <div class="contact-item-content"><a href="mailto:theatre.cherkasy@gmail.com">theatre. cherkasy@gmail.com</a></div>
      </li>
      <li>
        <div class="contact-item-name">Звертайтеся за адресою</div>
          <div class="contact-map-pin-img"></div>
          <div class="contact-item-content">м. Черкаси, бул. Шевченка, 234</div>
      </li>
    </ul>
  </div>
</div>
</body>
