<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2 class="page-title">Контакти</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-6"> map will be here</div>
      <ul class="col-xs-12 col-sm-12 col-lg-6 contacts-wrapper">
        <li>
          <span class="contact-item">Директор, Секретар</span>
          <div class="contact-phone-img"></div>
          <span class="contact-item">(0472)36-07-20</span>
        </li>
        <li>
          <span class="contact-item">Адміністратор</span>
          <div class="contact-phone-img"></div>
          <span class="contact-item">(0472)36-07-18</span>
        </li>
        <li>
          <span class="contact-item">Каса</span>
          <div class="contact-phone-img"></div>
          <span class="contact-item">(0472)36-07-21</span>
        </li>
        <li>
          <span class="contact-item">Eлектронна пошта</span>
          <div class="contact-mail-img"></div>
          <span class="contact-item"><a href="mailto:theatre.cherkasy@gmail.com">theatre.cherkasy@gmail.com</a>
        </span>
        </li>
        <li>
          <span class="contact-item">Звертайтеся за адресою</span>
          <div class="contact-map-pin-img"></div>
          <span class="contact-item">м. Черкаси, бул. Шевченка, 234</span>
        </li>
      </ul>
    </div>
  </div>
</body>
