@import "../../../assets/variables";

h3 {
  text-align: center;
  font-size: 1.875rem;
  color: $hover-color;
  font-family: $main-font;

  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.board-section {
  align-items: center;
  text-align: center;

  img {
    margin-top: 1.25rem;
  }

  p {
    font-size: 1.25rem;
    font-family: $main-font;
    color: $primary-color;

    margin-top: 1.25rem;
  }
}
