<div class="partners-container">
  <div class="partners">
    <h1 class="partners__title" i18n="@@partners">Partners</h1>
    <div class="partners__text">

      <!--TODO: The appropriate "Partners" text needs to be created; the translation of it (if any) should be executed in "locale" files-->

      <p>Партнери - це наші добрі друзі та допомога театру... жодного концерту від улюблених зірок, змогли потрапити на
        важливу театральну прем'єру і встигли купити квитки на краще дійство для дітей ми створили цей сайт. Тож, кожен
        глядач, який чекає від нас якості та приємних емоцій знов зможе обрати для себе захід. Тож дякуємо вам!
      </p>
    </div>
  </div>
  <div class="partners-persons">

    <!--TODO: images of people (with their real name/last name/title/subtitle) should be added-->

    <h3 class="partners-persons__title" i18n="@@kindPeople">Kind people</h3>
    <ul class="partners-persons__list">
      <li class="partner__person">
        <div class="person__img-wrapper">
          <img src="assets/images/trustee/incognita_color@3x.png" alt="Константин Константинопольский"
               class="person__img" title="Константин Константинопольский">
        </div>
        <h4 class="person__person-title">Константин Константинопольский</h4>
        <p class="person__person-subtitle">Директор ТОВ «Щастя»</p>
      </li>
      <li class="partner__person">
        <div class="person__img-wrapper">
          <img src="assets/images/trustee/Actor@3x.png" alt="Добриня Нікітічна"
               class="person__img" title="Добриня Нікітічна">
        </div>
        <h4 class="person__person-title">Добриня Нікітічна</h4>
        <p class="person__person-subtitle">Директорка ТОВ «Щастя поблизу»</p>
      </li>
      <li class="partner__person">
        <div class="person__img-wrapper">
          <img src="assets/images/trustee/Rectangle 289@3x.jpg" alt="Олег Повович"
               class="person__img" title="Олег Повович">
        </div>
        <h4 class="person__person-title">Олег Повович</h4>
        <p class="person__person-subtitle">Директор ТОВ «Щастя»</p>
      </li>
      <li class="partner__person">
        <div class="person__img-wrapper">
          <img src="assets/images/trustee/Rectangle 297@3x.jpg" alt="Вадим Добрий"
               class="person__img" title="Вадим Добрий">
        </div>
        <h4 class="person__person-title">Вадим Добрий</h4>
        <p class="person__person-subtitle">Цінитель мистецтва</p>
      </li>
      <li class="partner__person">
        <div class="person__img-wrapper">
          <img src="assets/images/trustee/incognita_color@3x.png" alt="Константин Константинопольский"
               class="person__img" title="Константин Константинопольский">
        </div>
        <h4 class="person__person-title">Константин Константинопольский</h4>
        <p class="person__person-subtitle">Директор ТОВ «Щастя»</p>
      </li>
      <li class="partner__person">
        <div class="person__img-wrapper">
          <img src="assets/images/trustee/Actor.@3x.png" alt="Тихомира Вячеславівна"
               class="person__img" title="Тихомира Вячеславівна">
        </div>
        <h4 class="person__person-title">Тихомира Вячеславівна</h4>
        <p class="person__person-subtitle">Директорка ТОВ «Щастя»</p>
      </li>
    </ul>
  </div>

  <div class="partners-companies">

    <!--TODO: company-logos images (with real <alt> and <title> tags) should be added-->

    <h3 class="partners-companies__title" i18n="@@companies">Companies</h3>
    <ul class="partners-companies__list">
      <li class="partner__company">
        <div class="company__img-wrapper">
          <img src="assets/images/partner-companies/Rectangle 238@3x.png" alt="Foxtrot-logo" class="company__img"
               title="Foxtrot">
        </div>
      </li>
      <li class="partner__company">
        <div class="company__img-wrapper">
          <img src="assets/images/partner-companies/Rectangle 328@3x.png" alt="logo"
               class="company__img" title="Be in shape today">
        </div>
      </li>
      <li class="partner__company">
        <div class="company__img-wrapper">
          <img src="assets/images/partner-companies/Rectangle 240@3x.png" alt="Amuarrain-logo"
               class="company__img" title="Amuarrain">
        </div>
      </li>
      <li class="partner__company">
        <div class="company__img-wrapper">
          <img src="assets/images/partner-companies/Rectangle 329@3x.png" alt="Fauna-logo"
               class="company__img" title="Fauna">
        </div>
      </li>
      <li class="partner__company">
        <div class="company__img-wrapper">
          <img src="assets/images/partner-companies/image 253@3x.png" alt="B.Live-logo"
               class="company__img" title="B.Live">
        </div>
      </li>
      <li class="partner__company">
        <div class="company__img-wrapper">
          <img src="assets/images/partner-companies/Rectangle 326@3x.png" alt="Company-logo"
               class="company__img" title="Company">
        </div>
      </li>
      <li class="partner__company">
        <div class="company__img-wrapper">
          <img src="assets/images/partner-companies/Rectangle 331@3x.png" alt="Company-logo"
               class="company__img" title="Company">
        </div>
      </li>
    </ul>
  </div>
</div>
