<div class="container">
  <app-spinner name="article"></app-spinner>

  <ng-template [ngIf]="item">
    <div class="img">
      <img *ngIf="item.mainPicture" src='{{ item.mainPicture.post_big.url }}'
           alt="{{item.short_description}}" [title]="item.mainPicture.post_big.properties.title">
    </div>
    <h2 class="page-title text-center">{{ item.title }}</h2>
    <div class="post-text" [innerHtml]=item.text></div>
    <ngx-gallery
      *ngIf="item.gallery"
      [options]="galleryOptions"
      [images]="item.gallery">
    </ngx-gallery>
    <p class="post-date">{{ item.created_at | date: 'd.MM.yyyy' }}</p>
  </ng-template>
</div>
