<div class="poster__title" draggable="false">
  <h2 class="page-title">
    <ng-container i18n="@@posterFor">Афіша</ng-container>
  </h2>
  <div class="poster__toggle">
    <div class="poster__toggle__item">
      <button
        (click)="changeViewToCalendar()"
        class="poster__toggle__btn"
        [class.poster__toggle__item__active]="activeComp.calendarActive"
      >
        <img src="assets/images/calendar/calendar-2-line.svg" alt="">
        <span class="poster__toggle__text">Клендар</span>
      </button>
    </div>
    <div class="poster__toggle__item" [class.poster__toggle__item__active]="activeComp.listActive">
      <button (click)="changeViewToList()" class="poster__toggle__btn">
        <img src="assets/images/calendar/bxs-grid.svg" alt="">
        <span class="poster__toggle__text">Список</span>
      </button>
    </div>
  </div>
</div>

<app-months-carousel
  [onNextMonth]="nextMonth.bind(this)"
  [onPrevMonth]="prevMonth.bind(this)"
  [selectMonth]="selectMonth.bind(this)"
></app-months-carousel>

<app-spinner name="poster"></app-spinner>

<app-calendar *ngIf="viewMode === views.CALENDAR"></app-calendar>

<app-list-view *ngIf="viewMode === views.LIST"></app-list-view>

<app-mobile-view *ngIf="viewMode === views.MOBILE"></app-mobile-view>
