@import "~assets/styles/variables";

:host {
  flex: 1;
}

.title {
  margin: 80px auto 0;
  text-align: center;
}

.poster__title {
  margin: 32px auto 0;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.poster__toggle {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    outline: none;

    & img {
      user-select: none;
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    user-select: none;
    font-family: $body-font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $secondary-background-color;
  }

  &__item {
    display: flex;
    align-items: center;

    &__active span {
      color: $white-color;
    }
  }
}

.poster-view {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: $secondary-color;
  transition: .3s ease;

  &:hover {
    color: $main-color-darker;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.poster__spinner {
  top: 210px;
  position: absolute;
}

@media (max-width: map-get($grid-breakpoints, xl-min)) {

  .poster-view {
    display: none;
  }

  .poster__spinner {
    top: 230px;
    position: absolute;
  }
}

@media (max-width: map-get($grid-breakpoints, sm-min)) {

  .poster__spinner {
    top: 130px;
    position: absolute;
  }
}
