<div class="poster__title">
  <h2 class="page-title">
    <ng-container i18n="@@posterFor">Афіша</ng-container>
  </h2>
  <div class="poster__toggle">
    <div class="poster__toggle__item">
      <button class="poster__toggle__btn">
        <img src="assets/images/calendar/calendar-2-line.svg" alt="">
      </button>
      <span class="poster__toggle__text">Клендар</span>
    </div>
    <div class="poster__toggle__item" [class.poster__toggle__item__active]="true">
      <button class="poster__toggle__btn">
        <img src="assets/images/calendar/bxs-grid.svg" alt="">
      </button>
      <span class="poster__toggle__text">Список</span>
    </div>
  </div>
</div>
<span class="h4">{{ date | date:'LLLL yyyy' }}</span>

<app-months-carousel
  [onNextMonth]="nextMonth.bind(this)"
  [onPrevMonth]="prevMonth.bind(this)"
  [currentMonth]="date | date: 'MM'"
></app-months-carousel>

<div class="btn-group btn-switch">
  <button *ngIf="viewMode === views.CALENDAR || !isToday" class="btn btn-prev" (click)="prevMonth()" i18n="@@prev">
    Previous
  </button>
  <button class="btn btn-now" (click)="now()" i18n="@@now">Today</button>
  <button class="btn btn-next" (click)="nextMonth()" i18n="@@next">Next</button>

  <button (click)="changeView()" class="poster-view">
    <svg *ngIf="viewMode === views.CALENDAR" title="List view" i18n-title="@@listView" width="20" height="20"
         class="u-svg-icon">
      <use xlink:href="assets/images/sprite.svg#list-grid"></use>
    </svg>
    <svg *ngIf="viewMode === views.LIST" title="Calendar view" i18n-title="@@calendarView" width="20" height="20"
         class="u-svg-icon">
      <use xlink:href="assets/images/sprite.svg#calendar"></use>
    </svg>
  </button>
</div>

<app-spinner name="poster"></app-spinner>

<app-calendar *ngIf="viewMode === views.CALENDAR"></app-calendar>

<app-list-view *ngIf="viewMode === views.LIST"></app-list-view>

<app-mobile-view *ngIf="viewMode === views.MOBILE"></app-mobile-view>
