@import "~assets/styles/variables";

/* Block with "what we offer" */

.we-offer-block {
  background-color: $background-main-color-darker;
}

.we-offer {
  width: $container-width;
  margin: $container-margin;
  padding: 80px 0;
  text-align: center;
  background-color: $background-main-color-darker;

  @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, 27px, normal);

  .we-offer__title {
    @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 1.5, normal);
  }

  .we-offer__text {
    margin-left: auto;
    margin-right: auto;
    padding: 18px 312px;
    display: block;
    text-align: justify-all;
  }
}

/* Block with the advantages of using the mobile version */

.home-page-text__advantages {
  width: $body-width;
  background-color: $background-color-black;

  .advantages-content {
    width: $container-width;
    margin: $container-margin;
    background-color: $background-color-black;

    .advantages-title {
      padding-top: 96px;
      text-align: center;

      @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, 1.5, .8px);
    }
  }

  .advantages {
    margin: 0;
    padding-right: 400px;
    list-style: none;

    &__item-number {
      justify-content: center;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      display: table-cell;
      vertical-align: middle;
    }

    .advantage-text {
      padding: 72px 250px 0 30px;

      @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, 1.5, normal);
    }
  }

  .advantage-number {
    padding-top: 72px;

    @include font($body-font-family, 100px, $font-color-dark, $font-weight-semi-bold, 100px, normal);
  }


  .clearfix::after {
    content: "";
    clear: both;
  }

  .phone-image {
    float: right;
    margin-top: -80px;
    margin-bottom: 54px;

    @include box(384, 746);
  }
}

