<div class="home-page">
  <app-spinner name="home"></app-spinner>

  <section class="poster-slider">
    <div class="poster-slider__component">
      <app-performance-slider></app-performance-slider>
    </div>
  </section>

  <section class="we-offer-block">
    <div class="we-offer">
      <div class="mb-2 mb-sm-max-3"><h2 class="kobzar-title" i18n="@@offerForYou">Offer for you</h2></div>
      <div class="we-offer__text">
        <p i18n="@@we-crated-this-site">We created this site so that you don't miss a single concert by your favorite
          stars, that you can get to an important theatrical premiere, and that you have time to buy tickets for the
          best action for children. As a result, any spectator who expects quality and pleasant emotions from us will be
          able to select an event.
        </p>
        <p i18n="@@we-also-invite">We also invite collaboration from teams, organizations, and exhibitions.</p>
      </div>
      <a class="link-buttons mt-3" routerLink="/" routerLinkActive="active"
         i18n="@@cooperationBtn">Cooperation</a>
    </div>
  </section>

  <section class="actors-carousel">
    <div class="actors-carousel__component">
      <!--Background for the "Poster slider", can be modified-->
    </div>
  </section>

  <app-actors-slider [randomEmployees]="randomEmployees"></app-actors-slider>

  <section class="news_wrapper">
    <div class="news">
      <h3 class="section_title" i18n="@@news">News</h3>
      <app-news-list-item class="item" *ngFor="let item of listPost" [item]="item"></app-news-list-item>
      <a class="link" i18n="@@more" routerLink="../news">More</a>
    </div>
  </section>

  <section class="advantages">
    <div class="advantages-content">
      <div class="advantages-text">
        <h3 class="advantages-title" i18n="@@TheatreIsAlwaysWithYou">Theatre is always with you</h3>
        <p i18n="@@we-are-very-excited">We are very excited to begin a new theatrical season.</p>
        <p i18n="@@we-encourage-you">We encourage you to purchase tickets online in order to ensure the highest level of
          security for all parties involved.</p>
        <div class="mb-3">
          <p i18n="@@you-can-do-this" class="d-inline">You can do this at </p>
          <a
          target="_blank"
          i18n="@@this-active-link"
          href="https://ck.kontramarka.ua/ru/theatre/cerkaskij-akademicnij-oblasnij-ukrainskij-muzicnodramaticnij-teatr-imeni-t-g-sevcenka-1072.html">
            this active link</a>
          <p i18n="@@24-hours-a-day" class="d-inline"> 24 hours a day, seven days a week.</p>
        </div>
        <p i18n="@@on-this-website">On the website, you can also learn more about the theatre’s personalities, read the content of the
          performances, get an up-to-date schedule, and immerse yourself in the artistic atmosphere. The theatre is now
          just a click away at any time that is convenient for you!
        </p>

      </div>
      <div class="advantages-image">
        <img src="assets/images/Group%20305/Group%20305.png" alt="Phone with invitation to the theatre on the screen"
             title="Cherkasy Theatre of Taras Shevchenko welcomes you!"
             i18n-title="@@theatreWelcomesYou">
      </div>
    </div>
  </section>
</div>




