<div class="home-page">
  <app-spinner name="home"></app-spinner>

  <div class="we-offer-block">
    <div class="we-offer">
      <div class="we-offer__title">Offer for you</div>
      <div class="we-offer__text">
        <p>Щоб ви не пропустили жодного концерту від улюблених зірок, змогли потрапити на важливу
          театральну прем'єру і встигли купити квитки на краще дійство для дітей ми створили цей сайт.
          Тож, кожен глядач, який чекає від нас якості та приємних емоцій зможе обрати для себе захід.
        </p>
        <p>Також запрошуємо до співпраці колективи, організації, виставки.</p>
      </div>
      <button class="we-offer__button">
        <a class="we-offer__link" routerLink="/donate" routerLinkActive="active"
           i18n="@@cooperationBtn">Cooperation</a>
      </button>
    </div>
  </div>

  <div class="home-page-text__advantages">
    <div class="advantages-title">Theatre is always with you</div>
    <div class="advantages-content">
      <img src="assets/images/Group%20305/Group 305@3x.png" alt="Phone with invitation to the theatre on the screen"
           title="Cherkassy Theatre of Taras Shevchenko welcomes you!" class="phone-image">
      <table class="advantages">
        <tr>
          <td class="advantage-number"><span>1</span></td>
          <td class="advantage-text"><span>
            Ви завжди зможете купити квитки we denounce with righteous indignation
            and dislike men who are so beguiled and demoralized by the charms of the pleasure of the moment, so blinded by desire.
          </span>
          </td>
        </tr>
        <tr>

          <td class="advantage-number"><span>2</span></td>
          <td class="advantage-text"><span>
            Ми викладуємо актуальну інформацію the other hand, we denounce with righteous indignation
            and dislike men who are so beguiled and demoralized by the charms of the pleasure of the moment, so blinded by desire,
            that they cannot foresee the pain and trouble that are bound to ensue.
         </span>
          </td>
        </tr>

        <tr>
          <td class="advantage-number"><span>3</span></td>
          <td class="advantage-text"><span>
            Чекаємо вас на наших виставах n the other hand, we denounce with righteous indignation
            and dislike men.
          </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


