<div class="about_seconHeader_container">
    <a class="item" id="creaive-header" #creaiveHeader routerLink="/persons/creative" routerLinkActive="active" i18n="@@сreativeСomposition">Creative composition</a>
    <a class="item" id="creaive-artistic" #creaiveArtistic routerLink="/persons/artistic" routerLinkActive="active" i18n="@@artisticComposition">Artistic composition</a> 
    <a class="item" id="creaive-administration" #creaiveAdministration routerLink="/persons/administration" routerLinkActive="active" i18n="@@administration">Administration</a>
</div>