<svg display="none">
  <symbol id="chevron-left" viewBox="0 0 48 48">
    <path clip-rule="evenodd" d="M29.414 12l-12 12 12 12L28 37.414 14.586 24 28 10.586 29.414 12z" fill="#868583"
          fill-rule="evenodd"/>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 48 48">
    <path clip-rule="evenodd" d="M20 10.586L33.414 24 20 37.414 18.586 36l12-12-12-12L20 10.586z" fill="#868583"
          fill-rule="evenodd"/>
  </symbol>
</svg>

<div class="wrapped">
  <h3 class="title" i18n="@@theaterActors">Theater actors</h3>
  <ngu-carousel
    #myCarousel
    [inputs]="carouselTile"
    [dataSource]="randomEmployees"
    class="slider"
    *ngIf="randomEmployees?.length > 0"
  >
    <ngu-tile *nguCarouselDef="let item">
      <div
        class="image"
        [style.background]="'url(' + item.avatar.employee_big.url + ')'"
        [routerLink]="['', 'persons', item.slug]"
      >
      </div>
    </ngu-tile>
    <ul class="myPoint" NguCarouselPoint>
      <li
        *ngFor="let j of myCarousel.pointNumbers; let i = index"
        [class.active]="j === myCarousel.activePoint"
        (click)="myCarousel.moveTo(i)"
      >
      </li>
    </ul>

    <div NguCarouselPrev class="left">
      <svg class="chevron" height="48" width="48">
        <use xlink:href="#chevron-left"></use>
      </svg>
    </div>
    <div NguCarouselNext class="right">
      <svg class="chevron" height="48" width="48">
        <use xlink:href="#chevron-right"></use>
      </svg>
    </div>
  </ngu-carousel>

  <div class="all-persons">
    <a routerLink="/persons" class="link-persons" i18n="@@showMore">Show more</a>
  </div>
</div>
