.wrapped {
  margin: 0;
  height: 897px;
  padding: 83px 0 86px;
  background-color: #0e0c08;
}

a {
  color: #b49864;
  text-decoration: none;
}

.title {
  height: 60px;
  font-family: Montserrat;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}


.all-prersons {
  display: flex;
  justify-content: center;
}

.link-persons {
  width: 167px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: right;
}

.bannerStyle div {
  background-color: #ccc;
  background-size: cover !important;
  height: 100%;
}

.bannerStyle img {
  width: 100%;
  height: 100%;
}

.bannerStyle h1 {
  text-align: center;
  background: rgba(0, 0, 0, 0.32);
  color: white;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin: 32px;
  min-height: 200px;
  background-size: cover !important;
  width: 352px;
  height: 528px;
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tile {
  box-shadow: none;
}

ngu-tile .tile {
  box-shadow: none !important;
}

.image:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}


.left {
  cursor: pointer;
  position: absolute;
  top: 270px;
  bottom: 0;
  width: 48px;
  height: 48px;
  background-image: url("~assets/images/slider/chevron-left.svg");
  left: 5px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  opacity: 1;
}

.left:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
}

.right {
  position: absolute;
  top: 270px;
  bottom: 0;
  width: 48px;
  height: 48px;
  right: 5px;
  background-image: url("~assets/images/slider/chevron-right.svg");
  z-index: 1;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  opacity: 1;
}

.right:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}

.myPoint  li {
  background-color: #868583;
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
  cursor: pointer;
}

.myPoint  li.active {
  background-color: #b49864;
  transform: scale(1.2);
}
