<div class="wrapped">
  <h3 class="title">Актори театру</h3>
  <ngu-carousel
    #myCarousel
    [inputs]="carouselTile"
    [dataSource]="randomEmployees"
    class="slider"
    *ngIf="randomEmployees?.length > 0"
  >
    <ngu-tile *nguCarouselDef="let item" >
      <div
        class="image"
        [style.background]="'url(' + item.avatar.employee_big.url + ')'"
        [routerLink]="['', 'persons', item.slug]"
      >
      </div>
    </ngu-tile>
    <ul class="myPoint" NguCarouselPoint>
      <li
        *ngFor="let j of myCarousel.pointNumbers;
        let i = index"
        [class.active]="j===myCarousel.activePoint"
        (click)="myCarousel.moveTo(i)"
      ></li>
    </ul>
    <div NguCarouselPrev class="left"></div>
    <div NguCarouselNext class="right"></div>
  </ngu-carousel>
  <div class="all-prersons">
    <a routerLink="/persons" class="link-persons">Показати більше</a>
  </div>
</div>
