@import "../../../../assets/variables";

$navLinkPaddingTop: 30.5px;
$navLinkActiveBorderTop: 3px;

.header {
  background: linear-gradient(to right, rgba(236, 83, 42, 1) 0, rgba(196, 36, 46, 1) 100%);
  font-size: 12px;
  .container {

    .header-logo {
      margin: 4px 5px;
    }

    .menu-container, .navbar-collapse, .language {
      align-items: stretch;
    }
    .navbar-collapse {
      margin-left: 25px;
    }
  }

}
:host ::ng-deep {

  $navLinkPaddingTop: 30.5px;
  $navLinkActiveBorderTop: 3px;

  .navbar-nav {
    font-size: 12px;
    font-family: $main-font;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 300;
    .nav-link:hover {
      background: #FFF;
      color: $primary-color;
    }
    .nav-link .active {
      border-top: $navLinkActiveBorderTop solid #fff;
      padding-top: $navLinkPaddingTop - $navLinkActiveBorderTop;
    }
    a.nav-link {
      color:#FFF;
      padding: $navLinkPaddingTop 11px;
      white-space: nowrap;
    }

    .language {
      margin-left: 50px;
      padding: 30.5px 11px;
      display: block;
      text-decoration: none;
      color: #FFF;
      &:hover{
        color: $primary-color;
      }
    }

    .hide,
    .forum,
    .fa-icon{
      display: none;
    }

    @media (max-width: 992px) {
      a.nav-link,
      .language {
        padding: 5px;
        text-align: right;
        border-radius: 5px;
      }

    }
  }
}
