<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h1 class="header-logo">
        <a routerLink="/">
          <img src="assets/images/logo.png" alt="logo">
        </a>
      </h1>

      <button class="navbar-toggler" type="button" (click)="showMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="mobileMenu" [ngClass]="collapse ? 'collapse' : ''">
        <app-main-nav></app-main-nav>
      </div>
      <div class="float-right">
        <a class="language" href="#">Укр</a>
      </div>
    </nav>
  </div>
</header>
