@import "../../../../assets/variables";

$navLinkPaddingTop: 30.5px;
$navLinkActiveBorderTop: 3px;


.header {
  background: linear-gradient(to right, rgba(236, 83, 42, 1) 0, rgba(196, 36, 46, 1) 100%);
  font-size: 12px;
  .container {

    .header-logo {
      margin: 4px 5px;
    }

    .menu-container, .navbar-collapse, .language{
      align-items: stretch;
    }

    .language{
      color: #c3c3c3;
      background: transparent;
      height: 20px;
      width: 50px;
      margin: auto;
      border: none;
    }
  }
}




