<nav class="navbar navbar-expand-lg navbar-dark mb-4">
  <div class="container menu-container">
    <div id="header-logo">
      <a routerLink="/">
        <img src="assets/images/logo.png">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav__list__item"><a class="nav-link" routerLink="">ГОЛОВНА</a></li>
        <li class="nav__list__item"><a class="nav-link" routerLink="">АФІША</a></li>
        <li class="nav__list__item"><a class="nav-link" routerLink="">РЕПЕРТУАР</a></li>
        <li class="nav__list__item"><a class="nav-link" routerLink="">НОВИНИ</a></li>
        <li class="nav__list__item"><a class="nav-link" routerLink="">ПРО ТЕАТР</a></li>
        <li class="nav__list__item"><a class="nav-link" routerLink="">ПЕРСОНАЛІЇ</a></li>
        <li class="nav__list__item"><a class="nav-link" routerLink="">КОНТАКТИ</a></li>
        <li class="nav__list__item"><a class="nav-link" routerLink="">ФЕСТИВАЛІ</a></li>

        <li class="nav__list__item"> <a class="nav-link" href="#">UA</a> </li>
      </ul>
    </div>
  </div>
</nav>
