@import "~assets/styles/variables";

$navLinkPaddingTop: 30.5px;
$navLinkActiveBorderTop: 3px;

.header {
  background: $main-color;
  background: linear-gradient(120deg, $main-color-lighter 0%, $main-color 33%, $main-color-darker 100%);
  font-size: .857rem;

  .header-logo {
    margin: 4px 5px;
    font-size: 0;
  }

  .menu-container, .navbar-collapse, .language {
    align-items: stretch;
  }

  .navbar-collapse {
    position: relative;
    margin-left: 25px;
    opacity: 1;
  }

  .language {
    cursor: pointer;
    padding: 2.179rem 0;
    text-decoration: none;
    color: #fff;
    font-size: .857rem;
    transition: .3s ease;

    &:hover {
      color: #fff;
    }
  }
}

.search-box {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 60px;
  padding-left: 20px;

  &.show {
    display: flex;
  }

  @media (max-width: 990px) {
    position: static;
    width: 50%;
    margin-left: auto;
    padding: 10px 0;

    &.collapse:not(.show) {
      display: flex;
    }
  }

  @media (max-width: 536px) {
    width: 100%;
  }

  .search-input {
    flex: 1;
    margin-right: 20px;
    padding: 4px 10px;
    background-color: transparent;
    border-radius: 5px;
    border: thin solid $white-color;
    color: $white-color;
    font-size: 1rem;
    transition: .3s;

    &::placeholder {
      color: $white-color;
      font-size: 14px;
    }

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      opacity: .6;
    }

    @media (max-width: 990px) {
      margin-right: 10px;
    }
  }

  .search-button {
    padding: 5px 15px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid $white-color;
    color: $white-color;
    transition: .3s ease;
    opacity: 1;

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      opacity: .6;
    }

    &.opacity {
      opacity: 0;
    }

    @media (max-width: 990px) {
      padding: 4px 10px;
    }
  }
}

.search-icon-button {
  padding: 5px;
  margin: 0;
  color: $white-color;
  transition: .3s ease;

  &:hover {
    background-color: rgba($white-color, .3);
  }

  @media (max-width: 990px) {
    display: none;
  }
}

.header-button {
  margin: auto 10px;

  @media (max-width: 990px) {
    margin-left: auto;
    margin-right: 0;
  }
}

.visually-impaired-button {
  padding: 5px;
  margin: 0 5px;
  color: $white-color;
  transition: .3s ease;

  &:hover {
    background-color: rgba($white-color, .3);
  }
}

:host ::ng-deep {

  .navbar-nav {
    color: #fff;
    align-items: flex-end!important;

    @media (max-width: 990px) {
      align-items: flex-end!important;
    }

    .nav-link {
      transition: .3s ease;
      white-space: nowrap;
      font-size: 1rem;
      text-transform: capitalize;
      cursor: pointer;
    }

    .mobile-language {
      text-decoration: none;
    }

    .nav-link,
    .mobile-language {
      padding: $navLinkPaddingTop 11px;
      color: #fff;
      border-top: $navLinkActiveBorderTop solid transparent;

      &:hover {
        background: #fff;
        color: $secondary-color;
      }

      &.active {
        border-color: #fff;
      }
    }

    .forum {
      display: none;
    }

    @media (max-width: 992px) {

      .nav-link,
      .mobile-language {
        display: inline-block;
        width: auto;
        float: right;
        margin-left: auto;
        padding: 5px;
      }

      .nav-link.active {
        padding: 5px 5px 5px - $navLinkActiveBorderTop;
        border-top: none;
        border-bottom: $navLinkActiveBorderTop solid #fff;
      }

      .forum {
        display: block;
      }
    }
  }
}
