<div class="footer-nav row">
  <div class="footer-nav__col">
    <h1 class="footer__logo" aria-label="Cherkasy Theatre of Taras Shevchenko" i18n-aria-label="@@theatreName">
      <a routerLink="/">
        <img src="assets/images/logo theatre@3x.png" alt="logo" title="Cherkasy Theatre of Taras Shevchenko"
             width="130" height="48">
      </a>
    </h1>
  </div>

  <!--Some of the routerLinks will be modified when all components are created-->

  <div class="footer-nav__col">
    <a class="footer-nav__header" routerLink="/" routerLinkActive="active" i18n="@@mainPage">Main</a>
    <div class="footer-nav__item" routerLink="/poster" routerLinkActive="active" i18n="@@poster">Poster</div>
    <div class="footer-nav__item" routerLink="/repertoire" routerLinkActive="active"
         i18n="@@repertoire">Repertoire
    </div>
    <div class="footer-nav__item" routerLink="/performance" routerLinkActive="active"
         i18n="@@performanceDetails">All performances
    </div>
    <div class="footer-nav__item" routerLink="/performance" routerLinkActive="active" i18n="@@for_adult">For adults
    </div>
    <div class="footer-nav__item" routerLink="/performance" routerLinkActive="active" i18n="@@for_kids">For kids</div>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" routerLink="/about" routerLinkActive="active" i18n="@@aboutTitle">About</a>
    <div class="footer-nav__item" routerLink="/about" routerLinkActive="active" i18n="@@history">History</div>
    <div class="footer-nav__item" routerLink="/performance" routerLinkActive="active" i18n="@@festivals">Festivals</div>
    <div class="footer-nav__item" routerLink="/persons" routerLinkActive="active" i18n="@@epoch">Epoch</div>
    <div class="footer-nav__item" routerLink="/about" routerLinkActive="active" i18n="@@visit">Visit</div>
    <div class="footer-nav__item" routerLink="/news" routerLinkActive="active" i18n="@@news">News</div>
    <div class="footer-nav__item" routerLink="/" routerLinkActive="active"
         i18n="@@documentation">Documentation
    </div>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" routerLink="/persons" routerLinkActive="active"
       i18n="@@personalities">Personalities</a>
    <div class="footer-nav__item" routerLink="/persons" routerLinkActive="active" i18n="@@actors">Actors</div>
    <div class="footer-nav__item" routerLink="/persons" routerLinkActive="active" i18n="@@ballet">Ballet</div>
    <div class="footer-nav__item" routerLink="/persons" routerLinkActive="active" i18n="@@orchestra">Orchestra</div>
    <div class="footer-nav__item" routerLink="/persons" routerLinkActive="active"
         i18n="@@artCore">Artistic management
    </div>
    <div class="footer-nav__item" routerLink="/persons" routerLinkActive="active"
         i18n="@@artProduction">Artistic and production staff
    </div>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" routerLink="/board-trustees" routerLinkActive="active"
       i18n="@@administrative">Administration</a>
    <div class="footer-nav__item" routerLink="/board-trustees" routerLinkActive="active" i18n="@@deputies">Deputies
    </div>
    <div class="footer-nav__item" routerLink="/board-trustees" routerLinkActive="active"
         i18n="@@administration">Administration
    </div>
    <div class="footer-nav__item" routerLink="/board-trustees" routerLinkActive="active" i18n="@@accounting">Accounting
    </div>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" routerLink="/contacts" routerLinkActive="active"
       i18n="@@connections">Connections</a>
    <div class="footer-nav__item" routerLink="/contacts" routerLinkActive="active" i18n="@@contactsTitle">Contact</div>
    <div class="footer-nav__item" routerLink="/donate" routerLinkActive="active" i18n="@@cooperation">Cooperation
    </div>
    <div class="footer-nav__item" routerLink="/board-trustees" routerLinkActive="active" i18n="@@partners">Partners
    </div>
    <div class="footer-nav__item" routerLink="/board-trustees" routerLinkActive="active"
         i18n="@@trustees">Board of trustees
    </div>
    <div class="footer-nav__item" routerLink="/donate" routerLinkActive="active" i18n="@@donate">Donate</div>
  </div>
</div>
