@import "~assets/styles/variables";

.footer-nav-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 48px 10px 22px;
  background-color: $background-main-color-darker;
  max-width: $container-width;
  margin: $container-margin;

  .footer-nav__header {
    @include font($body-font-family, $font-size-medium, $font-color-accent, $font-weight-bold, 27px, normal);

    &:hover {
      color: $font-color-white;
      text-decoration: none;
    }
  }

  .footer-nav__col + .footer-nav__col {
    padding-left: 10px;
  }

  .footer-nav__item {
    display: block;
    margin-top: 10px;

    @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, 27px, normal);

    &:hover {
      color: $font-color-white;
      background-color: rgba($background-on-hover, .05);
      text-decoration: none;
    }

    &.active {
      text-decoration: none;
    }
  }
}

.btn-donate {
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (max-width: map-get($grid-breakpoints, xl-max)) {

  .footer__logo {
    display: none;
  }
}

@media (max-width: map-get($grid-breakpoints, lg-max)) {

  .footer-nav-block {
    display: none;
  }
}
