@import "~assets/styles/variables";

.footer-nav-block {
  padding-top: 49px;
  background-color: $background-main-color-darker;
  margin: $container-margin;

  @include box(1504, 319.5);

  .footer-nav {
    width: 100%;

    @include flex-space-between;

    .footer-nav__header {
      @include font($body-font-family, $font-size-medium, $font-color-accent, $font-weight-bold, 27px, normal);

      &:hover {
        color: $font-color-white;
        text-decoration: none;
      }
    }

    .footer-nav__item {
      display: flex;
      margin-top: 10px;

      @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, 27px, normal);

      &:hover {
        color: $font-color-white;
        background-color: rgba($background-on-hover, .05);
        text-decoration: none;
      }

      &.active {
        text-decoration: none;
      }
    }
  }
}

