<div class="footer-nav-block">
  <div class="footer-nav__col">
    <h1 class="footer__logo" aria-label="Cherkasy Theatre of Taras Shevchenko" i18n-aria-label="@@theatreName">
      <a routerLink="/">
        <img src="assets/images/logo theatre@3x.png" alt="logo" title="Cherkasy Theatre of Taras Shevchenko"
             width="130" height="48">
      </a>
    </h1>
  </div>

  <!--Some of the routerLinks will be modified when all components are created-->

  <div class="footer-nav__col">
    <a class="footer-nav__header" [routerLink]="['/']" routerLinkActive="active" i18n="@@mainPage">Main</a>
    <a class="footer-nav__item" [routerLink]="['/poster']" routerLinkActive="active" i18n="@@poster">Poster</a>
    <a class="footer-nav__item" [routerLink]="['/repertoire']" routerLinkActive="active" i18n="@@repertoire">Repertoire</a>
    <a class="footer-nav__item" [routerLink]="['/performance']" routerLinkActive="active" i18n="@@performances">All performances</a>
    <a class="footer-nav__item" [routerLink]="['/performance']" routerLinkActive="active" i18n="@@for_adult">For adults</a>
    <a class="footer-nav__item" [routerLink]="['/performance']" routerLinkActive="active" i18n="@@for_kids">For kids</a>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" [routerLink]="['/about']" routerLinkActive="active" i18n="@@aboutTitle">About</a>
    <a class="footer-nav__item" [routerLink]="['/about']" routerLinkActive="active" i18n="@@history">History</a>
    <a class="footer-nav__item" [routerLink]="['/performance']" routerLinkActive="active" i18n="@@festivals">Festivals</a>
    <a class="footer-nav__item" [routerLink]="['/persons']" routerLinkActive="active" i18n="@@epoch">Epoch</a>
    <a class="footer-nav__item" [routerLink]="['/about']" routerLinkActive="active" i18n="@@visit">Visit</a>
    <a class="footer-nav__item" [routerLink]="['/']" routerLinkActive="active" i18n="@@documentation">Documentation</a>
    <a class="footer-nav__item" [routerLink]="['/news']" routerLinkActive="active" i18n="@@news">News</a>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" [routerLink]="['/persons']" routerLinkActive="active" i18n="@@personalities">Personalities</a>
    <a class="footer-nav__item" [routerLink]="['/persons']" routerLinkActive="active" i18n="@@actors">Actors</a>
    <a class="footer-nav__item" [routerLink]="['/persons']" routerLinkActive="active" i18n="@@ballet">Ballet</a>
    <a class="footer-nav__item" [routerLink]="['/persons']" routerLinkActive="active" i18n="@@orchestra">Orchestra</a>
    <a class="footer-nav__item" [routerLink]="['/persons']" routerLinkActive="active" i18n="@@artCore">Artistic management</a>
    <a class="footer-nav__item" [routerLink]="['/persons']" routerLinkActive="active" i18n="@@artProduction">Artistic and production staff</a>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" [routerLink]="['/board-trustees']" routerLinkActive="active" i18n="@@administrative">Administration</a>
    <a class="footer-nav__item" [routerLink]="['/board-trustees']" routerLinkActive="active" i18n="@@deputies">Deputies</a>
    <a class="footer-nav__item" [routerLink]="['/board-trustees']" routerLinkActive="active" i18n="@@administration">Administration</a>
    <a class="footer-nav__item" [routerLink]="['/board-trustees']" routerLinkActive="active" i18n="@@accounting">Accounting</a>
  </div>

  <div class="footer-nav__col">
    <a class="footer-nav__header" [routerLink]="['/contacts']" routerLinkActive="active" i18n="@@connections">Connections</a>
    <a class="footer-nav__item" [routerLink]="['/contacts']" routerLinkActive="active" i18n="@@contactsTitle">Contact</a>
    <a class="footer-nav__item" [routerLink]="['/donate']" routerLinkActive="active" i18n="@@cooperation">Cooperation</a>
    <a class="footer-nav__item" [routerLink]="['/board-trustees']" routerLinkActive="active" i18n="@@partners">Partners</a>
    <a class="footer-nav__item" [routerLink]="['/board-trustees']" routerLinkActive="active" i18n="@@trustees">Board of trustees</a>
    <a class="footer-nav__item" [routerLink]="['/donate']" routerLinkActive="active" i18n="@@donate">Donate</a>
  </div>
</div>
