@import "~assets/styles/variables";

.header {
  height: 80px;
  width: $container-width;
  padding: $container-padding;
  box-shadow: $box-shadow;
  background-color: $background-main-color-darker;


  .language, .separation, .tickets-button {
    margin-top: 2px;
  }

  .language {
    text-decoration: none;
    transition: .3s ease;
    color: $font-color-primary;
    font-size: $font-size-medium;

    &.eng {
      margin-right: 22px;
    }

    &:hover {
      color: $font-color-white;
      font-weight: $font-weight-bold;
    }
  }

  .separation {
    font-size: 20px;
  }
}

.search-box {
  position: absolute;
  align-items: center;
  margin-left: 250px;

  @include box(944, 48);

  &.show {
    display: flex;
  }

  @media (max-width: 990px) {
    position: relative;
    margin-left: auto;
    padding: 10px 0;

    &.collapse:not(.show) {
      display: flex;
    }
  }

  .search-input {
    flex: 1;
    height: 48px;
    padding: 2px 2px 2px 16px;
    border-radius: 2px;
    transition: .3s;
    color: $font-color-black;
    font-size: $font-size-medium;
    background-color: $background-color-white;

    &:focus,
    &:active {
      outline: none;
      border: $border-color-accent;
    }
  }

  .delete-button {
    transition: .3s ease;

    @include box(39, 39);

    &:hover {
      @include border(2, solid, $border-color-accent, 2px);
    }
  }

  .search-button {
    transition: .3s ease;
    margin-left: -76px;
    margin-right: 10px;

    &:hover {
      outline: none;

      @include border(2, solid, $border-color-accent, 2px);
    }
  }
}

.search-icon-button {
  padding: 8px;
  margin-left: 72px;
  margin-right: 18px;
  transition: .3s ease;
  color: $font-color-primary;

  &:hover {
    background-color: rgba($background-on-hover, .2);
  }
}

:host ::ng-deep {

  .header-nav {

    .header-nav__link,
    .mobile-language {
      padding: 20px 8px;
      border-top: 1px solid $background-main-color-darker;

      &.active {
        border-color: $background-on-hover;
      }
    }
  }
}

.visual-aid-button {
  margin-top: 340px;
}

.donate-button {
  margin-top: 413px;
}

.visual-aid-button, .donate-button {
  margin-left: 1450px;
  position: fixed;

  @include box(64, 64);

  &:hover {
    @include border(2, solid, $border-color-light, 2px);
  }
}
