@import "~assets/styles/variables";

.header {
  width: 100%;
  background-color: $background-main-color-darker;
}

.header-container {
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  font-size: $font-size-medium-px;


  .language {
    text-decoration: none;
    transition: .3s ease;
    color: $font-color-primary;

    &:hover {
      color: $font-color-white;
    }
  }

  .separation {
    font-size: 20px;
  }
}

.icon-search {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.search-box {
  position: absolute;
  align-items: center;
  left: 152px;
  width: 68%;

  &.show {
    display: flex;
  }

  .search-input {
    flex: 1;
    height: 58px;
    padding: 2px 2px 2px 16px;
    border-radius: 2px;
    transition: .3s;
    color: $font-color-black;
    font-size: $font-size-medium;

    &:focus,
    &:active {
      outline: none;

      @include border(2, solid, $border-color-accent, 2px);
    }
  }

  .delete-button {
    transition: .3s ease;

    @include box(39, 39);

    &:hover {
      @include border(1, solid, $border-color-accent, 2px);
    }
  }

  .search-button {
    transition: .3s ease;
    background-color: $background-color-black;
    margin-right: 20px;

    &:hover {
      outline: none;
    }
  }
}

.tickets-button {
  padding: 12px 24px;
  margin-left: 20px;
  font-size: $font-size-medium-px;
}

.icons-group {
  display: flex;
  gap: 25px;
  justify-content: right;
}

@media (max-width: map-get($grid-breakpoints, xl-max)) {

  .header-container {
    padding: 10px 20px;
  }
}

@media (max-width: map-get($grid-breakpoints, md-max)) {

  .header, .header-container {
    height: 64px;
  }

  .header-logo {
    width: 86px;
    height: 32px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }
}
