<div class="container">
  <nav class="header navbar fixed-top navbar-expand-lg">
    <h1 class="header-logo" aria-label="Cherkassy Theatre of Taras Shevchenko" i18n-aria-label="@@theatreName">
      <a routerLink="/">
        <img src="assets/images/logo theatre@3x.png"
             alt="Theatre logo" title="Cherkassy Theatre of Taras Shevchenko" width="130" height="48">
      </a>
    </h1>

    <button class="navbar-toggler" aria-label="Menu" i18n-aria-label="@@menu" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <app-main-nav></app-main-nav>

    <button class="u-unstyled-btn search-icon-button" aria-controls="collapseExample" type="submit"
            (click)="collapseMenu()"
            [attr.aria-expanded]="!isCollapsed">
      <svg class="u-svg-icon" width="20" height="20">
        <use href="assets/images/sprite.svg#search"></use>
      </svg>
    </button>

    <div class="search-box" [ngbCollapse]="!isCollapsed">
      <input type="text" class="search-input" placeholder="{{search_text}}" name="search">
      <img src="assets/images/Union.svg" class="search-button" alt="Search button" title="Search"
           i18n="@@search" (click)="searchSubmit()">
      <img src="assets/images/close@3x.png" class="delete-button" alt="Delete button" title="Delete"
           i18n="@@delete" (click)="clearSubmit()">
    </div>

    <a class="language d-none d-lg-block ukr"
       [href]="langRedirectUrl" i18n="@@lang">Укр&nbsp;</a> <span class="separation">|</span>
    <a class="language d-none d-lg-block eng"
       [href]="langRedirectUrl" i18n="@@lang">&nbsp;Eng</a>
    <a href="https://widget.mticket.com.ua/uk/widget332site11795/widget/index" target="_blank"
       class="header-button btn tickets-button" i18n="@@buyTicket">Buy ticket</a>

    <ng-container *ngIf="trigger | async">
      <!--<app-visually-impaired></app-visually-impaired>-->
    </ng-container>
  </nav>

  <button class="u-unstyled-btn d-none d-lg-block">
    <img src="assets/images/eye_settings@3x.png" class="visual-aid-button" alt="Color schemes" title="Color schemes"
         (click)="trigger.next(!trigger.value);">
  </button>

  <button class="u-unstyled-btn d-none d-lg-block">
    <img src="assets/images/wallet@3x.png" class="donate-button" alt="Donate" title="Donate"
         (click)="trigger.next(!trigger.value);">
  </button>
</div>



