@import "~assets/styles/variables";

:host {
  margin: 0 auto;
}

.header-nav {
  list-style-type: none;
  margin: 0 0 0 24px;

  @include flex-space-between;

  li + li {
    margin-left: 28px;
  }

  .header-nav__link {
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  a {
    color: $font-color-primary;
    font-size: $font-size-medium;

    &:hover {
      color: $font-color-white;
      text-decoration: none;
      background-color: rgba($background-on-hover, .05);
    }
  }
}

