<div class="header-nav">

  <!--Some of the routerLinks will be modified when all components are created-->

  <div><a class="header-nav__link" routerLink="/" routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }" i18n="@@mainPage">Main</a></div>
  <div><a class="header-nav__link" routerLink="/poster" routerLinkActive="active" i18n="@@poster">Poster</a></div>
  <div><a class="header-nav__link" routerLink="/repertoire" routerLinkActive="active" i18n="@@repertoire">Repertoire</a></div>
  <div><a class="header-nav__link" routerLink="/persons" routerLinkActive="active" i18n="@@personalities">Personalities</a></div>
  <div><a class="header-nav__link" routerLink="/about/theatre-history" routerLinkActive="active" i18n="@@about">About</a></div>
  <div><a class="header-nav__link" routerLink="/donate" routerLinkActive="active" i18n="@@cooperation">Cooperation</a></div>
  <div><a class="header-nav__link" routerLink="/contacts" routerLinkActive="active" i18n="@@contact">Contacts</a></div>

</div>


