@import "~assets/styles/variables";

.header-nav {
  width: 834px;
  margin-left: 122px;

  @include flex-space-between;

  .header-nav__link {
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  a {
    color: $font-color-primary;
    font-size: $font-size-medium;

    &:hover {
      color: $font-color-white;
      text-decoration: none;
      background-color: rgba($background-on-hover, .05);
    }
  }
}
