<ul class="header-nav">

  <!--Some of the routerLinks will be modified when all components are created-->

  <li><a class="header-nav__link action-link" routerLink='/' routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }" i18n="@@mainPage">Main</a></li>
  <li><a class="header-nav__link action-link" routerLink='/poster' routerLinkActive="active" i18n="@@poster">Poster</a></li>
  <li><a class="header-nav__link action-link" routerLink='/repertoire' routerLinkActive="active" i18n="@@repertoire">Repertoire</a>
  </li>
  <li><a class="header-nav__link action-link" routerLink='/persons' routerLinkActive="active" i18n="@@personalities">Personalities</a>
  </li>
  <li><a class="header-nav__link action-link" routerLink='/about' routerLinkActive="active" i18n="@@aboutTitle">About</a></li>
  <li><a class="header-nav__link action-link" routerLink='/donate' routerLinkActive="active"
         i18n="@@cooperation">Cooperation</a></li>
  <li><a class="header-nav__link action-link" routerLink='/contacts' routerLinkActive="active" i18n="@@contacts">Contacts</a>
  </li>

</ul>
