@import "~assets/styles/variables";

.header-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 20px;

  a {
    color: $font-color-primary;

    &:hover {
      color: $font-color-white;
      text-decoration: none;
      background-color: rgba($background-on-hover, .05);
    }
  }
}

