@import "~assets/styles/_variables";

.about_seconHeader_container {
  background-color: $font-color-accent;
  height: 56px;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  object-fit: contain;

  .item {
    color: $font-color-black;
    text-decoration: none;
    font-family: $body-font-family;
    font-size: $font-size-medium;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
  }

  .item:hover {
    height: 56px;
    line-height: 1.39;
    padding-top: 16px;
    background-color: $background-on-hover;
  }
}
