<div class="about_seconHeader_container">
    <a class="item" routerLink="/about/theatre-history" routerLinkActive="active" i18n="@@theatreHistory">History of theatre</a>
    <a class="item" routerLink="/about/festivals" routerLinkActive="active" i18n="@@festivals">Festivals</a> 
    <a class="item" routerLink="/about/epoch" routerLinkActive="active" i18n="@@epoch">Epoch</a>
    <a class="item" routerLink="/about/visit" routerLinkActive="active" i18n="@@theatreVisit">Visit to the theater</a>
</div> 
