@import "../../assets/variables";

.card {
  max-width: 70%;
  font-family: $main-font;
  color: $primary-color;
  font-weight: 600;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    color: $primary-color;

    h2 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      color: $dark-grayish-red;
    }

    .list-group-item {
      text-align: right;
      font-size: 12px;
    }
  }
}

@media (max-width: 992px) {

  .card {
    max-width: 100%;
  }
}
