<div class="trustees-container">
  <div class="trustee">
    <h2 i18n="@@trustees" class="page-title text-center">Board of trustees</h2>
    <div class="trustees-text">
      <img src="assets/images/theatre-image1@3x.png" alt="Cherkasy Theatre of Taras Shevchenko" class="theatre-img">

      <!--TODO: Appropriate text needs to be created-->

      <p>Піклувальна рада - це початок повсякденної роботи по формуванню позиції сприяє підготовки і реалізації системи
        навчання кадрів, відповідає нагальним потребам.
      </p>
      <p>
        Завдяки їй театр отримує багато чого. Так само склалася структура організації відіграє важливу роль у формуванні
        нових пропозицій. З іншого боку початок повсякденної роботи по формуванню позиції дозволяє оцінити значення
        напрямків прогресивного розвитку.
      </p>
      <p>
        Завдання організації, особливо ж консультація з широким активом тягне за собою процес впровадження і
        модернізації
        відповідний умов активізації.
      </p>
      <p>
        Таким чином початок повсякденної роботи по формуванню позиції дозволяє оцінити значення позицій, займаних
        учасниками щодо поставлених завдань.
      </p>
    </div>

    <h3 class="personalities-title" i18n="@@personalities">Personalities</h3>
    <ul class="trustee__list">
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Бондаренко.jpg" alt="Бондаренко Анатолій Васильович" class="trustee__img"
               title="Бондаренко Анатолій Васильович">
        </div>
        <h4 class="trustee__item-title">Бондаренко Анатолій</h4>
        <p class="trustee__item-subtitle">Міський голова міста Черкаси</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Воронов-Сергій-Павлович.jpg" alt="Воронов Сергій Павлович"
               class="trustee__img" title="Воронов Сергій Павлович">
        </div>
        <h4 class="trustee__item-title">Воронов Сергій</h4>
        <p class="trustee__item-subtitle">Директор департаменту культури та освіти Черкаської міськради</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Бородай-Андрій-Дмитрович.jpg" alt="Бородай Андрій Дмитрович"
               class="trustee__img" title="Бородай Андрій Дмитрович">
        </div>
        <h4 class="trustee__item-title">Бородай Андрій</h4>
        <p class="trustee__item-subtitle">Підприємець, меценат</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Мкртчан-А.Р.jpg" alt="Мкртчан Араїк Рафікович" title="Мкртчан Араїк Рафікович"
               class="trustee__img">
        </div>
        <h4 class="trustee__item-title">Мкртчан Араїк</h4>
        <p class="trustee__item-subtitle">Підприємець, меценат</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Скалько-Олег-Іванович.jpg" alt="Скалько Олег Іванович"
               title="Скалько Олег Іванович" class="trustee__img">
        </div>
        <h4 class="trustee__item-title">Скалько Олег</h4>
        <p class="trustee__item-subtitle">Голова громадської ради при Черкаській ОДА</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Марштупа-В.В.jpg" alt="Марштупа Василь Васильович"
               class="trustee__img" title="Марштупа Василь Васильович">
        </div>
        <h4 class="trustee__item-title">Марштупа Василь</h4>
        <p class="trustee__item-subtitle">Голова обласної організації «Фонд культури»</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Калініченко-М.М.jpg" alt="Калініченко Михайло Михайлович"
               class="trustee__img" title="Калініченко Михайло Михайлович">
        </div>
        <h4 class="trustee__item-title">Калініченко Михайло</h4>
        <p class="trustee__item-subtitle">Генеральний деректор Національної телекомпанії України «Черкаська регіональна
          дирекція»</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Волошин-А.Б.jpg" alt="Волошин Анатолій Борисович" class="trustee__img"
               title="Волошин Анатолій Борисович">
        </div>
        <h4 class="trustee__item-title">Волошин Анатолій</h4>
        <p class="trustee__item-subtitle">Голова обласної організації «Фонд культури»</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Черевко-О.В.jpg" alt="Черевко Олександр Володимирович" class="trustee__img"
               title="Черевко Олександр Володимирович">
        </div>
        <h4 class="trustee__item-title">Черевко Олександр</h4>
        <p class="trustee__item-subtitle">Ректор Черкаського національного університету ім. Б. Хмельницького</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Григор-О.В.jpg" alt="Григор Олег Олександрович" class="trustee__img"
               title="Григор Олег Олександрович">
        </div>
        <h4 class="trustee__item-title">Григор Олег</h4>
        <p class="trustee__item-subtitle">Ректор Черкаського державного технологічного університету</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Вельбівець.jpg" alt="Вельбівець Олександр Іванович" class="trustee__img"
               title="Вельбівець Олександр Іванович">
        </div>
        <h4 class="trustee__item-title">Вельбівець Олександр</h4>
        <p class="trustee__item-subtitle">Депутат ОДА</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Райков-Б.С.jpg" alt="Райков Борис Сергійович" class="trustee__img"
               title="Райков Борис Сергійович">
        </div>
        <h4 class="trustee__item-title">Райков Борис</h4>
        <p class="trustee__item-subtitle">Президент Спілки промисловців і підприємців Черкас</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Згіблов-О.Г.jpg" alt="Калініченко Михайло Михайлович" class="trustee__img"
               title="Калініченко Михайло Михайлович">
        </div>
        <h4 class="trustee__item-title">Згіблов Олександр</h4>
        <p class="trustee__item-subtitle">Директор ТОВ «Група Венето»</p>
      </li>

      <!--TODO: The new name should be provided or this <li> could be commented not to be displayed on the screen-->

      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/incognita_color@3x.png" alt="Константинопольский Константин Константинович"
               class="trustee__img" title="Константинопольский Константин Константинович">
        </div>
        <h4 class="trustee__item-title">Константинопольский Константин</h4>
        <p class="trustee__item-subtitle">Директор ТОВ «Щастя»</p>
      </li>
    </ul>
  </div>
</div>
