<div class="container">
  <div class="trustee">
    <h2 i18n="@@trustees" class="page-title text-center">Board of trustees</h2>
    <ul class="trustee__list">
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Бондаренко.jpg" alt="Бондаренко Анатолій Васильович" class="trustee__img"
               title="Бондаренко Анатолій Васильович">
        </div>
        <h4 class="trustee__item-title">Бондаренко Анатолій Васильович</h4>
        <p class="trustee__item-subtitle">міський голова міста Черкаси</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Воронов-Сергій-Павлович.jpg" alt="Воронов Сергій Павлович"
               class="trustee__img" title="Воронов Сергій Павлович">
        </div>
        <h4 class="trustee__item-title">Воронов Сергій Павлович</h4>
        <p class="trustee__item-subtitle">директор департаменту культури та освіти Черкаської міськради</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Бородай-Андрій-Дмитрович.jpg" alt="Бородай Андрій Дмитрович"
               class="trustee__img" title="Бородай Андрій Дмитрович">
        </div>
        <h4 class="trustee__item-title">Бородай Андрій Дмитрович</h4>
        <p class="trustee__item-subtitle">підприємець, меценат</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Мкртчан-А.Р.jpg" alt="Мкртчан Араїк Рафікович" title="Мкртчан Араїк Рафікович"
               class="trustee__img">
        </div>
        <h4 class="trustee__item-title">Мкртчан Араїк Рафікович</h4>
        <p class="trustee__item-subtitle">підприємець, меценат</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Скалько-Олег-Іванович.jpg" alt="Скалько Олег Іванович"
               title="Скалько Олег Іванович" class="trustee__img">
        </div>
        <h4 class="trustee__item-title">Скалько Олег Іванович</h4>
        <p class="trustee__item-subtitle">голова громадської ради при Черкаській ОДА</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Марштупа-В.В.jpg" alt="Марштупа Василь Васильович"
               class="trustee__img" title="Марштупа Василь Васильович">
        </div>
        <h4 class="trustee__item-title">Марштупа Василь Васильович</h4>
        <p class="trustee__item-subtitle">голова профспілки працівників культури</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Райков-Б.С.jpg" alt="Райков Борис Сергійович" class="trustee__img"
               title="Райков Борис Сергійович">
        </div>
        <h4 class="trustee__item-title">Райков Борис Сергійович</h4>
        <p class="trustee__item-subtitle">президент Спілки промисловців і підприємців Черкас</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Волошин-А.Б.jpg" alt="Волошин Анатолій Борисович" class="trustee__img"
               title="Волошин Анатолій Борисович">
        </div>
        <h4 class="trustee__item-title">Волошин Анатолій Борисович</h4>
        <p class="trustee__item-subtitle">голова обласної організації «Фонд культури»</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Черевко-О.В.jpg" alt="Черевко Олександр Володимирович" class="trustee__img"
               title="Черевко Олександр Володимирович">
        </div>
        <h4 class="trustee__item-title">Черевко Олександр Володимирович</h4>
        <p class="trustee__item-subtitle">ректор Черкаського національного університету ім. Б. Хмельницького</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Григор-О.В.jpg" alt="Григор Олег Олександрович" class="trustee__img"
               title="Григор Олег Олександрович">
        </div>
        <h4 class="trustee__item-title">Григор Олег Олександрович</h4>
        <p class="trustee__item-subtitle">ректор Черкаського державного технологічного університету</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Вельбівець.jpg" alt="Вельбівець Олександр Іванович" class="trustee__img"
               title="Вельбівець Олександр Іванович">
        </div>
        <h4 class="trustee__item-title">Вельбівець Олександр Іванович</h4>
        <p class="trustee__item-subtitle">депутат ОДА</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Калініченко-М.М.jpg" alt="Калініченко Михайло Михайлович"
               class="trustee__img" title="Калініченко Михайло Михайлович">
        </div>
        <h4 class="trustee__item-title">Калініченко Михайло Михайлович</h4>
        <p class="trustee__item-subtitle">генеральний деректор Національної телекомпанії України «Черкаська регіональна
          дирекція»</p>
      </li>
      <li class="trustee__item">
        <div class="trustee__img-wrapper">
          <img src="assets/images/trustee/Згіблов-О.Г.jpg" alt="Калініченко Михайло Михайлович" class="trustee__img"
               title="Калініченко Михайло Михайлович">
        </div>
        <h4 class="trustee__item-title">Згіблов Олександр Георгійович</h4>
        <p class="trustee__item-subtitle">директор ТОВ «Група Венето»</p>
      </li>
    </ul>
  </div>
</div>
