@import "../../../../assets/variables";

.container {
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 18px;
    font-family: $main-font;
    margin-top: 15px;
    color: $hover-color;
  }
}
