@import "~assets/styles/variables";

.breadcrumb {
  width: $container-width;
  margin: $container-margin;
  background: none;
  font-size: $font-size-medium;
  color: $font-color-primary;

  a:hover, span:hover {
    color: $font-color-white;
    text-decoration: none;
  }

  li {
    list-style: none;
    float: left;
    margin: 2px;
  }

  li:last-child {
    margin-right: 20px;
    color: $font-color-white;
    font-weight: $font-weight-bold;
  }

  li::after {
    content: "/";
  }

  li:last-child::after {
    content: ""
  }
}
