@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.myContainer {
  background-color: #0e0c08;
  padding-top: 10px;
  padding-bottom: 50px;
  min-height: 700px;
}

.history-navigation {
  margin-left: 10%;
  margin-top: 20px;
  color: #b6b6b4;
  font-family: 'Montserrat';
  width: 310px;
  height: 32px;
  display: flex;
  flex-direction: row;

  h3 {
    font-size: 15px;
  }

  .history-navigation-bold {
    font-weight: bold;
    color: white;
  }
}

.historyTitle {
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #b49864;
  margin-bottom: 60px;
  margin-top: -10px;
}

.list {

  .list-item {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    height: auto;

    .histories__list-main_img {
      width: auto;
      margin: 7px 7px 7px 0;
      object-fit: contain;
      float: left;
      padding-right: 20px;
    }

    .histories__list-text {
      color: #b6b6b4;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 1.5;
    }
  }
}
