@import "~assets/styles/_variables";

.myContainer {
  background-color: $font-color-black;
  padding-top: 10px;
  padding-bottom: 50px;
  min-height: 700px;
}

.history-navigation {
  margin-left: 10%;
  margin-top: 20px;
  color: $font-color-primary;
  font-family: $body-font-family;
  width: 310px;
  height: 32px;
  display: flex;
  flex-direction: row;

  h3 {
    font-size: $font-size-small;
  }

  .history-navigation-bold {
    font-weight: $font-weight-semi-bold;
    color: $font-color-white;
  }
}

.historyTitle {
  font-size: $font-largest;
  text-align: center;
  color: $font-color-accent;
  margin-bottom: 60px;
  margin-top: -10px;
  font-family: $creative-font;
}

.botTheatreImage{
  display: flex;
  width: 100%;
  max-width: 1500px;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.list {

  .list-item {
    width: 100%;
    max-width: 1500px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    height: auto;

    .histories__list-main_img {
      width: auto;
      margin: 7px 7px 7px 0;
      object-fit: contain;
      float: left;
      padding-right: 20px;
    }

    .histories__list-text {
      color: $font-color-primary;
      font-family: $body-font-family;
      font-size: $font-size-medium;
      line-height: 1.5;
    }
  }
}
