@import "~assets/styles/variables";

.cat-interactive {
  width: 1000px;
  height: 600px;
  user-select: none;
  margin: -60px auto 0;

  & > img {
    height: 100%;
  }

  &__circle {
    position: relative;
    height: 21px;
    width: 21px;
    border-radius: 50%;
  }

  &__left-circle {
    top: 14%;
    left: 33%;
  }

  &__right-circle {
    top: -42%;
    left: 70%;
  }

  &__eyes {
    position: relative;
    top: -68%;
    left: 44%;
    width: 100px;
    height: 40px;
  }

  &__eye {
    position: absolute;
    border-radius: 10px;
    user-select: none;
  }

  &__left-eye {
    top: 20%;
    left: 20%;
  }

  &__right-eye {
    top: 20%;
    left: 20%;
  }

  & > p {
    text-align: center;
  }
}

@media (max-width: map-get($grid-breakpoints, lg-min)) {

  .cat-interactive {
    margin: -30px auto 0;
    width: 500px;
    height: 300px;

    &__circle {
      position: relative;
      height: 17px;
      width: 17px;
    }

    &__left-circle {
      top: 30%;
      left: 18%;
    }

    &__right-circle {
      top: -26%;
      left: 54%;
    }

    &__eyes {
      position: relative;
      top: -71%;
      left: 45%;
      width: 50px;
      height: 33px;
    }

    &__eye {
      height: 5px;
      width: 5px;
    }

    &__left-eye {
      top: 35%;
      left: 40%;
    }

    &__right-eye {
      top: 43%;
      left: 35%;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm-min)) {

  .cat-interactive {
    margin: -30px auto 0;
    width: 320px;
    height: 200px;

    &__circle {
      height: 10px;
      width: 10px;
    }

    &__left-circle {
      top: 28%;
      left: 14%;
    }

    &__right-circle {
      top: -24%;
      left: 52%;
    }

    &__eyes {
      top: -70%;
      left: 46%;
      width: 30px;
      height: 20px;
    }

    &__eye {
      height: 3px;
      width: 3px;
    }

    &__left-eye {
      top: 36%;
      left: 46%;
    }

    &__right-eye {
      top: 50%;
      left: 40%;
    }
  }
}
