<div class="cat-interactive">
  <img
    draggable="false"
    src="assets/images/calendar/animation-cat/cat.svg"
    alt="cat">
  <div class="cat-interactive__eyes">
    <div class="cat-interactive__circle cat-interactive__left-circle">
      <img
        draggable="false"
        #catLeftEye
        class="cat-interactive__eye cat-interactive__left-eye"
        src="assets/images/calendar/animation-cat/eye.png"
        alt="">
    </div>
    <div class="cat-interactive__circle cat-interactive__right-circle">
      <img
        draggable="false"
        #catRightEye
        class="cat-interactive__eye cat-interactive__right-eye"
        src="assets/images/calendar/animation-cat/eye.png"
        alt="">
    </div>
  </div>
</div>
