<div class="myContainer">
  <app-spinner name="person"></app-spinner>
  <!-- for fake route -->
  <div *ngIf="personPosition">
    <app-persons-header [style.display]="perHeaderVis" [PersonType]="personPosition"></app-persons-header>
    <app-about-header [style.display]="aboutHeaderVis"></app-about-header>
  </div>
  <!-- for fake route -->
  <div class="person_" *ngIf="person">
    <section>
      <div class="about">
        <h2 class="page-title">{{ person.first_name }} {{ person.last_name }}</h2>
        <div class="main-content">
          <div class="person-face">
            <img [src]="person.avatar.employee_big.url" [alt]="person.first_name + person.last_name" [title]="person.first_name + person.last_name">
          </div>
          <div class="about-text">
            <p class="position"><ng-container></ng-container> {{ person.position }}</p>
            <p class="biography" i18n="@@biography">Biography</p>
            <div [innerHtml]="person.biography"></div>
            <app-person-roles actorSlug="{{ person.slug }}"></app-person-roles>
          </div>
        </div>
      </div>
    </section>
    <ngx-gallery
      *ngIf="person.gallery"
      [options]="galleryOptions"
      [images]="person.gallery">
    </ngx-gallery>
    <br>
  </div>
</div>
