@import "~assets/styles/variables";
@import "~assets/styles/_variables";
@import "~assets/styles/aboutStyles";

.myContainer {
  @include _container;
  margin-top: 33px;
}
.page-title {
  margin-top: 0;
}

.page-title{
  padding-top: 10px;
  @include about-title;
}

.main-content {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;

  .person-face {
    padding-left: 30px;
  }

  .about-text {
    margin-left: 5%;
    font-family: $body-font-family;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: $secondary-background-color;
  }

  a{
    text-decoration: none;
    color: $secondary-background-color;
  }

  a:hover{
    color: $secondary-background-color;
  }

  margin-bottom: 150px;
}

.position{
  text-transform: capitalize;
  font-family: $body-font-family;
  font-size: $font-size-medium;
  margin-bottom: 30px;
}

.biography{
  font-family: $body-font-family;
  font-size: $font-size-medium;
  color: $font-color-accent;
}

ngx-gallery ::ng-deep {

  .ngx-gallery-preview-img-wrapper img {
    max-width: 600px;
    max-height: 550px;
    border: 10px solid $white-color;
    border-radius: 3px;
  }

  .ngx-gallery-arrow-left .ngx-gallery-arrow {
    width: 40px;
    height: 40px;
    background-image: url("~assets/images/gallery/left-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-left: 230px;
  }

  .ngx-gallery-arrow-right .ngx-gallery-arrow {
    width: 40px;
    height: 40px;
    background-image: url("~assets/images/gallery/right-icon.png");
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-right: 230px;
  }

  .ngx-gallery-active {
    background-color: rgba($secondary-color, .9);
  }

  ngx-gallery-action i {
    width: 40px;
    height: 40px;
    background-image: url("~assets/images/gallery/close-icon.png");
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin: 10px 10px 0 0;
  }
}
