@import "~assets/styles/variables";
@import "~assets/styles/_variables";
@import "~assets/styles/aboutStyles";

.container {
  @include _container;
}

.page-title {
  margin-top: 0;
  padding-top: 50px;
  @include about-title;
}

.main-content {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;

  .person-face {
    padding-left: 30px;
  }

  .about-text {
    margin-left: 5%;
    font-family: $body-font-family;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: $secondary-background-color;
  }

  .person-face_mobile {
    display: none;
  }

  a {
    text-decoration: none;
    color: $secondary-background-color;
  }

  a:hover {
    color: $secondary-background-color;
  }

  margin-bottom: 150px;
}

.position {
  text-transform: capitalize;
  font-family: $body-font-family;
  font-size: $font-size-medium;
  margin-bottom: 30px;
}

.biography {
  font-family: $body-font-family;
  font-size: $font-size-medium;
  color: $font-color-accent;
}

ngx-gallery ::ng-deep {

  .ngx-gallery-preview-img-wrapper img {
    max-width: 600px;
    max-height: 550px;
    border: 10px solid $white-color;
    border-radius: 3px;
  }

  .ngx-gallery-arrow-left .ngx-gallery-arrow {
    width: 40px;
    height: 40px;
    background-image: url("~assets/images/gallery/left-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-left: 230px;
  }

  .ngx-gallery-arrow-right .ngx-gallery-arrow {
    width: 40px;
    height: 40px;
    background-image: url("~assets/images/gallery/right-icon.png");
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-right: 230px;
  }

  .ngx-gallery-active {
    background-color: rgba($secondary-color, .9);
  }

  ngx-gallery-action i {
    width: 40px;
    height: 40px;
    background-image: url("~assets/images/gallery/close-icon.png");
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin: 10px 10px 0 0;
  }
}

@media (max-width: $max-width-tablet) {

  .page-title {
    font-size: $font-largest;
    text-align: center;
  }

  .main-header, p {
    display: flex;

    p {
      flex-direction: column;
    }
  }
  
  .main-content {
    margin-left: 32px;
    margin-right: 32px;

    .person-face {
      display: none;
    }

    .about-text {
      margin-left: 0px;
      font-family: $body-font-family;
      color: $secondary-background-color;
      display: flex;
      flex-wrap: wrap;
    }

    .person-face_mobile {
      display: block;
      width: 224px;
      height: 336px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $max-width-mobile) {

  .page-title {
    font-size: $font-size-xx-large;
    text-align: center;
  }
  
  .main-content {
    margin-left: 5px;
    margin-right: 5px;

    .person-face {
      display: none;
    }

    .about-text {
      margin-left: 0px;
      font-size: $font-size-small;
    }

    .person-face_mobile {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }

    .main-header, p {
      display: flex;
      flex-direction: column;
      font-size: $font-size-small;
    }
  }
}