@import "../../../assets/variables";

.slider-img {
  position: relative;
  height: 700px;
  background: $dark-grayish-red;
  max-width: 100%;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

.slider {

  .slider-list {
    position: relative;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;

    .tickets {
      width: 100%;
      bottom: 18px;
      height: 93px;
      position: absolute;
      z-index: 99;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .data {
      display: flex;
      cursor: pointer;

      .ticket {
        cursor: pointer;
        border: none;
        outline: none;
        width: 92px;
        height: 93px;
        background-color: transparent;
        text-align: center;
        margin: 0 -1px;
        background-image: url("../../../assets/images/ticket.png");
        background-repeat: no-repeat;
        color: #fff;
        font-family: "robotothin", serif;
        font-size: 24px;
        padding: 0 10px;
        line-height: 1.2;
      }

      .ticket-active {
        background-image: url("../../../assets/images/orange-ticket.png");
      }

      .ticket_data {
        position: relative;
        box-sizing: border-box;
        display: none;
        justify-content: space-between;
        align-items: flex-end;
        width: 463px;
        height: 93px;
        background-color: transparent;
        padding: 11px;
        background-image: url("../../../assets/images/tick.png");
        background-repeat: no-repeat;

        .ticket_h2 {
          color: #fff;
          font-family: "robotothin", serif;
          text-align: left;
          font-size: 23px;
          margin-top: -10px;
          text-transform: lowercase;
        }

        .ticket_p {
          color: #fff;
          font-family: "robotoregular", serif;
          font-size: 13px;
          margin: 0;
        }
      }
    }
  }
}

.active {
  display: block !important;
}

.active-more {
  display: block !important;
}

.slider-button {
  position: relative;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
  background-color: #4c4c4c;

  &:hover {
    background-color: #e54b2b;
  }

  .arrow-prev {
    width: 9px;
    height: 19px;
    background-image: url("../../../assets/images/arrow-left.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 0 0 6px;
  }

  .arrow-next {
    width: 9px;
    height: 19px;
    background-image: url("../../../assets/images/arrow-right.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 0 0 8px;
  }
}

@media (max-width: 992px) {
  .slider {
    position: relative;
    height: auto;
    max-width: 100%;

    .slider-list {
      position: relative;
      margin: 0 auto;
      height: auto;
      max-width: 100%;
      .active {
        display: block !important;
        height: auto;
        max-width: 100%;
      }
      img {
        position: relative;
        height: auto;
        width: 100%;
        margin: 0 auto;
      }

      .tickets {
        display: none;
        visibility: hidden;

        .data {
          display: none;

          .ticket_data {
            display: none;
            visibility: hidden;
          }

          .ticket-active {
            display: none;

            .ticket_span {
              display: none;
            }
          }

          .ticket {
            display: none;
          }
        }
      }
    }
  }
}


