.slider-list {
  position: relative;
  margin: 0 auto;
  max-height: 500px;
  
  .slider-item img {
    display: none;
    margin: 0px auto;
    max-height: 500px;
  }

  .slider-data {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider-data .data {
    display: flex;
    cursor: pointer;

    .data-button {
      cursor: pointer;
      border: none;
      outline: none;
      width: 92px;
      height: 93px;
      background-color: #4e4e4e;
      text-align: center;
      margin: 0 1px;
    }

    .data-more {
      position: relative;
      box-sizing: border-box;
      display: none;
      justify-content: space-between;
      align-items: flex-end;
      width: 464px;
      height: 93px;
      background-color: #e44927;
      padding: 11px;
    }
  } 
}

.active {
  display: block !important; 
}

.data-active {
  background: #dd492a !important;
}

.active-more {
  display: block !important;
  background-color: red;
}

.data-more {
  display: none;
}

.slider-button {
  position: relative;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top, #4c4c4c, #505050);
  }
