<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    <div data-target="#carouselExampleIndicators" data-slide-to="0" class="ticket">
      <div class="content-active">
        <p class="ticket_p ticket_day">Нд</p>
        <p class="ticket_p ticket_date">24</p>
        <p class="ticket_p ticket_month">лютого</p>
      </div>
      <div class="block">
        <div class="info">
          <h2 class="title">Сад Гетсиманський</h2>
          <p class="p_time">Народна трагедія на 2 дії</p>
          <p class="p_time">Тривалість вистави 2 год 20 хв.</p>
        </div>
        <div class="buy">
          <button class="buy_ticket"><p class="buy_ticket_p">Купити квиток</p></button>
        </div>
      </div>
    </div>
    <div data-target="#carouselExampleIndicators" data-slide-to="1" class="ticket-active">
      <div class="content-active">
        <p class="ticket_p ticket_day">Нд</p>
        <p class="ticket_p ticket_date">24</p>
        <p class="ticket_p ticket_month">лютого</p>
      </div>
      <div class="block">
        <div class="info">
          <h2 class="title">Сад Гетсиманський</h2>
          <p class="p_time">Народна трагедія на 2 дії</p>
          <p class="p_time">Тривалість вистави 2 год 20 хв.</p>
        </div>
        <div class="buy">
          <button class="buy_ticket"><p class="buy_ticket_p">Купити квиток</p></button>
        </div>
      </div>
    </div>
    <div data-target="#carouselExampleIndicators" data-slide-to="2" class="ticket">
      <div class="content-active">
        <p class="ticket_p ticket_day">Нд</p>
        <p class="ticket_p ticket_date">24</p>
        <p class="ticket_p ticket_month">лютого</p>
      </div>
      <div class="block">
        <div class="info">
          <h2 class="title">Сад Гетсиманський</h2>
          <p class="p_time">Народна трагедія на 2 дії</p>
          <p class="p_time">Тривалість вистави 2 год 20 хв.</p>
        </div>
        <div class="buy">
          <button class="buy_ticket"><p class="buy_ticket_p">Купити квиток</p></button>
        </div>
      </div>
    </div>
    <div data-target="#carouselExampleIndicators" data-slide-to="3" class="ticket">
      <div class="content-active">
        <p class="ticket_p ticket_day">Нд</p>
        <p class="ticket_p ticket_date">24</p>
        <p class="ticket_p ticket_month">лютого</p>
      </div>
      <div class="block">
        <div class="info">
          <h2 class="title">Сад Гетсиманський</h2>
          <p class="p_time">Народна трагедія на 2 дії</p>
          <p class="p_time">Тривалість вистави 2 год 20 хв.</p>
        </div>
        <div class="buy">
          <button class="buy_ticket"><p class="buy_ticket_p">Купити квиток</p></button>
        </div>
      </div>
    </div>
    <div data-target="#carouselExampleIndicators" data-slide-to="4" class="ticket">
      <div class="content-active">
        <p class="ticket_p ticket_day">Нд</p>
        <p class="ticket_p ticket_date">24</p>
        <p class="ticket_p ticket_month">лютого</p>
      </div>
      <div class="block">
        <div class="info">
          <h2 class="title">Сад Гетсиманський</h2>
          <p class="p_time">Народна трагедія на 2 дії</p>
          <p class="p_time">Тривалість вистави 2 год 20 хв.</p>
        </div>
        <div class="buy">
          <button class="buy_ticket"><p class="buy_ticket_p">Купити квиток</p></button>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/images/slide1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/images/slide2.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/images/slide4.jpeg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/images/slide5.jpeg" alt="Third slide">
    </div>
  </div>
</div>
