@import "~assets/styles/variables";

h1 {
  font-family: KobzarKS-Regular;
  font-size: 72px;
  line-height: 72px;
  color: #b49864;
  margin-bottom: 64px;
  text-align: center;
  padding-top: 32px;
}

.article {
  max-width: 1504px;
  margin: 0 auto 80px;
  min-height: 473px;
}

.img {
  float: left;
  margin: 15px 30px 5px 0;
  width: 50%;
  overflow: hidden;

  img {
    height: 470px;
    margin: 0 auto;
    display: block;
  }
}

.item_title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: .8px;
  margin-bottom: 16px;
  color: #fff;
}

.date {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 16px;
  color: #b49864;
}

.text {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 27px;
  color: #b6b6b4;
}
