@import "~assets/styles/variables";

h1 {
  margin-bottom: 60px;
  text-align: center;
  padding-top: 30px;

  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 72px, normal)
}

.article {
  max-width: 1500px;
  margin: 0 auto 80px;
  min-height: 470px;
  padding: 0 15px;
}

.img {
  float: left;
  margin: 15px 30px 5px 0;
  width: 50%;
  overflow: hidden;

  img {
    height: 470px;
    margin: 0 auto;
    display: block;
  }
}

.item_title {
  margin-bottom: 16px;

  @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, 60px, .8px)
}

.date {
  margin-bottom: 16px;

  @include font($body-font-family, $font-size-medium, $font-color-accent, $font-weight-bold, 25px, normal)
}

.text {
  @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, $line-height-basic, normal)
}
