<div class="article_container">
  <app-spinner name="article"></app-spinner>

  <h1 i18n="@@newsItem">News</h1>

  <div *ngIf="item" class="article">
    <div class="img">
      <img *ngIf="item.mainPicture; else elseImg" [src]="item.mainPicture.post_big.url"
           alt="{{ item.short_description }}">
      <ng-template #elseImg>
        <img [src]="defaultImg">
      </ng-template>
    </div>

    <div>
      <h2 class="item_title">{{ item.title }}</h2>
      <p class="date">{{ item.created_at | date: 'd.MM.yyyy' }}</p>
      <div [innerHtml]=item.text class="text"></div>
    </div>
  </div>

  <ngx-gallery *ngIf="!loading" [images]="galleryImages" [options]="galleryOptions" class="ngx-gallery">
  </ngx-gallery>

</div>
