<div class="container">
  <app-spinner name="article"></app-spinner>

  <h1 i18n="@@news">News</h1>

  <div *ngIf="item" class="article">
    <div class="img">
      <img *ngIf="item.mainPicture; else elseImg" [src]="item.mainPicture.post_big.url"
           alt="{{ item.short_description }}">
      <ng-template #elseImg>
        <img [src]="defaultImg">
      </ng-template>
    </div>

    <div>
      <h2>{{ item.title }}</h2>
      <p class="date">{{ item.created_at | date: 'd.MM.yyyy' }}</p>
      <div [innerHtml]=item.text class="text"></div>
    </div>
  </div>
</div>

