@import "~assets/styles/variables";

:host {
  flex: 1;
}

.page_title {
  margin-bottom: 32px;
  text-align: center;
  padding-top: 32px;

  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 72px, normal)
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

.article {
  width: 100%;
  margin-bottom: 80px;
  min-height: 470px;
}

.img {
  float: left;
  margin: 15px 30px 5px 0;
  width: 50%;
  overflow: hidden;

  img {
    max-height: 470px;
    margin: 0 auto;
    display: block;
  }
}

.section_title {
  margin-bottom: 16px;

  @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, 60px, .8px)
}

.date {
  margin-bottom: 16px;

  @include font($body-font-family, $font-size-medium-px, $font-color-accent, $font-weight-bold, 25px, normal)
}

.text {
  @include font($body-font-family, $font-size-medium-px, $font-color-primary, $font-weight-normal, $line-height-basic, normal)
}

.article_container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 32px;
}

.gallery_title {
  text-align: center;
  margin-bottom: 30px;

  @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, 60px, .8px)
}

.gallery {
  padding-bottom: 50px;
}

:host ::ng-deep .ngx-gallery-thumbnail.ngx-gallery-active {
  border: none !important;
}

:host ::ng-deep .text a {
  color: $font-color-primary;
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (max-width: map-get($grid-breakpoints, md-max)) {

  .article_container {
    padding: 0 32px;
  }

  .page_title {
    margin-bottom: 0;
  }

  .article {
    display: flex;
    flex-direction: column;
  }

  .img {
    width: 100%;
    margin-bottom: 10px;

    img {
      height: 350px;
      margin: 0 auto;
      display: block;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm-max)) {

  .img {
    width: 100%;
    overflow: hidden;

    img {
      height: 180px;
      margin: 0 auto;
      display: block;
    }
  }

  .page_title {
    margin-bottom: 0;
    padding-top: 16px;

    @include font($creative-font, $font-size-xx-large, $font-color-accent, $font-weight-normal, 1.5, normal)
  }

  .section_title {
    margin-bottom: 8px;

    @include font($body-font-family, $font-size-medium-px, $font-color-white, $font-weight-bold, 25px, .8px)
  }

  .date {
    margin-bottom: 8px;

    @include font($body-font-family, $font-size-small, $font-color-accent, $font-weight-bold, 21px, normal)
  }

  .text {
    @include font($body-font-family, $font-size-small, $font-color-primary, $font-weight-normal, 21px, normal)
  }
}
