@import "~assets/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

app-footer {
  display: block;
  margin-top: auto;
}

.navbar-active {
  /* stylelint-disable */
  height: 100vh;
  overflow-y: hidden;
  /* stylelint-enable */
}
