@import "../assets/variables";

::ng-deep {

  a {

    .btn-success {
      background-color: $new-success-color!important;
      border-color: $new-success-color!important;
      padding: 5px 15px;
      border-radius: 3px;
      transition: .3s ease all;

      p {
        color: $new-dark-color!important;
        font-family: "cormorant_infantmedium", serif;
        margin: 0;
      }
    }

    &:hover {

      .btn-success {
        background-color: transparent !important;
        color: $new-success-color!important;
        border-color: $new-success-color!important;

        p {
          color: $new-success-color!important;
        }
      }
    }
  }
}

:host {
  display: block;
  position: relative;
  min-height: 100%;
  padding-bottom: 120px;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;            /* Footer height */
}

