@import "../../assets/variables";
h2 {
  color: $hover-color;
  font-family: roboto,sans-serif;
}
h3 {
  font-family: roboto,sans-serif;
}
.title {
  margin: 60px auto 0;
  text-align: center;
}
.btn-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  color: $hover-color;
  border: 1px solid $hover-color;
  background-color: $white-color;
}
.btn:hover {
  color: $white-color;
  background-color: $hover-color;
}
.btn:focus {
  box-shadow: none;
}

.mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .schedule-time {
    color: $hover-color;
    text-align: center;
  }
  .schedule-event {
    position: relative;
    padding: 20px 22px 0 0;
    flex-basis: 50%;
    border-right: 3px solid #eee;
    &:last-child {
      padding-bottom: 20px;
    }
    .schedule-link {
      text-decoration: none;
      color: $hover-color;
    }
    .schedule-body {
      position: relative;
      max-width: 400px;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 12px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      margin: 0 18px 0 0;
    }
    .schedule-body:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 36px;
      right: -10px;
      border: 1px solid #d4d4d4;
      background-color: $white-color;
      transform: rotate(45deg);
      border-top: 1px solid #d4d4d4;
      border-left: 1px solid transparent;
      border-right: 1px solid #d4d4d4;
      border-bottom: 1px solid transparent;
    }
      .schedule-title {
        color: #474b4d;
        font-size: 18px;
        text-align: center;
      }
      .schedule-main .schedule-small_img {
        display: block;
        margin: 0 auto;
        max-height: 300px;
      }
    }
    .schedule-day {
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: $hover-color;
      top: 42px;
      right: -27px;
    }
    .day {
      display: block;
      margin-top: 12px;
      font-size: 18px;
      font-weight: 900;
      color: $white-color;
      text-align: center;
    }
    &:nth-child(2n) {
      position: relative;
      border-right: none;
      padding: 20px 0 0 22px;
      .schedule-body {
        transform: translateY(102px);
        margin: 0 0 0 18px;
      }
      .schedule-body::after {
        left: -10px;
        border: 1px solid #d4d4d4;
        background-color: $white-color;
        transform: rotate(45deg);
        border-top: 1px solid transparent;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid transparent;
        border-bottom: 1px solid #d4d4d4;
      }
      .schedule-day {
        position: absolute;
        top: 144px;
        left: -27px;
      }
    }
  }
@media screen and (max-width: 900px) {
  .mobile {
    padding-left: 24px;
    justify-content: flex-start;
    flex-direction: column;
    max-width:400px;
    margin: 40px auto 0;
    .schedule-event {
      padding: 20px 0 0 0;
      border-left: 3px solid #eee;
      border-right: none;
      .schedule-body {
        margin: 0 0 0 60px;
      }
      .schedule-body::after {
        left: -10px;
        border-top: 1px solid transparent;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid transparent;
        border-bottom: 1px solid #d4d4d4;
      }
      .schedule-day {
        left: -27px;
      }
      &:nth-child(2n) {
        padding: 20px 0 0 0px;
        .schedule-body {
          transform: translateY(0px);
          margin: 0 0 0 60px;
        }
        .schedule-day {
          top: 42px;
        }
      }
    }
  }
}
@media screen and (min-width: 900px){
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .btn-now {
    display: none;
  }
}


