<div class="col-8 col-md-8 title">
  <h2 class="page-title">
    <ng-container i18n="@@posterFor">Poster for</ng-container>
    <br>
    <span class="h4">{{ date | date:'LLLL yyyy' }}</span>
  </h2>
</div>

<div class="btn-group btn-switch">
  <button class="btn btn-prev" (click)="prevMonth()" i18n="@@prev">Previous</button>
  <button class="btn btn-now" (click)="now()" i18n="@@now">Today</button>
  <button class="btn btn-next" (click)="nextMonth()" i18n="@@next">Next</button>

  <button (click)="changeView()" class="poster-view">
    <svg width="20" height="20" class="u-svg-icon">
      <use xlink:href="assets/images/sprite.svg#list-grid"></use>
    </svg>
  </button>
</div>

<app-calendar *ngIf="viewMode === views.CALENDAR"></app-calendar>

<app-list-view *ngIf="viewMode === views.LIST"></app-list-view>

<app-mobile-view *ngIf="viewMode === views.MOBILE"></app-mobile-view>
