@import "~assets/variables";

h2 {
  color: $hover-color;
  font-family: roboto,sans-serif;
}

h3 {
  font-family: roboto,sans-serif;
}

a:hover {
  text-decoration: none;
}

.title {
  margin: 60px auto 0;
  text-align: center;
}

.btn-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  color: $hover-color;
  border: 1px solid $hover-color;
  background-color: $white-color;
}

.btn:hover {
  color: $white-color;
  background-color: $hover-color;
}

.btn:focus {
  box-shadow: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.desktop {
  max-width: 71.429rem;
  margin: auto;
}

.calendar {
  max-width: 100%;
  margin: 35px 0;
}

.day-of-week {
  background-color: $hover-color;
  color: $white-color;
  font-family: robotothin,sans-serif;
  font-size: 1rem;
  border-right: 1px solid $white-color;
  padding: 11px 0;
  width: 10.071rem;
  text-align: center;
  text-transform: capitalize;
}

.day-of-month {
  position: relative;
  overflow: hidden;
  height: 10.143rem;
  padding: 34px 0 0;
  border: 1px solid $light-gray;
  vertical-align: bottom;
}

.day-number {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 5;
  display: block;
  margin: 0 0 0 7px;
  font-size: 1.286rem;
  color: $hover-color;
  background-color: $white-color;
  border-radius: 3px;
  line-height: 1;
  padding: 2px 0;
  min-width: 1.786rem;
  text-align: center;
}

.contain {
  width: 2.857rem;
  margin-bottom: 3.571rem;
  float: left;
}

.calendar-img {
  width: 100%;
  height: inherit;
  margin-top: -10rem;
}

.panel {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: $primary-color;
  display: none;
  opacity: 0;
  overflow: hidden;
}

.panel p {
  color: $white-color;
  text-align: center;
  font-size: 1rem;
  margin: 5px auto 0;
}

.calendar-img:hover {
  cursor: pointer;
}

.calendar-img:hover .panel {
  display: block;
  opacity: .9;
}

.more {
  background-color: $dark-grayish-red;
  height: inherit;
  margin-top: -2.857rem;
}

.events {
  height: 50%;
  color: $white-color;
  text-align: center;
  font-size: 1rem;
  display: block;

  &:hover {
    background-color: $hover-color;
  }
}

.events p {
  text-align: center;
  font-size: 1rem;
}

.popover-time {
  text-align: center;
  font-size: 1.143rem;
  color: $hover-color;
}

.popover-venue {
  text-align: center;
  font-size: 1.143rem;
}

.popover-img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

.mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .schedule-time {
    color: $hover-color;
    text-align: center;
    font-size: 1rem;
  }

  .schedule-place {
    text-align: center;
    color: $primary-color;
    font-size: 1rem;
  }

  .schedule-event {
    position: relative;
    padding: 20px 22px 0 0;
    flex-basis: 50%;
    border-right: 3px solid $light-grayish-red;

    &:last-child {
      padding-bottom: 20px;
    }

    .schedule-link {
      text-decoration: none;
      color: $hover-color;
    }

    .schedule-body {
      position: relative;
      max-width: 28.571rem;
      border: 1px solid $light-gray;
      border-radius: 2px;
      padding: .857rem;
      box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
      margin: 0 18px 0 0;
    }

    .schedule-body::after {
      content: "";
      position: absolute;
      width: 1.429rem;
      height: 1.429rem;
      top: 2.571rem;
      right: -.714rem;
      background-color: $white-color;
      transform: rotate(45deg);
      border-top: 1px solid $light-gray;
      border-left: 1px solid transparent;
      border-right: 1px solid $light-gray;
      border-bottom: 1px solid transparent;
    }

    .schedule-title {
      color: $primary-color;
      font-size: 1.286rem;
      text-align: center;
    }

    .schedule-main .schedule-small_img {
      display: block;
      margin: 0 auto;
      max-height: 300px;
    }
  }

  .schedule-day {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 3.571rem;
    height: 3.571rem;
    background-color: $hover-color;
    top: 3rem;
    right: -1.929rem;
  }

  .day {
    display: block;
    margin-top: .857rem;
    font-size: 1.286rem;
    font-weight: 900;
    color: $white-color;
    text-align: center;
  }

  .schedule-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto 0;

    .btn-success {
      width: 100%;
      padding: 10px;
      border-radius: 4px;

      .ticket_p {
        margin: 0;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 71.429rem) {

  .mobile {
    padding-left: 1.714rem;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 19.286rem;
    margin: 2.857rem auto 0;

    .schedule-event {
      padding: 1.429rem 0 0;
      border-left: 3px solid $light-grayish-red;
      border-right: none;

      .schedule-body {
        margin: 0 0 0 4.286rem;
      }

      .schedule-body::after {
        left: -.714rem;
        border-top: 1px solid transparent;
        border-left: 1px solid $light-gray;
        border-right: 1px solid transparent;
        border-bottom: 1px solid $light-gray;
      }

      .schedule-day {
        left: -1.929rem;
      }

      &:nth-child(2n) {
        padding: 1.429rem 0 0;

        .schedule-body {
          transform: translateY(0);
          margin: 0 0 0 4.286rem;
        }

        .schedule-day {
          top: 3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 71.429rem) {

  .mobile {
    display: none;
  }
}

@media screen and (min-width: 40rem) {

  .mobile {
    max-width: 28.571rem;

    .schedule-button {
      width: 50%;
    }
  }
}

@media screen and (max-width: 71.429rem) {

  .desktop {
    display: none;
  }
}
