<div class="container">
  <h2>Новини</h2>
  <app-spinner name="news"></app-spinner>
  <div *ngIf="listPost">
    <app-news-item *ngFor="let item of listPost" [item]="item">
    </app-news-item>
    <ngb-pagination class="d-flex justify-content-center"
                    [collectionSize]="collectionSize"
                    [(page)]="page" [boundaryLinks]="false"
                    (pageChange)="getNews($event)"
                    [pageSize]="5">
      <ng-template ngbPaginationFirst>&#171;</ng-template>
      <ng-template ngbPaginationPrevious>&#8249;</ng-template>
      <ng-template ngbPaginationNext>&#8250;</ng-template>
      <ng-template ngbPaginationLast>&#187;</ng-template>
    </ngb-pagination>
  </div>
</div>
