@import "../../assets/variables";

h2 {
  font-size: 25px;
  font-family: $main-font;
  color: $hover-color;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

:host ::ng-deep .myPagination {

  .ngx-pagination {
    text-align: center;

    a {

      &:hover {
        text-decoration: none;
        background: $white-color;
      }
    }

    .current {
      background: $white-color;
      font-size: 22px;
      border-bottom: 3px solid $danger;
      color: $primary-color;
      font-family: $main-font;
    }
  }
}

