@import "~assets/variables";

h2 {
  font-size: $main-font-size;
  font-family: $main-font;
  color: $hover-color;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.widget {
  float: right;
}

ngb-pagination ::ng-deep ul {

  li a {
    color: $primary-color;
    outline: none;
    font-family: $main-font;
    border: transparent;
  }

  li.active a {
    background-color: $hover-color !important;
    outline: none;
    color: $primary-color;
    border: transparent;

    span {
      display: none;
    }

    .page-item.active .page-link {
      border-color: transparent;
      outline: transparent !important;
      padding: 7px 11px !important;
    }
  }
}

.pagination {
  font-size: .9rem;
}

@media (max-width: 992px) {

  .widget {
    display: none;
  }
}
