<div class="news_container">
  <h1>Новини</h1>
  <div *ngIf="listPost" class="news_wrapper">
    <div>
      <app-news-item *ngFor="let item of listPost" [item]="item"></app-news-item>
    </div>
  </div>
</div>

<ngb-pagination (pageChange)="goToPage($event)"
                [(page)]="page"
                [boundaryLinks]="false" [collectionSize]="collectionSize"
                [pageSize]="5"
                class="pagination">
  <ng-template ngbPaginationFirst>&#171;</ng-template>
  <ng-template ngbPaginationPrevious>&#8249;</ng-template>
  <ng-template ngbPaginationNext>&#8250;</ng-template>
  <ng-template ngbPaginationLast>&#187;</ng-template>
</ngb-pagination>

