<div class="container">
  <h2>Новини</h2>
  <app-spinner name="news"></app-spinner>
  <div *ngIf="listPost.length">
    <app-news-item *ngFor="let item of listPost | paginate: { itemsPerPage: 10, currentPage: p }" [item]="item">
    </app-news-item>
    <pagination-controls class="myPagination"
                         previousLabel=""
                         nextLabel=""
                         (pageChange)="getNews($event)"
                         maxSize="4">
    </pagination-controls>
  </div>
</div>
