.carousel {
  display: flex;
  justify-content: center;
}

.slider {
  height: 864px;
  display: flex;
  justify-content: center;
  background-color: #0e0c08;
}

gallery {
  margin-top: 64px;
  margin-bottom: 112px;
}

.custom {
  height: 688px;
  width: 1504px;
}

:host ::ng-deep gallery gallery-nav .ng-star-inserted {
  width: 48px;
  height: 48px;
}

:host ::ng-deep gallery gallery-dots .ng-star-inserted {
  position: relative;
  bottom: -10px;
}

:host ::ng-deep gallery gallery-dots .ng-star-inserted .g-dot {
  width: 12px;
  height: 12px;
}

:host ::ng-deep gallery gallery-dots .g-dot-active .g-dot-inner {
  background-color: #868583;
  width: 16px;
  height: 16px;
}

:host ::ng-deep gallery gallery-dots .ng-star-inserted .g-dot-inner {
  background-color: #b49864;
  width: 12px;
  height: 12px;
}

:host ::ng-deep gallery gallery-dots .ng-star-inserted .g-dot .g-dot-inner {
  background-color: #868583;
}

.age-restrictions {
  padding: 10px 8px 10px 9px;
  position: absolute;
  top: -480px;
  left: -225px;
  width: 56px;
  height: 56px;
  font-size: 24px;
  color: #fff;
  background-color: #b49864;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.performance-title {
  height: 63px;
  font-family: Montserrat-SemiBold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
}

.container__performance {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.image {
  margin: 0 11px 0 0;
  width: 24px;
  height: 24px;
}

.button-ticket {
  color: #fff;
  border: solid 1px #fff;
  border-radius: 2px;
  width: 197px;
  height: 48px;
  padding: 12px 24px;
  margin: 22px 0;
}

.button-ticket:hover {
  color: #fff;
  text-decoration: none;
}

.performance__venue {
  color: #fff;
  line-height: 1.5;
  width: 268px;
  height: 27px;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  text-align: left;
}

.performance__type {
  height: 27px;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.tickets-month {
  margin-left: 2px;
  font-size: 18px;
}

.tickets-day {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
