<div class="slider">
  <ngb-carousel #carousel>
    <ng-template ngbSlide *ngFor="let item of sliderList">
      <div class="picsum-img-wrapper">
        <img [src]="item.performance.sliderImage.slider_slider.url" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="performance-title">{{ item.performance.title }}</h3>
        <div class="container">
          <div class="container__performance">
            <img src="../../../assets/images/home-slider/performance-type.svg" alt="performance type image" class="image">
            <p class="performance__type">{{ item.performance.type }}</p>
          </div>
          <div class="container__performance">
            <img src="../../../assets/images/home-slider/performance-data.svg" alt="due date image" class="image">
            <p class="tickets-day">{{ item.date_time | date: 'EEE, dd' }}</p>
            <p class="tickets-month">{{ item.date_time | date: 'MMMM' | lowercase}}</p>
          </div>
          <div class="container__performance">
            <img src="../../../assets/images/home-slider/performance.venue.svg" alt="performance venue image" class="image">
            <p class="performance__venue">{{ item.venue }}</p>
          </div>
        </div>
        <a [href]="item.buy_ticket_link" class="button-ticket" >Купити квиток</a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>











































<!--<div class="content">-->
<!--  <div id="slider" class="slider">-->
<!--    -->
<!--  </div>-->

<!--</div>-->


<!--<div *ngFor="let item of sliderList">-->
<!--  <ngb-carousel #carousel >-->
<!--    <ng-template ngbSlide>-->
<!--      <div class="picsum-img-wrapper">-->
<!--        <img class="images" [src]="item.performance.sliderImage.slider_slider.url">-->
<!--      </div>-->
<!--      <div class="carousel-caption">-->
<!--        <h3>First slide label</h3>-->
<!--        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </ngb-carousel>-->
<!--</div>-->

<!--<div class="imagineCarusel">-->
<!--  <ng-container>-->
<!--    <ngb-carousel>-->
<!--      <ng-template id="imageSlide" ngbSlide *ngFor="let image of sliderList | slice: 1">-->
<!--        <img [src]="image.performance.sliderImage.slider_slider.url">-->

<!--      </ng-template>-->
<!--    </ngb-carousel>-->

<!--  </ng-container>-->

<!--</div>-->
