@import "~assets/styles/variables";

.footer-wrapper {
  background-color: $background-main-color-darker;

  .footer {
    width: $container-width;
    margin: $container-margin;
    background-color: $background-main-color-darker;

    .footer__links {
      padding: 22px 0;
      flex-direction: row;
      list-style: none;
      gap: 40px;
      font-size: $font-size-small;
      color: $font-color-primary;
      border-top: .05px solid $font-color-dark;

      @include flex-center;
    }

    .copy {
      opacity: .5;

      a {
        color: $font-color-primary;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }

    & svg {
      background-color: $background-color-white;
    }

    &__icon {
      transition: .3s ease;
    }
  }
}

.ucf-text {
  color: $font-color-white;
}

.footer__link {
  margin-left: 8px;
}

.scrollToTop {
  z-index: 20;
  position: fixed;
  bottom: 20%;
  right: 1%;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  object-fit: contain;
  background-color: $background-color-accent;

  @include box(48, 48);

  &:hover {
    background-color: $background-on-hover;
  }
}

@media only screen and (max-height: 660px) {

  .scrollToTop {
    bottom: 10%;

    @include box(50, 50);
  }
}

