@import "~assets/styles/variables";

.footer {
  height: 392px;
  width: $container-width;
  margin: $container-margin;
  padding: $container-padding;
  background-color: $background-main-color-darker;

  .footer__links {
    height: 71.5px;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    font-size: $font-size-small;
    color: $font-color-primary;
    border-top: 0.05px solid $font-color-dark;

    @include flex-center;
  }

  .copy {
    opacity: .5;

    a {
      color: $font-color-primary;
      text-decoration: underline;
      text-underline-offset: 0.3em;
    }
  }

  & svg {
    background-color: $background-color-white;
  }

  &__icon {
    transition: .3s ease;
  }
}

.ucf-text {
  color: $font-color-white;
}

.footer__link {
  margin-left: 7px;
}

.scrollToTop {
  z-index: 999;
  position: absolute;
  bottom: 67px;
  right: 1%;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  flex-grow: 0;
  margin-right: 32px;
  margin-bottom: 372px;
  object-fit: contain;
  font-size: 22px;
  background-color: $background-color-accent;

  @include box(48, 48);

  &:hover {
    background-color: $background-on-hover;
  }
}

