<div class="footer-wrapper">

<!--  <app-footer-nav></app-footer-nav>-->

  <footer class="footer">
    <button class="btn scroll-to-top-btn" (click)="scrollToTop()" i18n-title="@@up" title="Up">
      <img src="assets/images/icons/ic_arrow_up_circle.svg" alt="Go to top button">
    </button>

    <ul class="footer__links social">

      <li class="facebook"><span>Facebook</span>
        <a class="footer__link facebook__link"
           target="_blank"
           aria-label="Facebook page"
           title="Facebook page"
           i18n-aria-label="@@facebookPage"
           href="https://www.facebook.com/pg/%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%8C%D0%BA%D0%B8%D0%B9-%D0%B0%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D1%96%D1%87%D0%BD%D0%B8%D0%B9-%D0%BC%D1%83%D0%B7%D0%B8%D1%87%D0%BD%D0%BE-%D0%B4%D1%80%D0%B0%D0%BC%D0%B0%D1%82%D0%B8%D1%87%D0%BD%D0%B8%D0%B9-%D1%82%D0%B5%D0%B0%D1%82%D1%80-%D1%96%D0%BC%D0%B5%D0%BD%D1%96-%D0%A2%D0%B0%D1%80%D0%B0%D1%81%D0%B0-%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%B0-1672281213013382">
          <img src="assets/images/facebook-box-fill.svg" class="facebook-box-fill" alt="Facebook logo">
        </a>
      </li>

      <li><span class="ucf-text" i18n="@@createdWithHelp">Site has been created with the help of</span>
        <a class="footer__link footer__link_ucf"
           target="_blank"
           title="Ukrainian Cultural Foundation"
           i18n-title="@@ukrainianCulturalFoundation"
           href="https://ucf.in.ua/">
          <svg class="footer__icon" width="44" height="37">
            <use xlink:href="assets/images/sprite.svg#ucf"></use>
          </svg>
        </a>
      </li>

      <li>
        <div class="copy">
          <span class="text"> © Copyright <span class="text-font"> 2021 </span> Powered by </span>
          <!--          <a routerLink="developers-team" title="GeekHub Team"> GeekHub Team </a>-->
          <a href="https://geekhub.ck.ua/" target="_blank" title="GeekHub Team"> GeekHub Team </a>
        </div>
      </li>
    </ul>
  </footer>
</div>
