<button class="scrollToTop" (click)="scrollToTop()">scrollToTop</button>
<footer class="footer">
  <div class="container">
    <app-main-nav></app-main-nav>
    <ul class="social">
      <li><a class="fa-icon" href="#">
        <svg width="20" height="20" fill="blue">
          <use href="assets/images/facebook.svg#facebook"></use>
        </svg>
      </a></li>
    </ul>
  </div>
  <div class="copy">
    <span class="text">© Copyright 2019 Powered by </span>
    <a href="http://geekhub.ck.ua/">Geekhub</a>
  </div>

</footer>
