<footer class="footer">
  <nav class="navbar navbar-expand-lg navbar-dark mb-6">
    <div class="container menu-container">
      <ul class="nav__list">
        <li class="nav__list__item"><a routerlink="">ГОЛОВНА</a></li>
        <li class="nav__list__item"><a routerlink="">АФІША</a></li>
        <li class="nav__list__item"><a routerlink="">РЕПЕРТУАР</a></li>
        <li class="nav__list__item"><a routerlink="">НОВИНИ</a></li>
        <li class="nav__list__item"><a routerlink="">ПРО ТЕАТР</a></li>
        <li class="nav__list__item"><a routerlink="">ПЕРСОНАЛІЇ</a></li>
        <li class="nav__list__item"><a routerlink="">КОНТАКТИ</a></li>
        <li class="nav__list__item"><a routerlink="">ФЕСТИВАЛІ</a></li>
        <li class="nav__list__item"><a routerlink="">ФОРУМ</a></li>
      </ul>
    </div>
  </nav>
</footer>
