@import "../../../../assets/variables";

.footer {
  margin-top: 50px;
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 4px;
  background-image: -webkit-linear-gradient(left, #f1592a 20%, #bf1e2e 100%);
  font-size: 12px;
  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    .text::after {
      content: " ";
      white-space: pre;
    }
    a {
      color: $hover-color;
    }
  }
}

:host ::ng-deep {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    .nav-link {
      padding: 15px;
      color: $primary-color;
      &:hover {
        color: $hover-color;
      }
    }
    .hide,
    .language {
      display: none;
    }
    #mobile1 {
      display: block;
    }

    .fa-icon {
      width: 20px;
      height: 20px;
      display: block;
      margin-left: 50px;
      margin-top: 12px;
      color: #0000ff;
      transition: 0.3s;
      border: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }

  }
  @media (max-width: 991.98px) {
    .navbar-nav {
      display: none;
    }
    .copy {
      padding-top: 15px;
    }
  }
}

.scrollToTop {
  font-size: 0;
  position: absolute;
  bottom: 67px;
  right: 35px;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  transition: 0.3s;
  background-color: #cd2e2d;
  background-image: url("/../../../../assets/images/arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  &:hover {
    bottom: 70px;
  }
  &:active {
    bottom: 60px;
  }
}
