<table class="calendar">
  <thead>
  <tr>
    <th class="day__of__week" i18n="@@monday">Monday</th>
    <th class="day__of__week" i18n="@@tuesday">Tuesday</th>
    <th class="day__of__week" i18n="@@wednesday">Wednesday</th>
    <th class="day__of__week" i18n="@@thursday">Thursday</th>
    <th class="day__of__week" i18n="@@friday">Friday</th>
    <th class="day__of__week" i18n="@@saturday">Saturday</th>
    <th class="day__of__week" i18n="@@sunday">Sunday</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let week of weeks">
    <td *ngFor="let day of week"
        class="day__of__month {{(day | date: 'MM') === (selectedDate | date: 'MM') ? '' : 'another__month'}}">
      <span class="day__number">{{ day | date: 'dd' }}</span>
      <div class="more" *ngIf="hasPerformanceByDate(day)">
        <div class="more__items">
          <ng-container *ngFor="let event of dayPerformances; let eventIndex = index">

            <ng-template #popContent>
              <app-cal-popup
                [img_title]="event.performance.mainPicture.performance_big.properties.title"
                [url]="event.performance.mainPicture.performance_big.url" [title]="event.performance.title"
                [date_time]="event.date_time" [duration]="'2 год. 30 хв.'" [time]="event.time" [venue]="event.venue"
              ></app-cal-popup>
            </ng-template>

            <ng-container *ngIf="dayPerformances.length <= 3 || (dayPerformances.length > 3 && eventIndex < 2)">
              <div class="day__performances">
                <a
                  class="events"
                  [routerLink]="['', 'performance', event.performance.slug]">
                  <p
                    class="events__performance__title"
                    triggers="mouseenter:mouseleave"
                    animation="{{true}}"
                    [ngbPopover]="popContent"
                    placement="top"
                    popoverClass="popover__poster"
                    *ngIf="hasPerformanceByDate(day) && dayPerformances.length > 0">
                    {{ event.performance.title | striphtml:['40', '...'] }}
                  </p>
                </a>
              </div>
            </ng-container>

          </ng-container>
          <div *ngIf="dayPerformances.length > 3" class="day__performances calendar__show__more">
            <button (click)="onShowMore(day)">Показати більше (+{{ dayPerformances.length - 2 }})</button>
          </div>
          <div class="more__items calendar__popup__show__more" *ngIf="showMore && day === activeDay">
            <div class="popup__day__number ">
              <span>{{ day | date: 'dd' }}</span>
            </div>
            <ng-container *ngFor="let event of dayPerformances">

              <ng-template #popContent>
                <app-cal-popup
                  [img_title]="event.performance.mainPicture.performance_big.properties.title"
                  [url]="event.performance.mainPicture.performance_big.url" [title]="event.performance.title"
                  [date_time]="event.date_time" [duration]="'2 год. 30 хв.'" [time]="event.time" [venue]="event.venue"
                ></app-cal-popup>
              </ng-template>

              <div class="popup__day__performances">
                <a
                  class="events"
                  [routerLink]="['', 'performance', event.performance.slug]">
                  <p
                    class="popup__events__performance__title"
                    triggers="mouseenter:mouseleave"
                    [ngbPopover]="popContent"
                    placement="top"
                    popoverClass="popover__poster"
                    *ngIf="hasPerformanceByDate(day) && dayPerformances.length > 0">{{ event.performance.title | striphtml:['40', '...'] }}</p>
                </a>
              </div>
            </ng-container>

            <div class="popup__day__performances" >
              <button (click)="onShowMore(null)">Показати менше</button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
