@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.myContainer {
  background-color: #0e0c08;
  padding-top: 10px;
  padding-bottom: 50px;
  min-height: 700px;
}

.fest-navigation {
  margin-left: 10%;
  margin-top: 20px;
  color: #b6b6b4;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;

  h3 {
    font-size: 15px;
  }

  .fest-navigation-bold {
    font-weight: bold;
    color: white;
  }
}

.festTitle {
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #b49864;
  margin-bottom: 60px;
  margin-top: -10px;
  font-family: "KobzarKS";
  margin-top: 25px;
}

.history-title {
  height: 40px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.history-fest-contain{
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;

  .img{
    padding-left: 30px;
    // width: 90%;
  }

  .post-text{
    margin-left: 5%;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #b6b6b4;
  }
}