@import "~assets/styles/_variables";
@import "~assets/styles/aboutStyles";
@import "~assets/styles/_sliderMixins";

.myContainer {
  @include _container;
}

.festTitle {
  margin-top: 40px;
  @include about-title;
}

.history-title {
  height: $font-size-xxx-large;
  font-family: $body-font-family;
  font-size: $font-size-xxx-large;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: center;
  color: $background-color-white;
}

.history-fest-contain {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 100px;

  .post-text {
    margin-left: 5%;
    font-family: $body-font-family;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: $secondary-background-color;
  }
}

a {
  color: $font-color-accent;
  text-decoration: none;
}

.title {
  height: 60px;
  font-family: $body-font-family;
  font-size: $font-size-xxx-large;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: center;
  color: $background-color-white;
}

.performansesListTitle {
  @include flex-center;
  font-family: $body-font-family;
  font-size: $font-size-xxx-large;
  font-weight: $font-weight-semi-bold;
  margin-top: 30px;
}

// ________________ slider _________


.wrapped {
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: $background-colors;
}

a {
  color: $dots-active-color;
  text-decoration: none;
}

.title {
  height: 60px;
  font-family: $body-font-family;
  font-size: $font-size-xxx-large;
  line-height: 1.5;
  letter-spacing: 0.8px;
  @include flex-center;
  color: $background-color-white;
}

.all-prersons {
  @include display;
}

.link-persons {
  width: 170px;
  height: 25px;
  line-height: 1.39;
}

.image {
  background-size: cover !important;
  height: 470px;
  margin-left: 17px;
  margin-right: 17px;
  cursor: pointer;
}

.left {
  @include display;
  @include gradient;
  @include opacity;
  position: $position;
  align-items: center;
  cursor: pointer;
  bottom: 0;
  width: 70px;
  z-index: 1;
  height: 100%;
}

.left:hover {
  @include hover_opacity;
}

.right {
  @include display;
  @include opacity;
  @include gradient;
  position: $position;
  align-items: center;
  bottom: 0;
  width: 70px;
  height: 100%;
  right: 5px;
  z-index: 1;
}

.right:hover {
  @include hover_opacity;
}

.myPoint {
  @include myPoint;
}

.myPoint li {
  @include myPoint-li;
}

.myPoint li.active {
  @include myPoint-li__active;
}

.mobile_performances{
  display: none;
}

// ________________ slider _________

@media (max-width: $max-width-tablet) {

  .festTitle{
    font-size: $font-largest;
    text-align: center;
  }

  .history-title{
    font-size: $font-size-xxx-large;
    text-align: center;
  }

  .history-fest-contain{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }

  .post-text{
    margin-left: -10px;
    margin-right: -10px;
    font-size: $font-size-medium;
  }  

  img{
    margin-bottom: 16px;
  }

  .wrapped{
    display: none;
  }

  .mobile_performances{
    display: block;;
    flex-wrap: wrap;
    overflow: hidden; 
    width: auto;
    h2{
      font-size: $font-size-xxx-large;
    }

    .performance-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 30px; 
      margin-bottom: 30px;
    }

    .performance-route {
      margin-left: 10px; 

      img{
        width: 155px;
        height: 211px;
        margin-right: 8px; 
        margin-left: 8px; 
        object-fit: cover;
      }
    }
  }
}

@media (max-width: $max-width-mobile) {

  .festTitle{
    font-size: $font-size-xx-large;
    text-align: center;
  }

  .history-title, h2{
    font-size: $font-size-large;
  }

  .mobile_performances{
    display: block;;
    flex-wrap: wrap;
    overflow: hidden; 
    width: auto;
    h2{
      font-size: $font-size-large;
    }
  }

  .history-main_img, img{
    margin-top: 20px;
  }

  .post-text, p{
    font-size: $font-size-small;
  }

  .wrapped{
    display: none;
  }


}