<div class="container">
  <app-spinner name="person"></app-spinner>
  <div class="person" *ngIf="person">
    <section>
      <img src="{{ person.avatar.employee_big.url }}" [alt]="person.first_name + person.last_name">
      <div class="about">
        <h2>{{ person.first_name }} {{ person.last_name }}</h2>
        <p><ng-container i18n="@@position">Position:</ng-container> {{ person.position }}</p>
        <p i18n="@@biography">Biography:</p>
        <div class="biography" [innerHtml]="person.biography"></div>
        <app-person-roles actorSlug="{{ person.slug }}"></app-person-roles>
      </div>
    </section>
    <ngx-gallery *ngIf="person.gallery"
                 [options]="galleryOptions"
                 [images]="person.gallery">
    </ngx-gallery>
    <br>
  </div>
</div>
