@import "../../assets/variables";

.container {
  width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    font-family: $main-font_light;
    font-size: 24px;
    color: $hover-color;

    margin: 20px 0 20px 400px;
  }
  section {
    display: flex;
    flex-direction: row;

    img {
      width: 300px;
      height: 450px;
      margin-right: 42px;
    }
    .about {
      font-size: 14px;

      .biography {
        color: $dark-grayish-red;
      }
    }
  }
  .gallery {
    display: flex;

    list-style: none;

    margin: 25px 0 25px -45px;

    li {
      margin-left: 7px;
    }
  }
}


@media screen and (max-width: 768px) {
  .container {
    width: 490px;

    h2 {
      margin: 10px 0 10px 0;
    }
    section img {
      width: 170px;
      height: 265px;

      margin-right: 12px;
    }
  }
}


@media screen and (max-width: 479px) {
  .container {
    width: 320px !important;

    section img {
      width: 150px;
      height: 225px;
    }
  }
}
