@import "../../assets/variables";

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    font-family: $main-font_light;
    font-size: 24px;
    color: $hover-color;
    margin: 20px 0 20px 400px;
  }
  section {
    display: flex;
    flex-direction: row;

    img {
      width: 300px;
      height: 450px;
      margin-right: 42px;
    }
    .about {
      font-size: 14px;

      .biography {
        color: $dark-grayish-red;
      }
    }
  }
  ngx-gallery ::ng-deep {
    .ngx-gallery-preview-img-wrapper img {
      max-width: 600px;
      max-height: 550px;
      border: 10px solid $light-grayish-red;
      border-radius: 3px;
    }
    .ngx-gallery-arrow-left .ngx-gallery-arrow {
      width: 40px;
      height: 40px;
      background-image: url('assets/images/left-icon.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      margin-left: 230px;
    }
    .ngx-gallery-arrow-right .ngx-gallery-arrow {
      width: 40px;
      height: 40px;
      background-image: url('assets/images/right-icon.png');
      background-position: center;
      background-size: 40px 40px;
      background-repeat: no-repeat;
      margin-right: 230px;
    }
    .ngx-gallery-active {
      background-color: #000000dc;
    }
    ngx-gallery-action i {
      width: 40px;
      height: 40px;
      background-image: url('assets/images/close-icon.png');
      background-position: center;
      background-size: 40px 40px;
      background-repeat: no-repeat;
      margin: 10px 10px 0 0;
    }
  }
}

@media screen and (max-width: 1120px) {
  .container {
    ngx-gallery ::ng-deep {
      .ngx-gallery-preview-img-wrapper img {
        max-width: 480px;
      }
      .ngx-gallery-arrow-left .ngx-gallery-arrow {
        margin-left: 90px;
      }
      .ngx-gallery-arrow-right .ngx-gallery-arrow {
        margin-right: 90px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .container {
    width: 490px;

    h2 {
      margin: 10px 0;
    }
    section img {
      width: 170px;
      height: 265px;
      margin-right: 12px;
    }
    ngx-gallery ::ng-deep {
      width: 240px !important;

      .ngx-gallery-preview-img-wrapper img {
        max-width: 380px !important;
        border: 7px solid $light-grayish-red;
      }
      .ngx-gallery-arrow-left .ngx-gallery-arrow {
        margin-left: 0;
      }
      .ngx-gallery-arrow-right .ngx-gallery-arrow {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 479px) {

  .container {
    width: 320px !important;

    section img {
      width: 150px;
      height: 225px;
    }
    ngx-gallery ::ng-deep {
      width: 240px !important;

      .ngx-gallery-preview-img-wrapper img {
        max-width: 250px !important;
      }
      .ngx-gallery-arrow-left .ngx-gallery-arrow {
        margin-left: -12px;
      }
      .ngx-gallery-arrow-right .ngx-gallery-arrow {
        margin-right: -12px;
      }
    }
  }
}
