<section class="gallery_section">
  <h3 class="title">Фотогалерея</h3>

  <div *ngIf="gallery" class="gallery">
    <div (click)="showLargePhoto(i)" *ngFor="let photo of gallery; let i = index">
      <img [alt]="photo.decription" [src]="photo.images.post_main.url" class="gallery_image">
    </div>
  </div>
</section>

<div (click)="selectedPhoto = ''" *ngIf="selectedPhoto" class="selected_wrapper">
  <div class="selected_content">
    <img [src]="selectedPhoto" class="selected_image">
  </div>
</div>


