.nav-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b49864;
  height: 56px;
}

.item {
  font-size: 18px;
  height: 27px;
  line-height: 1.5;
  color: #0e0c08;
}

.nav-header-container a {
  text-decoration: none;
}

.item:active {
  height: 25px;
  background-color: #c7b28b;
  line-height: 1.39;
}


