<div class="nav-header-container" >
  <a class="item"
    (click)="setPage()"
    routerLink="/repertoire"
    [class.active]="isLinkActive('/repertoire')"
    i18n="@@allPerformances"
  >
    All performances
  </a>
  <a class="item"
     (click)="setPage()"
     routerLink="/repertoire/for-adults"
     [queryParams]="{ audience: 'adults'}"
     routerLinkActive="active"
     i18n="@@adults"
  >
    For adults
  </a>
  <a class="item"
     (click)="setPage()"
     routerLink="/repertoire/kids"
     [queryParams]="{ audience: 'kids'}"
     routerLinkActive="active"
     i18n="@@kids"
  >
    For kids
  </a>
  <a class="item"
     (click)="setPage()"
     routerLink="/repertoire/archive"
     [queryParams]="{ season: -2 }"
     routerLinkActive="active"
     i18n="@@archive"
  >
    Archive
  </a>
</div>
