@import "~assets/styles/_variables";

:host {
  flex: 1;
}

.group-container {
  margin: 32px auto 64px;

  .persons-list {
    margin: 0 auto;
    min-height: 440px;
    max-width: $container-width;
  }

  .director, .deputies, .administrative-accounting {
    margin: 32px 0;

    .h2 {
      padding: 0 16px;
      margin-bottom: 32px;
    }
  }

  .deputies {
    padding: 32px 0;
    background-color: $background-main-color-darker;
  }

  @media (max-width: map-get($grid-breakpoints, sm-max)) {

    .persons-list {
      min-height: 240px;

      .h2 {
        margin-bottom: 16px;
      }
    }

    .deputies {
      padding: 24px 0;
    }
  }
}
