<!-- TODO: breadcrumbs -->

<div class="container --with-subheader --fullwidth text-center px-0" *ngIf="group">
  <div class="mb-32"><h1 class="kobzar-title">{{ group.title }}</h1></div>

  <div class="container --fullwidth --fullwidth-padding py-0 persons-groups">
    <div
      *ngFor="let chGroup of childGroups;
    let i = index"
      class="persons-group">
      <div class="persons-block">
        <h2 id="actor-persons" class="h2 mb-16 mb-md-max-32">{{ chGroup.group.title }}</h2>
        <app-persons-slider [persons]="chGroup.employees"></app-persons-slider>
        <div class="link-persons">
          <a routerLink="{{ chGroup.group.slug }}" i18n="@@showMore">Show more</a>
        </div>
      </div>
    </div>
  </div>
</div>
