<div *ngIf="sliderList.length > 0; else noPerformance"  class="slider">
  <gallery
    id="slider"
    class="gallery-container"
    [imageSize]='cover'
    [itemTemplate]="itemTemplate"
    fluid
    [dots]='true'
    [counter]='false'
    [thumb]='false'
    [gestures]='false'
  >
  </gallery>
</div>

<ng-template #itemTemplate let-data="data" >
  <div [@slideAnimation] class="carousel-caption">
    <h3 class="performance-title">{{ data.title }}</h3>
    <div class="container">
      <div class="container__performance">
        <img src="../../../assets/images/home-slider/performance-type.svg" alt="performance type image" class="image">
        <p class="performance__type">{{ data.type }}</p>
      </div>
      <div class="container__performance">
        <img src="../../../assets/images/home-slider/performance-data.svg" alt="due date image" class="image">
        <p class="tickets-day">{{ data.date | date: 'EEE, dd' }}</p>
        <p class="tickets-month">{{ data.date | date: 'MMMM' | lowercase }}</p>
      </div>
      <div class="container__performance">
        <img src="../../../assets/images/home-slider/performance.venue.svg" alt="performance venue image" class="image">
        <p class="performance__venue">{{ data.venuePerformance }}</p>
      </div>
    </div>
    <div class="container__button">
      <a [href]="data.ticket" class="button-ticket" >Купити квиток</a>
    </div>
    <span class="age-restrictions">12+</span>
  </div>
</ng-template>

<ng-template #noPerformance>
  <div class="container-no-performance">
    <img src="../../../assets/images/home-slider/no-performancex.png" alt="No performance" class="no-performance__image" >
    <div class="no-performance__container-text">
      <p class="no-performance__text">Наразі вистав немає</p>
    </div>
  </div>
</ng-template>
