@import "~assets/styles/variables";

:host::ng-deep ngx-skeleton-loader {
  width: 100%;
  height: 100%;

  .loader {
    height: 100%;
    border: none;
    margin-bottom: 0;
    background-color: $background-main-color-lighter;
  }
}

.performance-slider {
  width: 100%;
  height: 780px;
  overflow: hidden;
  position: relative;


  @media (max-width: map-get($grid-breakpoints, lg-min)) {
    height: 440px;
  }

  @media (max-width: map-get($grid-breakpoints, sm-min)) {
    height: 448px;
  }

  .slider {

    &__item, &__image {
      width: 100%;
      height: 780px;

      @media (max-width: map-get($grid-breakpoints, lg-min)) {
        height: 440px;
      }
    }

    &__image {
      object-fit: cover;
      position: absolute;

      @media (max-width: map-get($grid-breakpoints, sm-min)) {
        flex-grow: 1;
        height: 180px;
        position: sticky;
      }
    }

    &__item {
      color: $white-color;
      text-decoration: none;

      @media (max-width: map-get($grid-breakpoints, sm-min)) {
        height: 448px;
      }
    }

    &__content {
      padding-top: 16px;
      margin-bottom: 54px;

      @media (min-width: map-get($grid-breakpoints, sm-max)) {
        padding: 16px 24px 32px;
        border-radius: 4px;
        margin-bottom: 64px;
        background-color: rgba($background-main-color-darker, .7);
      }

      @media (min-width: map-get($grid-breakpoints, md-max)) {
        padding: 16px 40px 32px;
      }

      @media (min-width: map-get($grid-breakpoints, lg-max)) {
        padding: 16px 80px 32px;
      }
    }

    &__points {
      z-index: 10;
      padding: 2px;
      overflow: auto;
      margin: -40px auto;
      white-space: nowrap;
      list-style-type: none;
      box-sizing: border-box;

      @media (max-width: map-get($grid-breakpoints, sm-min)) {
        margin: -32px auto;
      }
    }

    &__points li {
      width: 12px;
      height: 12px;
      cursor: pointer;
      transition: .3s;
      border-radius: 50%;
      display: inline-block;
      background-color: $background-color-disabled;
      transition-timing-function: cubic-bezier(.17, .67, .83, .67);

      @media (max-width: map-get($grid-breakpoints, sm-min)) {
        width: 8px;
        height: 8px;
      }
    }

    &__points li + li {
      margin-left: 20px;

      @media (max-width: map-get($grid-breakpoints, sm-min)) {
        margin-left: 16px;
      }
    }

    &__points li.active {
      transform: scale(1.3);
      background-color: $background-color-accent;
    }
  }

  .no-performance {
    width: 100%;
    height: 100%;

    &__image {
      height: 100%;
      object-fit: cover;
    }

    &__text {
      margin: 0 32px 64px;

      @media (max-width: map-get($grid-breakpoints, sm-min)) {
        margin: 0 16px 32px;
      }
    }

    &__linear-gradient {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(14, 12, 8, 0), rgba(14, 12, 8, .5), rgba(14, 12, 8, .75), #0e0c08);
    }
  }

  .slider-skeleton {
    width: 100%;
    height: 100%;

    &__picture {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &__age-limit {
      top: 0;
      width: 56px;
      height: 56px;
      background-color: rgba($background-main-color-darker, .7);
    }

    &__content {
      width: 60%;
      padding: 16px 80px 32px;
      border-radius: 4px;
      background-color: rgba($background-main-color-darker, .7);
    }

    &__title {
      width: 50%;
      height: 40px;
      margin: 0 auto 16px;
    }

    &__description {
      display: grid;
      grid-gap: 16px;
      margin: 0 auto 24px;
      grid-template-rows: 24px;
      grid-template-columns: 30% 22% 1fr;
    }

    &__button {
      height: 48px;
      width: 200px;
      margin: 0 auto;
    }

    &__circles {
      grid-gap: 16px;
      display: grid;
      margin: 26px auto;
      grid-template-columns: repeat(4, 1fr);

      & > div {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba($background-main-color-darker, .7);
      }
    }

    @media (max-width: map-get($grid-breakpoints, lg-min)) {

      &__age-limit {
        width: 36px;
        height: 36px;
      }

      &__content {
        width: calc(100% - 32px);
      }
    }

    @media (max-width: map-get($grid-breakpoints, sm-min)) {

      &__picture {
        height: 180px;
        position: sticky;
      }

      &__age-limit {
        width: 24px;
        height: 24px;
      }

      &__content {
        padding: 16px;
        background-color: transparent;
      }

      &__title {
        height: 30px;
      }

      &__description {
        grid-gap: 8px;
        margin: 0 auto 32px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 18px);

        & > *:first-child, *:last-child {
          width: 70%;
          margin: 0 auto;
        }
      }

      &__button {
        height: 40px;
        width: 144px;
      }

      &__circles {
        grid-gap: 12px;
        margin: 20px auto;

        & > div {
          width: 10px;
          height: 10px;
          background-color: $background-main-color-lighter;
        }
      }
    }
  }
}
