$navbar-padding-x: 0;
$navbar-padding-y: 0;

$main-font_light: "cormorant_garamondlight", serif;
$main-font: "cormorant_garamondregular", serif;
$main-font_bold: "cormorant_garamondsemibold", serif;
$main-font-size: 30px;

$primary-color: #3f3f3f;
$hover-color: #a2414f;
$danger: $hover-color;
$light-hover-color: rgba(255, 74, 43, .08);
$white-color: #fff;

$light-grayish-red: #f8f5f5;
$dark-grayish-red: #797777;
$light-gray: #c9c9c9;
$transparent-black: #000000dc;

$bg-widget: #4f4f4f;

$new-primary-color: #a2414f;
$new-success-color: #ffdf6c;
$new-secondary-color: #3f3f3f;
$new-dark-color: #202020;
