$navbar-padding-x: 0;
$navbar-padding-y: 0;

$main-font_light: robotothin, sans-serif;
$main-font: robotolight, sans-serif;
$main-font_bold: robotoregular, sans-serif;

$primary-color: #363a3b;
$hover-color: #df4a2b;
