$navbar-padding-x: 0;
$navbar-padding-y: 0;

$main-font_light: robotothin, sans-serif;
$main-font: robotolight, sans-serif;
$main-font_bold: robotoregular, sans-serif;
$main-font-size: 25px;

$primary-color: #363a3b;
$hover-color: #df4a2b;
$danger: $hover-color;
$light-hover-color: rgba(255, 74, 43, .08);
$white-color: #fff;
$white-hover-color: rgba(255, 255, 255, 0.3);

$light-grayish-red: #f8f5f5;
$dark-grayish-red: #797777;
$light-gray: #c9c9c9;
$transparent-black: #000000dc;

$bg-widget: #4f4f4f;
$header-color-up: rgba(236, 83, 42, 1);
$header-color-down: rgba(196, 36, 46, 1);

