<!-- TODO: breadcrumbs -->

<div class="administration-container">
  <div><h1 i18n="@@administration" class="kobzar-title">Administration</h1></div>

<!--  TODO: add director in admin office -->
  <div id="administrative-persons" *ngIf="directorEmployees.length > 0" class="director">
    <h2 class="h2 text-center" i18n="@@director">Director</h2>
    <div class="persons-list d-flex flex-wrap justify-content-center">
      <app-person-card
        [person]="person"
        *ngFor="let person of directorEmployees"
      ></app-person-card>
    </div>
  </div>

  <div id="deputies-persons" *ngIf="deputiesEmployees.length > 0 || isDeputiesLoading" class="deputies">
      <h2 class="h2 text-center" i18n="@@deputies">Deputies</h2>
      <div class="persons-list d-flex flex-wrap justify-content-center">
        <app-person-card
          [person]="person"
          *ngFor="let person of deputiesEmployees"
        ></app-person-card>
      </div>
  </div>

  <div
    class="administrative-accounting"
    id="administrative-accounting-persons"
    *ngIf="adminAccountingEmployees.length > 0 || isAdminAccountingLoading"
  >
    <h2 class="h2 text-center" i18n="@@administrativeAccounting">Administrative-accounting</h2>
    <div class="persons-list d-flex flex-wrap justify-content-center">
      <app-person-card
        [person]="person"
        *ngFor="let person of adminAccountingEmployees"
      ></app-person-card>
    </div>
  </div>

</div>

<app-spinner [name]="'administration'"></app-spinner>
