<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<div class="container">
  <div class="row">
    <app-slider></app-slider>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <h3>Новини</h3>
      <app-news-list></app-news-list>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <h3>Галерея</h3>
      <div class="card" style="width: 14.8rem;">
        <img class="card-img-top" src="assets/img/gallery.png" alt="Gallery">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <h3>Відео</h3>
      <div class="card" style="width: 14.8rem;">
        <iframe width="235" height="158" src="https://www.youtube.com/embed/KJ_HHRJf0xg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
</div>
</div>
