h3 {
  margin-bottom: 27px;
  margin-top: 32px;
  color: #df4a2b;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #484c4d;
  font-size: 14px;
}

@media (max-width: 992px) {
  h3{

  }

}
