@import "../../assets/variables";

h3 {
  font-size: 30px;
  font-family: $main-font;
  color: $hover-color;
  margin-bottom: 27px;
  margin-top: 32px;
}

p {
  color: $primary-color;
  font-size: 14px;
}

@media (max-width: 992px) {

  h3 {
    margin-top: 8px;
  }
}
