@import "~assets/variables";

h3 {
  font-size: 2.143rem;
  font-family: $main-font;
  color: $hover-color;
  margin-bottom: 27px;
  margin-top: 32px;
}

p {
  color: $primary-color;
  font-size: 1rem;
}

@media (max-width: 992px) {

  h3 {
    margin: 10px 0;
  }
}
