@import "../../assets/variables";

h2 {
  font-family: $main-font;
  font-size: 30px;
  font-weight: 100;
  color: $hover-color;
}
h3 {
  font-family: $main-font;
  font-size: 19px;

  margin-top: 20px;
}

.persons-list {
  margin-left: -11px;

  .person {
    width: 224px;
    height: 68px;
    border: 1px solid #c9c9c9;
    background-color: #F8F5F5;

    font-size: 12px;

    position: relative;
    margin: 0 0 6px 11px;

    img {
      width: 45px;
      height: 100%;
    }
    h4 {
      font-size: 18px;
      font-weight: 400;
      margin-left: 50px;

      position: absolute;
      top: 2px;
      left: 4px;
    }
    a {
      text-decoration: underline;

      position: absolute;
      right: 0;
      bottom: 18px;
      right: 5px;
    }
  }
}

ngb-pagination ::ng-deep ul {
  li a {
    color: #000;
  }
  li.active a {
    background-color: $hover-color !important;

    span {
      display: none;
    }
  }
}
