@import "~assets/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.persons-title {
  margin: 20px 0;
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: 100;
}

.persons-list {
  width: 57.143rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.person {
  position: relative;
  width: 10.429rem;
  height: 18.286rem;
  margin: 0 0 6px 9px;
  border: 1px solid $border-color;
  box-shadow: $typical-box-shadow;
  font-size: .857rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 14.286rem;
  }

  h4 {
    padding: 5px;
    font-size: 1.286rem;
    font-weight: 400;
    color: $secondary-color;
  }

  &:hover h4 {
    color: $main-color-darker;
  }

  .persons-button {
    margin: 10px 20px 0 auto;
    padding: 0;
    border: none;
    background: transparent;
    transition: .3s ease;

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      color: $hover-color;
    }
  }
}

@media screen and (max-width: 768px) {

  .container {
    width: 32.143rem !important;

    h2 {
      margin: 10px 0;
    }

    img {
      width: 420px !important;
    }

    .persons-title {
      margin: 10px 0;
    }

    .persons-list {
      width: 27.143rem !important;

      .person {
        width: 115px !important;
        height: 205px !important;
        font-size: .714rem;

        h4 {
          font-size: 15.5px !important;
        }

        img {
          height: 157px !important;
        }

        a {
          right: 23px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {

  .container {
    width: 320px !important;

    h2 {
      display: none;
    }

    .persons-photo {
      display: none;
    }

    .persons-list {
      width: 248px !important;
    }

    .persons-title {
      max-width: 250px;
    }
  }
}
