<div class="container">
  <h2 i18n="@@persons">Persons</h2>
  <img class="persons-photo" src="assets/images/persons.jpg" alt="">
  <h3 i18n="@@theatreTeam">Theatre team</h3>
  <section class="persons-list"
           infiniteScroll
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="600"
           (scrolled)="onScroll()">
    <a class="person" *ngFor="let person of employees" routerLink="{{ person.slug }}"
       itemscope itemtype="http://schema.org/Person">
      <img src="{{ person.avatar.employee_big.url }}" alt="photo">
      <h4  itemprop="name">{{ person.first_name }}<br>{{ person.last_name }}</h4>
    </a>
  </section>
  <app-spinner name="load-team"></app-spinner>
</div>
