$navbar-padding-x: 0;
$navbar-padding-y: 0;

$main-font: "Source Sans Pro", sans-serif;
$main-font-size: 2rem;

$primary-color: #3f3f3f;
$hover-color: #a2414f;
$danger: $hover-color;
$light-hover-color: rgba(255, 74, 43, .08);
$white-color: #fff;
$black-color: #000;
$yellow-color: #fff150;
$blue-color: #1f5080;
$green-color: #0e670b;
$sepia-bg: #f4e0c1;
$sepia-color: #80502b;
$inversion-bg: #88c2f7;
$inversion-color: #0f2c57;
$white-hover-color: rgba(255, 255, 255, .3);

$light-grayish-red: #f8f5f5;
$dark-grayish-red: #797777;
$light-gray: #c9c9c9;
$transparent-black: #000000dc;

$bg-widget: #4f4f4f;

$new-primary-color: #a2414f;
$new-success-color: #ffdf6c;
$new-secondary-color: #3f3f3f;
$new-dark-color: #202020;
$header-color-up: rgba(236, 83, 42, 1);
$header-color-down: rgba(196, 36, 46, 1);


$main-color-lighter: #fa231c;
$main-color: #d91213;
$main-color-darker: #9a0004;
