$main-font: "Source Sans Pro", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

$Montserrat: Montserrat;

$white-color: #fff;
$black-color: #000;

$background-main-color: #0e0c08;
$font-color-gold: #b49864;

$main-color-lighter: #fa231c;
$main-color: #d91213;
$main-color-darker: #9a0004;

$secondary-color: #2a2a2a;
$secondary-color-lighter: #777;

$border-color: #e7e7e7;
$typical-box-shadow: 0 0 9px 0 rgba(126,126,126,.16);
