.history {
  font-family: "robotoregular";

  .history-title {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .history-heading {
      margin: 0;
      font-size: 24px;
      color: #e54b2b;
    }

    .history-date {
      color: #868b8c;
      margin: 0;
      font-size: 18px;
    }
  }

  .history-main-picture {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    .history-main_img {
      width: 568px;
    }

    .history-main_img .img {
      display: block;
      margin: 0 auto 0 0;
      max-height: 280px;
    }

    .history-gallery {
      width: 400px;
    }

    .history-gallery .img {
      margin: 0 0 3px 3px;
      width: 128px;
    }
  }

  .performance {
    display: flex;
    justify-content: center;
  }

  .performance-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    list-style: none;

    .list-item {
      cursor: pointer;
      height: 218px;
      width: 106px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 2px;

      &:last-child {
        margin-right: 0;
      }
    }

    .list-item .img {
      width: 100%;
    }

    .list-item .title {
      font-size: 12px;
      background-color: #2a2a2a;
      display: flex;
      height: 60px;
      margin-bottom: 0;
    }

    .list-item .title .span {
      text-align: center;
      font-family: "robotothin";
      color: #fff;
      margin: auto;
    }
  }

  .history-main_text {
    color: #868b8c;
  }
}

@media screen and (max-width: 767px) {

  .history .history-main-picture {
    flex-wrap: wrap;
  }

  .history .history-main-picture .history-gallery {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }

  .history .history-main-picture .history-gallery .img {
    margin-left: 0;
  }

  .performance {
    margin: 0 auto;
    width: 324px;
  }
}

@media screen and (max-width: 349px) {

  .performance {
    width: 216px;
  }
}
