.history {

  .history-heading {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
    color: #e54b2b;
  }

  .history-main_img {
    display: block;
    max-height: 500px;
    margin: 0 auto;
  }
}

.img-wrap {
  margin: 16px auto;
  max-width: 800px;
}
