<div class="container">
  <app-spinner name="about-more"></app-spinner>
  <div class="history" *ngIf="history">
    <div class="history-title">
      <h2 class="page-title history-heading">{{ history.title }}</h2>
      <p class="history-date">{{ history.created_at | date:"dd.MM.yyyy" }}</p>
    </div>
    <div class="history-main_img">
      <img class="img" [src]='history.mainPicture.reference.url' alt="picture">
    </div>
    <div class="performance">
      <ul class="performance-list" *ngIf="history.performances">
        <li class="list-item" *ngFor="let item of history.performances" [routerLink]="[ '/performance', item.slug ]">
          <img class="img" [src]="item.mainPicture.performance_big.url" alt="performance picture">
          <p class="title"><span class="span">{{ item.title }}</span></p>
        </li>
      </ul>
    </div>
    <p class="history-main_text" [innerHtml]="history.text"></p>
  </div>
</div>
