@import "../../../assets/variables";

h1 {
  color: $hover-color;
}
.calendar-nav {
  flex-direction: column;
}
.title {
  margin: 60px auto 0;
  text-align: center;
}
.content {
  margin: 20px auto;
}
.btn-switch {
  margin: 0 200px;
}
.btn {
  color: $hover-color;
  border: 1px solid $hover-color;
}
.btn:hover {
  color: $white-color;
  background-color: $hover-color;
}
.row {
  width: 100%;
  margin: 0 auto 30px;
}
:host ::ng-deep {
  .cal-month-view .cal-day-cell.cal-today {
    background-color: $light-hover-color;
  }
  .cal-month-view .cal-header {
    font-weight: 400;
  }
  .cal-month-view .cal-header .cal-cell {
    background-color: $hover-color;
    color: $white-color;
  }
  .cal-month-view .cal-event, .cal-month-view .cal-day-badge {
    display: none;
  }
  .cal-month-view .cal-cell-row .cal-cell:hover,
  .cal-month-view .cal-cell.cal-has-events.cal-open {
    background-color: $light-hover-color;
  }
  .cal-month-view .cal-open-day-events {
    color: $white-color;
    background-color: $hover-color;
    box-shadow: inset 0 0 15px 0 rgba(28, 28, 28, 0.29);
    }
}
