@import "../../../assets/variables";

h1 {
  color: $hover-color;
}
.calendar-nav {
  flex-direction: column;
}
.title {
  margin: 60px auto 0;
  text-align: center;
}
.btn-switch {
  margin: 110px 60px 0;
}
.view-switch {
  margin: 110px 100px 0;
}
.btn {
  color: $hover-color;
  border: 1px solid $hover-color;
}
.btn:hover {
  color: #fff;
  background-color: $hover-color;
}
.row {
  width: 100%;
  margin: 0 auto 30px;
}
:host ::ng-deep {
  .cal-month-view .cal-day-cell.cal-today {
    background-color: rgba(255, 74, 43, 0.08);
  }
  .cal-month-view .cal-header {
    font-weight: 400;
  }
  .cal-month-view .cal-header .cal-cell {
    background-color: $hover-color;
    color: #fff;
  }
  .cal-month-view .cal-event, .cal-month-view .cal-day-badge {
    display: none;
  }
  .cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
    background-color: rgba(255, 74, 43, 0.08);
  }
}
