<div class="row calendar-nav">
  <div class="col-8 col-md-8 title">
    <h2>Poster for</h2>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>
  </div>
  <div class="col-8 col-md-8 content">
    <div class="btn-group btn-switch">
      <button
        class="btn"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </button>
      <button
        class="btn"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </button>
      <button
        class="btn"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </button>
    </div>
  </div>
  <div class="col-lg-12" *ngIf="scheduleList">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="scheduleList"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
      >
      </mwl-calendar-month-view>
    </div>
  </div>
</div>
