<div class="row calendar-nav">
  <div class="col-8 col-md-8 title">
    <h1>Poster for</h1>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-8 col-md-8 content">
    <div class="btn-group btn-switch">
      <div
        class="btn"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="scheduleList"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
      >
      </mwl-calendar-month-view>
    </div>
  </div>
</div>
<p>Here will be some debug:</p>
<ng-template [ngIf]="scheduleList.length">
  <p>Its available</p>
  <div *ngFor="let event of scheduleList">
      <ul>
        <li>What: {{event.performance.title}}</li>
        <li>When: {{event.year}}-{{event.month}}-{{event.day}} {{event.time}}</li>
        <li>Where: {{event.venue}}</li>
        <li>Img: <img src="{{event.performance.mainPicture.performance_small.url}}"></li>
      </ul>
  </div>
</ng-template>
<p>End of debug</p>
