@import "~assets/styles/variables";

.navbar-nav {
  font-size: .857rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.visually-impaired-button {
  margin: 0 5px;
  color: $white-color;

  &:hover {
    background-color: rgba($white-color, .3);
  }
}
