<ul class=" navbar-nav ">
  <li><a class="nav-link" routerLink="">Головна</a></li>
  <li><a class="nav-link" routerLink="poster">Афіша</a></li>
  <li><a class="nav-link" routerLink="repertoire">Репертуар</a></li>
  <li><a class="nav-link" routerLink="news">Новини</a></li>
  <li><a class="nav-link" routerLink="about"> Про театр </a></li>
  <li><a class="nav-link" routerLink="persons">Персоналії</a></li>
  <li><a class="nav-link" routerLink="contacts">Контакти</a></li>
  <li><a class="nav-link" routerLink="">Фестивалі</a></li>
  <!--for mobile-->
  <li><a class="nav-link forum" id="forum" href="http://forumua.org/">Форум</a></li>
  <!--<li><a class="nav-link hide"  routerlink="">Фотоархів</a></li>-->
  <!--<li><a class="nav-link hide" routerlink="">Відеоархів</a></li>-->
  <li><a class="nav-link hide"  id="mobile1" routerlink="board-trustees">Піклувальна рада</a></li>
  <li><a class="nav-link hide" id="mobile2" routerlink="partners">Партнери</a></li>
  <!--language-->
  <li><a class=" language" href="#">Укр</a></li>
  <!-- social -->
  <li><a class="fa-icon" href="#">
    <svg width="20" height="20" fill="blue">
      <use href="../../assets/images/facebook.svg#facebook"></use>
    </svg>
  </a></li>
</ul>

