<ul class=" navbar-nav ">
<li><a class="nav-link" routerLink="">Головна</a></li>
<li><a class="nav-link" routerLink="poster">Афіша</a></li>
<li><a class="nav-link" routerLink="repertoire">Репертуар</a></li>
<li><a class="nav-link" routerLink="news">Новини</a></li>
<li><a class="nav-link" routerLink="about"> Про театр </a></li>
<li><a class="nav-link" routerLink="persons">Персоналії</a></li>
<li><a class="nav-link" routerLink="contacts">Контакти</a></li>
<li><a class="nav-link" routerLink="">Фестивалі</a></li>
<li><a class="nav-link show__mobile-header" routerlink="">Фотоархів</a></li>
<li><a class="nav-link show__mobile-header" routerlink="">Відеоархів</a></li>
<li><a class="nav-link show__mobile-header" routerlink="">Піклувальна рада</a></li>
<li><a class="nav-link show__mobile-header" routerlink="">Партнери</a></li>
<li><a class="nav-link show__mobile-header" href="#">Форум</a></li>
</ul>

