@import "~assets/variables";

.navbar-nav {
  font-size: .857rem;
  font-family: $main-font;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.visually-impaired-button {
  appearance: none;
  border: none;
}
