@import "~assets/styles/variables";
@import "~assets/styles/_variables";
@import "~assets/styles/aboutStyles";

.roles__title{
  color: $font-color-accent;
}

.roles {
  display: flex;
  flex-direction: column;
  margin-top: 33px;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
    text-decoration: underline;
    line-height: 1.7;
  }
}

.role {
  margin-bottom: 4px;

  &__link {
    color: $secondary-color-lighter;
    transition: .3s ease;

    &:hover {
      text-decoration: none;
      transition: .3s ease;
    }
  }
}
