<svg display="none">
  <symbol id="calendar" viewBox="0 0 24 24">
    <path d="M11 12h6v6h-6v-6z" fill="#B49864"/>
    <path
      d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.001 16H5V8h14l.001 12z"
      fill="#B49864"/>
  </symbol>
  <symbol id="time" viewBox="0 0 24 24">
    <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm1-10V7h-2v7h6v-2h-4z"
          fill="#B49864"/>
  </symbol>
  <symbol id="hourglass" viewBox="0 0 24 24">
    <path
      d="M19 5c0 2.464-1.315 4.771-3.434 6.021-.354.208-.566.545-.566.9v.158c0 .354.212.691.567.901C17.685 14.229 19 16.536 19 19v1h1v2H4v-2h1v-1c0-2.464 1.315-4.771 3.434-6.021.354-.21.566-.546.566-.9v-.158c0-.355-.212-.692-.566-.9C6.315 9.771 5 7.464 5 5V4H4V2h16v2h-1v1z"
      fill="#B49864"/>
  </symbol>
  <symbol id="pin" viewBox="0 0 24 24">
    <path
      d="M18.364 17.364L12 23.728l-6.364-6.364c-1.259-1.259-2.116-2.862-2.463-4.608-.347-1.746-.17-3.556.512-5.2C4.366 5.91 5.52 4.506 7 3.516 8.48 2.529 10.22 2 12 2c1.78 0 3.52.528 5 1.517 1.48.989 2.634 2.394 3.315 4.039.681 1.644.86 3.454.512 5.2-.347 1.746-1.204 3.35-2.463 4.608zM12 13c.53 0 1.04-.21 1.414-.586C13.79 12.04 14 11.53 14 11c0-.53-.21-1.04-.586-1.414C13.04 9.21 12.53 9 12 9c-.53 0-1.04.21-1.414.586C10.21 9.96 10 10.469 10 11c0 .53.21 1.04.586 1.414.375.375.884.586 1.414.586z"
      fill="#B49864"/>
  </symbol>
  <symbol id="book" viewBox="0 0 24 24">
    <path
      d="M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5-1.95 0-4.05.4-5.5 1.5v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 1.2 0 2.4.15 3.5.5v11.5z"
      fill="#B49864"/>
  </symbol>
</svg>

<app-repertoire-nav-header></app-repertoire-nav-header>

<div class="container">
  <app-spinner name="performance-page"></app-spinner>

  <h2 class="page_title" i18n="@@performanceItem">Performance</h2>
  <h1 class="performance_title"> {{ performance?.title | titlecase }} </h1>

  <section *ngIf="performance" class="performance_body">

    <!--    TODO change ticket button-->

    <a class="ticket_button" href="https://widget.mticket.com.ua/uk/widget332site11795/widget/index"
       i18n="@@buyTicket" target="_blank">Buy ticket</a>

    <div class="performance_poster">
      <img [alt]="performance.mainPicture.performance_big.alt" [src]="performance.mainPicture.performance_big.url"
           [title]="performance.mainPicture.performance_big.properties.title">
      <div class="limit">
        {{ performance.age_limit + '+' }}
      </div>
    </div>

    <div class="performance_info">

      <!--      TODO add info-->

      <!--      <div class="main-info">-->
      <!--        <svg class="icon">-->
      <!--          <use xlink:href="#calendar"></use>-->
      <!--        </svg>-->
      <!--        <p class="info"></p>-->
      <!--      </div>-->
      <!--      <div class="main-info">-->
      <!--        <svg class="icon">-->
      <!--          <use xlink:href="#time"></use>-->
      <!--        </svg>-->
      <!--        <p class="info"></p>-->
      <!--      </div>-->
      <div class="main-info">
        <svg class="icon">
          <use xlink:href="#hourglass"></use>
        </svg>
        <p class="info">{{ performance.duration_in_min + ' хвилин' }}</p>
      </div>
      <!--      <div class="main-info">-->
      <!--        <svg class="icon">-->
      <!--          <use xlink:href="#pin"></use>-->
      <!--        </svg>-->
      <!--        <p class="info"></p>-->
      <!--      </div>-->
      <div class="main-info">
        <svg class="icon">
          <use xlink:href="#book"></use>
        </svg>
        <p class="info">{{ performance.type }}</p>
      </div>

      <div *ngIf="performance.producer" class="details">
        <p><span class="bold">Режисер:</span>
          <a class="link"
             routerLink="/persons/{{ performance.producer?.slug }}">{{ performance.producer?.first_name + ' ' + performance.producer?.last_name }}</a>
        </p>
      </div>

      <div class="details">
        <h4 class="details_title">Короткий зміст вистави</h4>
        <p [innerHtml]="performance.description"></p>
      </div>

      <div *ngIf="role" class="details">
        <h4 class="details_title">Дійові особи та виконавці</h4>
        <div *ngFor="let role of roles">
          <span>{{ role.title }} – </span>
          <a class="link" routerLink="/persons/{{ role.employee.slug }}">
            {{ role.employee.first_name + ' ' + role.employee.last_name }}
          </a>
        </div>
      </div>

      <div class="details flex">
        <span class="bold" i18n="@@seasons">Seasons:</span>
        <app-seasons *ngIf="performance" [performance]="performance"></app-seasons>
      </div>
    </div>
  </section>
</div>

  <section *ngIf="galleryImages.length" class="gallery">
    <h2 class="section_title" i18n="@@photogallery">Photo Gallery</h2>

    <div class="gallery_container">

      <ngx-gallery *ngIf="!loading" [images]="galleryImages" [options]="galleryOptions" class="ngx-gallery">
      </ngx-gallery>

      <ngx-gallery *ngIf="!loadingFull" [images]="galleryImages" [options]="galleryOptions" class="ngx-gallery">
      </ngx-gallery>

    </div>

    <a (click)="openGallery()" *ngIf="!loading && galleryImages.length > 4" class="more" i18n="@@morePhotos">
      More Photos ({{ '+' + amount }})
    </a>
    <a (click)="closeGallery()" *ngIf="!loadingFull" class="more" i18n="@@collapse">Collapse</a>

  </section>

  <!--   TODO section Recommendation-->

  <!--  <section class="recommendation">-->
  <!--    <h2 class="section_title">Також вас може зацікавити</h2>-->

  <!--  </section>-->

