@import "~assets/styles/variables";

.page_title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;

  @include font($creative-font, $font-largest, $font-color-accent, $font-weight-normal, 72px, normal)
}

.performance_title {
  text-align: center;

  @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, 60px, .8px)
}

.performance_body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  max-width: $container-width;
  margin: 30px auto 0;
  position: relative;
  padding: 0 5px 85px;

  @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, $line-height-basic, normal);
}

.main-info {
  margin: 0 20px 25px 0;
  display: flex;
}

.icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.details {
  margin-top: 40px;
}

.details_title {
  line-height: 25px;

  @include font($body-font-family, $font-size-medium, $font-color-accent, $font-weight-bold, 25px, normal)
}

.bold {
  font-weight: $font-weight-bold;
  margin-right: 16px;
}

.flex {
  display: flex;
}

.gallery {
  background-color: $background-main-color-darker;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $border-color-lighter;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

.more {
  text-decoration: none;
  text-align: center;
  margin: 30px 0 80px;

  @include font($body-font-family, $font-size-medium, $font-color-accent, $font-weight-bold, $line-height-basic, .36px)
}

.more:hover {
  cursor: pointer;
}

.performance_poster {
  position: relative;
}

.limit {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: $background-color-accent;
  display: flex;
  align-items: center;
  justify-content: center;

  @include font($body-font-family, $font-size-large, $font-color-white, $font-weight-bold, $line-height-basic, .48px)
}

.section_title {
  text-align: center;
  margin: 80px 0 30px;

  @include font($body-font-family, $font-size-xxx-large, $font-color-white, $font-weight-semi-bold, $line-height-basic, .8px)
}

.gallery_container {
  width: $container-width;
  max-width: 100%;
  margin: 0 auto;
}

.info {
  margin: 0;

  @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, $line-height-basic, normal)
}

.ticket_button {
  position: absolute;
  top: 0;
  right: 15px;
  padding: 10px 50px;
  text-decoration: none;

  @include border(1, solid, $border-color-light, 2px);
  @include font($body-font-family, $font-size-medium, $font-color-white, $font-weight-bold, $line-height-basic, .36px);

  &:hover {
    background-color: $background-main-color-lighter;
  }

  &:active {
    background-color: $background-color-white;
    color: $font-color-black;
  }
}

.link {
  text-decoration: underline;
  text-underline-offset: 3px;

  @include font($body-font-family, $font-size-medium, $font-color-primary, $font-weight-normal, $line-height-basic, normal)
}

::ng-deep .ngx-gallery-thumbnail.ngx-gallery-active {
  border: none !important;
}
