@import "../../../assets/variables";

ul {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 2.375rem;
  margin-top: 2rem;
  font-family: $main-font;
  margin-left: -2.8125rem;

  li {
    a {
      color: $primary-color;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: $hover-color;
        fill: $hover-color;
      }
      svg {
        margin-right: 8px;
      }
    }
  }
}


@media (max-width: 992px) {
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    li {
      margin-left: -1.875rem;
    }
  }
}

@media (max-width: 576px) {
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    li {
      margin-left: -1.875rem;

      span {
        display: none;
      }

      svg {
        width: 1.5625rem;
        height: 1.5625rem;
      }
    }
  }
}
