<ul class="side-menu">
  <li class="side-menu__item">
    <a routerLink="board-trustees" class="side-menu__link">
      <svg width="18" height="18" class="u-svg-icon side-menu__icon">
        <use href="assets/images/side-menu.svg#trustee"></use>
      </svg>
      <span i18n="@@trustees">Board of trustees</span>
    </a>
  </li>
  <li class="side-menu__item">
    <a routerLink="donate" class="side-menu__link">
      <svg width="20" height="20" class="u-svg-icon side-menu__icon">
        <use href="assets/images/side-menu.svg#donate"></use>
      </svg>
      <span i18n="@@donate">Donate</span>
    </a>
  </li>
</ul>
