<ul>
  <li>
    <a routerLink="board-trustees">
      <svg width="16" height="16">
        <use href="assets/images/side-menu.svg#trustee"></use>
      </svg>
      <span>Піклувальна рада</span>
    </a>
  </li>
  <li>
    <a routerLink="partners">
      <svg width="16" height="16">
        <use href="assets/images/side-menu.svg#partners"></use>
      </svg>
      <span>Партнери</span>
    </a>
  </li>
  <li>
    <a href="http://forumua.org/">
      <svg width="16" height="16">
        <use href="assets/images/side-menu.svg#chat"></use>
      </svg>
      <span>Форум</span>
    </a>
  </li>
</ul>
