<div class="container">
  <h2 class="page-title">Репертуар</h2>
  <app-spinner name="about"></app-spinner>
  <ul class="perfomances">
    <li class="perfomance-item" *ngFor="let item of perfomances">
      <a href="/performance/{{item.slug}}">
        <img class="image" [src]="item.mainPicture.performance_big.url"
             [alt]="item.mainPicture.performance_small.properties.alt">
        <h3 class="perfomance-title">
          {{item.title}}
        </h3>
      </a>
    </li>
  </ul>
</div>

