.card-title-stub {
  width: 70%;
  height: 1.5rem;
}
.stub {
  color: #fff;
  background: linear-gradient(-45deg, #ffffff, #c8c8c8);
  background-size: 400% 400%;
  -webkit-animation: Gradient 2s ease infinite;
  -moz-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
}

.card-text-stub {
  height: 0.75rem;
  margin-bottom: 0.2rem;
}

.text-stub1 {
  width: 90%;
}
.text-stub2 {
  width: 60%;
}
.text-stub3 {
  width: 75%;
}

@-webkit-keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}
